<app-header></app-header>
<div class="testimonials-page">
    <!-- banner section -->
    <section class="banner-testimonials">
        <div class="new-container">
            <div class="banner-content">
                <h1>Testimonials</h1>
                <div class="test-nav">
                    <a href="">Home</a>
                    <a href=""><img src="../../../assets/Vector 9.png" alt=""></a>
                    <a href="">Testimonials</a>
                </div>
            </div>
        </div>

    </section>
    <section class="rating-form">
        <div class="new-container">
            <div class="rating-stars-head">
            <h4 class="your-rating">Your Rating</h4>
            <div class="rating">
                <input type="radio" id="star5" name="rating" value="5">
                <label for="star5"></label>
                <input type="radio" id="star4" name="rating" value="4">
                <label for="star4"></label>
                <input type="radio" id="star3" name="rating" value="3">
                <label for="star3"></label>
                <input type="radio" id="star2" name="rating" value="2">
                <label for="star2"></label>
                <input type="radio" id="star1" name="rating" value="1">
                <label for="star1"></label>
            </div>
            </div>
            <div class="rating-form-content">
            
                <div class="form-wrape">
                    <form>
                        <div class="form-group">
                            <label for="formGroupExampleInput">Your Review</label>
                            <input type="text" class="form-control" id="formGroupExampleInput"
                                placeholder="Summarize your review">
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea">Example Textarea</label>
                            <textarea class="form-control form-control-lg" id="exampleTextarea" rows="5"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Working Experience</label>
                            <input type="text" class="form-control" id="formGroupExampleInput2"
                                placeholder="Tell us your name">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Your Email</label>
                            <input type="text" class="form-control" id="formGroupExampleInput2"
                                placeholder="Write your email">
                        </div>
                    </form>
                    <a id="btn" class="button" href=";">
                        <div class="learn-more">Submit your review</div>
                    </a>
                    <h2 class="s-head">What other says about us</h2>
                    <div class="review-part">
                        <div class="review-sec-head">
                            <h3 class="th-head">Awsome job from start to finish</h3>
                            <div class="review-head-wrape">
                                <div class="test-rating">
                                    <img class="star-img" src="../../../assets/star.png" alt="">
                                    <img class="star-img" src="../../../assets/star.png" alt="">
                                    <img class="star-img" src="../../../assets/star.png" alt="">
                                    <img class="star-img" src="../../../assets/star.png" alt="">
                                    <img class="star-img" src="../../../assets/Star5.png" alt="">
                                </div>
                                <div class="date"> March-20-2022</div>
                            </div>
                        </div>
                        <p class="test-para">
                            simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, <br>
                            <strong class="str">Paul-Judy Metzler</strong>
                        </p>
            
                        <div class="testimonials-line"></div>
                    </div>
                    <div class="review-part">
                        <div class="review-sec-head">
                            <h3 class="th-head">Awsome job from start to finish</h3>
                            <div class="review-head-wrape">
                                <div class="test-rating">
                                    <img class="star-img" src="../../../assets/star.png" alt="">
                                    <img class="star-img" src="../../../assets/star.png" alt="">
                                    <img class="star-img" src="../../../assets/star.png" alt="">
                                    <img class="star-img" src="../../../assets/star.png" alt="">
                                    <img class="star-img" src="../../../assets/Star5.png" alt="">
                                </div>
                                <div class="date"> March-20-2022</div>
                            </div>
                        </div>
                        <p class="test-para">
                            simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, <br>
                            <strong class="str">Paul-Judy Metzler</strong>
                        </p>
            
                        <div class="testimonials-line"></div>
                    </div>
                    <div class="review-part">
                        <div class="review-sec-head">
                            <h3 class="th-head">Awsome job from start to finish</h3>
                            <div class="review-head-wrape">
                                <div class="test-rating">
                                    <img class="star-img" src="../../../assets/star.png" alt="">
                                    <img class="star-img" src="../../../assets/star.png" alt="">
                                    <img class="star-img" src="../../../assets/star.png" alt="">
                                    <img class="star-img" src="../../../assets/star.png" alt="">
                                    <img class="star-img" src="../../../assets/Star5.png" alt="">
                                </div>
                                <div class="date"> March-20-2022</div>
                            </div>
                        </div>
                        <p class="test-para">
                            simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, <br>
                            <strong class="str">Paul-Judy Metzler</strong>
                        </p>
            
                        <div class="testimonials-line"></div>
                    </div>
                    <div class="review-part">
                        <div class="review-sec-head">
                            <h3 class="th-head">Awsome job from start to finish</h3>
                            <div class="review-head-wrape">
                                <div class="test-rating">
                                    <img class="star-img" src="../../../assets/star.png" alt="">
                                    <img class="star-img" src="../../../assets/star.png" alt="">
                                    <img class="star-img" src="../../../assets/star.png" alt="">
                                    <img class="star-img" src="../../../assets/star.png" alt="">
                                    <img class="star-img" src="../../../assets/Star5.png" alt="">
                                </div>
                                <div class="date"> March-20-2022</div>
                            </div>
                        </div>
                        <p class="test-para">
                            simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, <br>
                            <strong class="str">Paul-Judy Metzler</strong>
                        </p>
            
                        <div class="testimonials-line"></div>
                    </div>
                </div>
                <div class="form-img">
                    <img class="form-img-1" src="../../../assets/FormContents.png" alt="">
                    <img class="form-img-2" src="../../../assets/test-img2.png" alt="">
                    <div class="rating-2">
                        <input type="radio" id="option1" name="rating-2" value="1">
                        <label for="option1"></label>
                        <input type="radio" id="option2" name="rating-2" value="2">
                        <label for="option2"></label>
                        <input type="radio" id="option3" name="rating-2" value="3">
                        <label for="option3"></label>
                      </div>
                      <div class="rectangle-parent1">
                        <p class="let-begin-designing">
                          Looking for a affordable and reliable construction
                          company for your project?
                        </p>
                        <a href="#" class="get-a-quote">Get a Quote</a>
                      </div>
                </div>
                
            </div>
        </div>
    </section>
   

</div>
<app-footer></app-footer>
