.new-container {
    width: 100%;
    padding: 0px 10%;
}

/* banner testimonials */
.banner-testimonials{
    background-image:  linear-gradient(rgba(2, 90, 0, 0.6), rgba(2, 90, 0, 0.6)),url("../../../assets/testimonial.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 20vh;
}
.test-nav {
    display: flex;
    width: 160px;
    justify-content: space-between;
    padding: 0px 5px;
}
.banner-content {
    padding: 30px 10px;
}
.banner-content h1{
    font-size: var(--font-size-26xl);
    font-family:var(--h2-semibold);
    font-weight:600;
    color: var(--colors-white);
}
.banner-content a{
    color: var(--colors-white);
    text-decoration: none;
}
.rating-form {
    padding-top: 5%;
}
.your-rating{
    font-size: 16px;
    font-family: var(--text-md-regular);
    font-weight: 400;
}

.rating {
    width: 200px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0px 40px 0px;
  }
  
  .rating input {
    display: none;
  }
  
  .rating label {
    cursor: pointer;
    width: 35px;
    height: 35px;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-image: url("../../../assets/Star5.png");
    background-size: contain;
  }
  
  .rating label:hover,
  .rating label:hover ~ label,
  .rating input:checked ~ label {
   background-image: url("../../../assets/star.png");
   background-repeat: no-repeat;
}
.test-rating{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
    
    padding-right: 10px;
}
.button {
    background-color: var(--kraft-d-green);
    padding: 15px 10px;
    font-size: var(--font-size-xl);
    color: var(--colors-white);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#btn {
    width: 45%;
    border-radius: 6px;
}

.button:hover {
    text-decoration: none;
    color: var(--colors-white);
}
.rating-form-content{
    display:flex;
    justify-content: space-between;
}
.form-wrape{
    width: 100%;
}
.s-head{
    font-size:45px;
    font-weight:400;
    font-family:var(--h2-semibold);
    padding-top: 50px;
}
.th-head{
    font-size:20px;
    font-weight:600;
    font-family:var(--text-md-regular);
}
.str{
    font-size: 16px;
    font-weight: 700;
    font-family: var(--text-md-regular);
    line-height: 40px;
}
.date{
    font-size:14px;
    font-weight: 400;
    color:grey;
}
.star-img{
    width: 25px;
}
.review-sec-head{
    padding: 50px 0px 10px 0px;
}
.review-head-wrape{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.testimonials-line {
    width: 100%;
    border-top: 1px solid lightgrey;
}
.test-para{
    padding-top: 20px;
}

.rating-2 {
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    width: 12%;
}

.rating-2 input[type="radio"] {
    display: none;
}

.rating-2 label {
    width: 18%;
    height: 15px;
    margin-right: 5px;
    background-color: var(--kraft-d-green);
    ;
    border-radius: 50%;
    cursor: pointer;
}

.rating-2 input[type="radio"]:checked+label {
    background-color: var(--kraft-light-green);
}

.rating-2 {
    margin: 10px 170px;
    display: flex;
    justify-content: space-between;
    width: 12%;
}

.rating-2 input[type="radio"] {
    display: none;
}

.rating-2 label {
    width: 18%;
    height: 15px;
    margin-right: 5px;
    background-color: var(--kraft-d-green);
    ;
    border-radius: 50%;
    cursor: pointer;
}

.rating-2 input[type="radio"]:checked+label {
    background-color: var(--kraft-light-green);
}
.rectangle-parent1 {
  
    font-size: var(--font-size-xl);
    background-color: var(--kraft-d-green);
    border-radius: var(--br-8xs);
    padding: 6%;
    margin-top: 8%;
    width: 80%
}

.let-begin-designing {

    font-family: var(--h2-semibold);
    color: var(--colors-white);
    font-size: 20px;
    padding-top: 1.2%;
    margin-right: 2rem;
}

.get-a-quote {
    color: var(--colors-white);
    line-height: 24px;
    font-weight: 600;
    border-radius: var(--br-8xs);
    background-color: var(--kraft-d-green);
    border: 1px solid var(--colors-white);
    box-sizing: border-box;
    padding: 1.7% 4%;
    margin: 0px 30%;
}

.get-a-quote:hover {
    color: #fff;
    text-decoration: none;
}
.form-img{
    padding-left: 5%;
    width: 100%;
}
.form-img-2{
    margin-top: 10%;
}

/* media query */
@media (max-width: 59em) {

    .rating-form-content{
        display: flex;
        flex-direction: column;
    
    }
    .form-img{
        padding-left: 15%;
        width: 100%;
    }
    .form-img-1 {
        margin-left: -45px;
    }

}