<div class="home">
<div class = "heading">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">Users</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addUser" type="submit">Add User</button>

      </div>
    </div>
  </nav> 
</div>
<div class="desktop-3-item">
<table class="table">
<thead>   
     <tr>
        <th scope="col">Username</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
      </tr>
      
    </thead>
    <tbody>
      <tr>
        <th><img src = "" alt = ""> </th>
        <td>Oliver</td>
        <td>oliverjohngmailcom</td>
        <td>Administrator</td>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#editUser" >Edit</button>
        <button type="button" class="btn btn-secondary">Delete</button>
      </tr>
    </tbody>
  </table>
  </div>
  </div>
 <div>
   
      
      
</div>