<table class="table">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <th>1</th>
        <td>Oliver</td>
        <td>oliverjohngmailcom</td>
        <td>Administrator</td>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#editUser" >Edit</button>
        <button type="button" class="btn btn-secondary">Delete</button>
      </tr>
    </tbody>
  </table>