@import "~bootstrap/dist/css/bootstrap.css";

.service-page {
    padding: 25px 0px;
    width: 100%;
    background-color: #E8ECF3;
    height: 1100px;
}
.new-container {
    padding: 0px 2%;
}
.backgorund{
    background-color:#F5F5F5 ;
}

.table td{
    padding: 1.50rem 0.75rem;
}
.edit{
    margin: 7px 3px 0px 0px;
    width: 50px;
    background-color: #025A00;
    color: #fff;
}
.delete{
    background-color: #8B0000;
    color: #fff;
}
.card-shade {
    box-shadow: 2px 8px 4px 0px lightgray;
    /* height: 550px; */
}
@media (max-width: 47em) {
    .new-container {
        padding: 0px;
    }
    th {
        font-size: 13px;
    }
}

    