<app-header></app-header>
<div class="row">
  
  <div class="col"> 
  
        <div class="card text-bg-dark">
           <img id="my-img" src="../../../assets/images/aboutus2 1 (1).png" class="card-img" alt="...">
           <div class="card-img-overlay d-flex flex-column justify-content-center ">
              <h2>Interior Remodeling</h2>
           </div>
        </div>
     </div>
    </div>
  <div class="container">
    <div class="row">
      
      <div class="col-lg-4 col-md-6">
        <div class="card" style="width: 70%; background-color: var(--kraft-light-green); margin-top: 3.5rem;">
          <div class="card-header" style="color: var(--kraft-d-green);">
            <b>Our Services</b>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Custom Kitchens</li>
            <li class="list-group-item">Custom Baths</li>
            <li class="list-group-item">Basement Remodeling</li>
            <li class="list-group-item">Decks and Patios</li>
            <li class="list-group-item"><b>Interior Remodelling </b></li>
          </ul>
        </div>
      </div>
    
      <div class="col-lg-4 col-md-12">
        <div class="card" style="width: 100%; margin-top: 2rem;">
          <img src="../../../assets/img/before1 (1).png" class="card-img-top" alt="...">
          <div class="card-body" style="background-color: pink;">
            <h5 class="card-title">Before</h5>
          </div>
        </div>
      </div>
    
      <div class="col-lg-4 col-md-12">
        <div class="card" style="width: 100%; margin-top: 2rem;">
          <img src="../../../assets/img/after1 (1).png" class="card-img-top" alt="...">
          <div class="card-body" style="background-color: var(--kraft-light-green);">
            <h5 class="card-title">After</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-8 offset-md-3 col-lg-7 offset-lg-4">
          <p class="txt">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <ul>
            <li>Lower electric bills</li>
            <li>Lower heating and cooling bills</li>
            <li>Lower water bills</li>
            <li>Better in home air quality</li>
            <li>Higher re-sale values </li>
          </ul>
          <p class="txt">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-8 offset-md-1 col-lg-2">
    <div class="card text-center" style="width: 18rem;background-color: var(--kraft-light-green); right: 1rem;">
      <img src="../../../assets/images/Decks-and-Patioss 2 (1).png" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title" style="left:5.02%; color: white">Ruffner</h3>
        <p class="card-text"style="color: white">simply dummy text of the printing and typesetting industry..</p>
        <a href="#" class="btn btn-success">More Details</a>
      </div>
    </div>
    
    </div>
    <div class="col-sm-12 col-md-8 offset-md-1 col-lg-2">
      <div class="card text-center" style="width: 18rem;background-color: var(--kraft-light-green); right: 1rem;">
        <img src="../../../assets/images/kitchen 2.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title" style="left:5.02%; color: white">Gillium</h3>
          <p class="card-text"style="color: white">simply dummy text of the printing and typesetting industry..</p>
          <a href="#" class="btn btn-success">More Details</a>
        </div>
      </div>
      
      </div>
      <div class="col-sm-12 col-md-8 offset-md-1 col-lg-2">
        <div class="card text-center" style="width: 18rem;background-color: var(--kraft-light-green); right: 1rem;">
          <img src="../../../assets/images/new1-s 2.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title" style="left:5.02%;color: white">Bill</h3>
            <p class="card-text" style="color: white">simply dummy text of the printing and typesetting industry..</p>
            <a href="#" class="btn btn-success">More Details</a>
          </div>
        </div>
        
        </div>
        <div class="col-sm-12 col-md-8 offset-md-1 col-lg-2">
          <div class="card text-center" style="width: 18rem;background-color: var(--kraft-light-green); right: 1rem;">
            <img src="../../../assets/images/Decks-and-Patioss 2 (1).png" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title" style="left:5.02%; color: white;">Ruffner</h3>
              <p class="card-text"style="color: white">simply dummy text of the printing and typesetting industry..</p>
              <a href="#" class="btn btn-success">More Details</a>
            </div>
          </div>
          
          </div>
      
    </div>
    
    </div>
    

</div>
<div class="get-quote" style="margin-top: 5rem; margin-bottom: 5rem;">
  <div class="col-12 col-lg-8 offset-lg-2">
    <div class="card align-items-center justify-content-center">
      <div class="card-body">
        <p class="card-text">
          Looking for an affordable and reliable construction company for your project?
          <a href="/request-estimate" class="btn btn-success">Get a Quote</a>
        </p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>