<div class="home">
    <div class="instance-parent">
      <div class="rectangle-parent">
        <div class="instance-child"></div>
        <img
          class="decks-and-patioss-2-icon"
          alt=""
          src="../assets/images/Decks-and-Patioss 2.png"
        />
        <div class="simply-dummy-text">
          simply dummy text of the printing and typesetting industry.
        </div>
        <div class="ruffner">Gillum</div>
        <button class="instance-item"></button
        ><button class="more-details">More details</button>
      </div>
      <img class="kitchen-2-icon" alt="" src="../assets/images/kitchen 2.png" />
    </div>
    <div class="rectangle-group">
      <div class="instance-child"></div>
      <img
        class="decks-and-patioss-2-icon"
        alt=""
        src="../assets/images/Decks-and-Patioss 2.png"
      />
      <div class="simply-dummy-text">
        simply dummy text of the printing and typesetting industry.
      </div>
      <div class="ruffner">Bill</div>
      <button class="instance-item"></button
      ><button class="more-details">More details</button>
    </div>
    <img class="new1-s-2-icon" alt="" src="../assets/images/new1-s 2.png" />
    <div class="rectangle-container">
      <div class="instance-child"></div>
      <img
        class="decks-and-patioss-2-icon2"
        alt=""
        src="../assets/images/Decks-and-Patioss 2.png"
      />
      <div class="simply-dummy-text">
        simply dummy text of the printing and typesetting industry.
      </div>
      <div class="ruffner">Ruffner</div>
      <button class="instance-item"></button
      ><button class="more-details">More details</button>
    </div>
    <div class="group-div">
      <div class="instance-child"></div>
      <img
        class="decks-and-patioss-2-icon2"
        alt=""
        src="../assets/images/Decks-and-Patioss 2 (1).png"
      />
      <div class="simply-dummy-text">
        simply dummy text of the printing and typesetting industry.
      </div>
      <div class="ruffner">Ruffner</div>
      <button class="instance-item"></button
      ><button class="more-details">More details</button>
    </div>
    <div class="component-21">
        <div class="component-12">
             <div class="component-12-child"></div>
        <div class="component-12-item"></div>
        <div class="interior-remodeling2">Our Services</div>
        <div class="component-11">
           <div class="leed-home">Leed Home</div>
        </div>
        <div class="component-12-inner"></div>
      </div>
      <div class="component-111">
        <button class="custom-kitchens1">Custom Kitchens</button>
        <button class="custom-baths1">Custom Baths</button>
        <button class="basement-remodeling1">Basement Remodeling</button>
        <button class="decks-and-patios">Decks and Patios</button>
        <button class="interior-remodeling3"><b>interior remodeling</b></button>
      </div>
    </div>
    <div class="simply-dummy-text4">
      simply dummy text of the printing and typesetting industry. Lorem Ipsum
      has been the industry's standard dummy text ever since the 1500s, when
      an unknown printer took a galley of type and scrambled it to make a type
      specimen book. It has survived not only five centuries, but also the
      leap into electronic typesetting, remaining essentially unchanged. It
      was popularised in the 1960s with the release of Letraset sheets
      containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.
    </div>
    <div class="simply-dummy-text5">
      simply dummy text of the printing and typesetting industry. Lorem Ipsum
      has been the industry's standard dummy text ever since the 1500s, when
      an unknown printer took a galley of type and scrambled it to make a type
      specimen book. It has survived not only five centuries, but also the
      leap into electronic typesetting, remaining essentially unchanged. It
      was popularised in the 1960s with the release of Letraset sheets
      containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.
    </div>
    <div class="lower-electric-bills-container">
      <ul class="lower-electric-bills-lower-hea">
        <li class="lower-electric-bills">Lower electric bills</li>
        <li class="lower-electric-bills">Lower heating and cooling bills</li>
        <li class="lower-electric-bills">Lower water bills</li>
        <li class="lower-electric-bills">Better in home air quality</li>
        <li>Higher re-sale values</li>
      </ul>
    </div>
    <div class="home-inner">
      <div class="aboutus2-1-parent">
        <img
          class="aboutus2-1-icon"
          alt=""
          src="../assets/images/aboutus2 1 (1).png"
        /><img
          class="rectangle-icon"
          alt=""
          src="../assets/images/rectangle-47@2x.png"
        />
        <div class="interior-remodeling4">interior remodeling</div>
        <div class="home-services-interior-remodel-parent">
          <div class="home-services-interior">
          </div>
        </div>
      </div>
    </div>
    <div class="component-17">
      <div class="component-17-child"></div>
      <div class="component-17-inner">
        <div class="looking-for-a-affordable-and-r-parent">
          <div class="looking-for-a-container">
            <p class="looking-for-a">
              Looking for a affordable and reliable construction company for
              your project?
            </p>
          </div>
          <div class="rectangle-parent1">
            <button class="group-child3"></button
            ><button class="get-a-quote">Get a Quote</button>
          </div>
        </div>
      </div>
    </div>
    <div class ="home-item-10"></div>
    <img class="after1-icon" alt="" src="../assets/images/after1.png" />
    <div class="home-item"></div>
    <img class="before1-icon" alt="" src="../assets/images/before1.png" />
    <div class="before">Before</div>
    <div class="after">After</div>
  </div>