.new-container {
    width: 100%;
    padding: 0px 10%;
}

iframe.logo-2 {
    background-color: #fff;
    border-radius: 5px;
}

.footer-bacground {
    background-color: var(--kraft-d-green);
    width: 100%;
    height: 220px;
}

.about-us-wrape {
    display: flex;
    justify-content: center;
    gap: 2%;
}

.footer-detail-wrape {
    display: flex;
    justify-content: flex-start;
    gap: 49%;
}

.footer-links-wrape {
    width: 20%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.about-us {
    font-family: var(--h2-semibold);
    font-size: var(--font-size-xl);
    color: var(--colors-white);
    padding: 0px 15px;
    cursor: pointer;
}

.footer-line {
    width: 100%;
    border-top: 1px solid var(--colors-white);
    margin: 2% 0px;
}

.footer-side,
.footer-text {
    font-family: var(--text-md-regular);
    font-size: var(--text-md-regular-size);
    color: var(--colors-white);
    font-weight: 400;
    line-height: 24px;
    color: var(--colors-white);
}

.footer-text {
    width: 35%;
}

.group {
    width: 100%;
    display: flex;
    gap: 26%;
    justify-content: end;
}


@media (max-width: 72.5em) {
    .group {
        gap: 20%;
    }
}

/* media queries */
@media (max-width: 59em) {
    .footer-bacground {
        height: auto;
    }

    .img-logo {
        width: 125px;
    }

    .group {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 10px;
        align-items: center;
    }

    .footer-res {
        display: flex;
        align-items: center;
        flex-direction: column;

    }

    .footer-detail-wrape {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 14%;
    }

    .about-us-wrape {
        display: flex;
        /* align-items: center; */
        flex-direction: column;
        justify-content: center;
        text-align: left;
    }

    .footer-links-wrape {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .footer-text {
        width: 60%;
    }


}

@media (max-width: 47em) {
    .about-us {
        font-size: 15px;
    }

    .footer-detail-wrape {
        flex-direction: column;
    }

    .footer-text {
        font-size: 10px;
        width: 100%;
        text-align: center;
    }

    .footer-links-wrape {
        justify-content: center;
    }

    .footer-side {
        font-size: 11px;
    }


}