
<section class="footer-section">
    <div class="footer-bacground">
      <div class="new-container">

        <div class="group"><img class="img-logo" alt="hey" src="../../../assets/logo.png" /></div>
       <div class="footer-res">
        <div class="about-us-wrape">

          <div class="about-us">About Us</div>
          <div class="about-us">Interior Remodeling</div>
          <div class="about-us">New Additions</div>
          <div class="about-us">Careers</div>
          <div class="about-us">Testimonials</div>
          <div class="about-us">Payments</div>
          <div class="about-us">Contact us</div>
        </div>

        <div class="footer-line"></div>

        <div class="footer-detail-wrape">
          <div class="footer-text">
            © 2000 to 2023 Kraftconstruction. All rights reserved.
          </div>
          <div class="footer-links-wrape">
            <div class="footer-side">Terms</div>
            <div class="footer-side">Privacy</div>
            <div class="footer-side">Cookies</div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>