<div class="admin-about-us ">
    <form #addata ="ngForm" (ngSubmit)="submit(addata.value)"class="card-body ">
    <section class="first">
        <div class="new-container">
            <div class="card  card-shade">
                <div class="card-head">About us</div>
                
                
                    
                    <div class="content-wrape">
                        <div class="img-content">
                            <div class="img-box mb-3">
                                <img *ngIf="urllink"name ="imageUrl" class="img-dyn" ngModel src="{{this.urllink}}">
                            </div>
                            <div class="file-upload cardbtn">
                                <label for="file-input" class="custom-button">Upload Image</label>
                                <input type="file" id="file-input" class="input-file" ngModel name= "imageUrl" onchange="console.log(event.target.files)">
                                <!-- <input type="file" class="file-upload" onchange="console.log(event.target.files)"> -->
                            </div>
                        </div>
                        <div class="description">
                            <h3 class="card-head2">About us</h3>

                            <div class="textarea">
                                <textarea class="form-control form-control-lg  mb-3" ngModel name="description" id="exampleTextarea" rows="5"
                                    placeholder="Enter description"></textarea>
                            </div>

                        </div>
                         <div class="saveBtn mb-3 mt-5">

                <button class="save-btn" type="submit"> save</button>
             </div>
                    </div>
                
            </div>

        </div>
    </section>
    <section class="second">
        <div class="new-container">
            <div id="card-length" class="card card-shade ">

                <!-- <img class="bg-img img-width" [src]="urllink1" alt=""> -->
                
                    <div class="content-wrap">
                        <div class="img-content">
                            <div class="img-box mb-3">
                                <img *ngIf="urllink1" class="img-dyn" [src]="urllink1">
                            </div>
                            <div id="green-button" class="file-upload cardbtn">
                                <label for="file-input1" ngmodel class="custom-button">Upload Image</label>
                                <!-- <input type="file" id="file-input1"  class="input-file" (change)="selectFiles2($event)"> -->
                               <input type="file" id="file-input1" class="input-file" onchange="console.log(event.target.files)">
                            </div>
                        </div>
                        <div class="form1">
                            <input class="form-control"  type="text" ngModel name = "title" placeholder="Text on image">
                        </div>
                        <div class="saveBtn mb-3 mt-5">

                            <button class="save-btn" type="submit">save</button>
                         </div>
                     
                        
                    </div>
              
            </div>
        </div>
    
    </section>
    </form>
</div>
    
    
   