
    <div class="desktop-10">
      <div class="desktop-10-item"></div>
      <div class="save-and-cancel-smal">
        <div class="rectangle-parent2">
          <button class="rectangle-button"></button>
          <button class="save">Save</button>
        </div>
        <div class="rectangle-parent3">
          <div class="group-child3"></div>
          <button class="cancel">Cancel</button>
        </div>
      </div>
      <div class="input-field">
        <div class="input-field-base">
          <div class="input-field-base">
            <div class="label">Add Heading</div>
            <input class="input" type="text" />
          </div>
          <div class="hint-text">This is a hint text to help user.</div>
        </div>
      </div>
      <button class="desktop-10-inner">
        <div class="group-wrapper">
          <div class="group-wrapper">
            <div class="group-child4"></div>
            <div class="upload-image">Upload image</div>
          </div>
        </div>
      </button>
      <div class="textarea-input-field">
        <div class="textarea-input-field-base">
          <div class="textarea-input-field-base">
            <div class="label">Description</div>
            <input class="input1" type = "text"/>
           
          </div>
          <div class="hint-text">This is a hint text to help user.</div>
        </div>
      </div>
      <div class="input-field1">
        <div class="input-field-base">
          <div class="input-field-base">
            <div class="label">Add link</div>
            <input class="input" type="text" />
          </div>
          <div class="hint-text">This is a hint text to help user.</div>
        </div>
      </div>
    </div>

