.component-4-child,
.desktop-10-child {
  position: absolute;
  top: -1px;
  left: 0;
  /* background-color: var(--kraft-d-green); */
  width: 250px;
  height: 2302px;
}
.component-4,
.group-child2 {
  position: absolute;
  left: 0;
  width: 250px;
}
.component-4 {
  top: 55px;
  height: 988px;
  color: var(--white);
}
.group-child2 {
  top: 0;
  background-color: #014700;
  height: 40px;
}
.add-portfolio1 {
  position: absolute;
  height: 60.61%;
  width: 33.6%;
  top: 21.21%;
  left: 19.2%;
  line-height: 20px;
  display: inline-block;
}
.rectangle-parent1 {
  position: absolute;
  top: 607px;
  left: 0;
  width: 250px;
  height: 40px;
  color: var(--white);
}
.desktop-10-item {
  position: absolute;
  top: 97px;
  left: 271px;
  background-color: var(--white);
  box-shadow: var(--shdow-5);
  width: 858px;
  height: 607px;
}
.rectangle-button,
.save {
  cursor: pointer;
  border: 0;
  padding: 0;
  position: absolute;
}
.rectangle-button {
  background-color: var(--kraft-d-green);
  height: 40px;
  width: 150px;
  top: 389px;
  right: 20px;
  bottom: 0;
  left: -50px;
  border-radius: var(--br-8xs);
}
.save {
  background-color: transparent;
  width: 24.67%;
  top: 396px;
  left: 0;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-family: var(--text-sm-regular);
  color: var(--white);
  text-align: left;
  display: inline-block;
}

.group-child3 {
  width: 100%;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--gray);
}
.cancel {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 35.33%;
  top: 396px;
  left: -150px;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-family: var(--text-sm-regular);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.rectangle-parent3 {
  position: absolute;
  height: 100%;
  width: 48.7%;
  top: 0;
  right: 51.3%;
  bottom: 0;
  left: 0;
}
.save-and-cancel-smal {
  position: absolute;
  height: 1.74%;
  width: 22.81%;
  top: 26.6%;
  right: 17.93%;
  bottom: 71.66%;
  left: 59.26%;
}
.label {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.input {
  border: 1px solid var(--gray-300);
  background-color: var(--white);
  align-self: stretch;
  border-radius: var(--br-5xs);
  box-shadow: var(--shadow-xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-sm);
  align-items: center;
  justify-content: flex-start;
}
.hint-text {
  align-self: stretch;
  position: relative;
  font-size: var(--text-sm-regular-size);
  line-height: 20px;
  color: var(--gray-500);
  display: none;
}
.input-field,
.input-field-base {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-field-base {
  align-self: stretch;
  gap: var(--gap-7xs);
}
.input-field {
  position: absolute;
  top: 236px;
  left: 290px;
  width: 818px;
  font-family: var(--text-sm-regular);
}
.group-child4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--kraft-d-green);
  width: 172px;
  height: 40px;
}
.upload-image {
  position: absolute;
  top: 8px;
  left: 33px;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-family: var(--text-sm-regular);
  color: var(--white);
  text-align: left;
  display: inline-block;
  width: 105px;
  cursor: pointer;
  
}
.desktop-10-inner,
.group-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 172px;
  height: 40px;
}
.desktop-10-inner {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 178px;
  left: 289px;
}
.add-portfolio2 {
  position: absolute;
  top: 111px;
  left: 290px;
  font-size: var(--fonts-heading-h4-size);
  font-weight: 600;
  color: var(--color-black);
}
.line-div {
  position: absolute;
  top: 145.5px;
  left: 270.5px;
  border-top: 1px solid var(--border-event);
  box-sizing: border-box;
  width: 859px;
  height: 1px;
}
.image-icon,
.instance-child {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.instance-child {
  width: 100%;
  left: 0;
  background-color: var(--white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.image-icon {
  width: 29.25%;
  left: 70.75%;
  border-radius: 47px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-parent,
.koray-okumus {
  position: absolute;
  top: 29.55%;
  left: 0;
}
.image-parent {
  height: 61.11%;
  width: 13.28%;
  top: 19.44%;
  right: 1.99%;
  bottom: 19.44%;
  left: 84.73%;
}
.rectangle-parent5 {
  position: absolute;
  top: 1px;
  left: 250px;
  width: 1107px;
  height: 72px;
  color: var(--color-black);
}
.input1,
.text {
  align-self: stretch;
  flex: 1;
}
.text {
  position: relative;
  line-height: 24px;
}
.input1 {
  border-radius: var(--br-5xs);
  background-color: var(--white);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--gray-300);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-sm);
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-base);
  color: var(--gray-500);
}
.textarea-input-field,
.textarea-input-field-base {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.textarea-input-field-base {
  align-self: stretch;
  flex: 1;
  gap: var(--gap-7xs);
}
.textarea-input-field {
  top: 324px;
  left: 289px;
  width: 819px;
  height: 154px;
}
.input-field1,
.kraftconstructionkitchne,
.textarea-input-field {
  position: absolute;
  font-family: var(--text-sm-regular);
}
.input-field1 {
  top: 496px;
  left: 290px;
  width: 818px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.kraftconstructionkitchne {
  top: 531px;
  left: 304px;
  font-size: var(--font-size-base);
  line-height: 24px;
  color: var(--color-black);
}
.desktop-10 {
  /* position: relative; */
  background-color: #e8ecf3;
  width: 100%;
  height: 2301px;
  overflow: hidden;
  text-align: left;
  font-size: var(--heading-6-reguler-size);
  color: var(--color-gray);
  font-family: var(--heading-6-reguler);
}
#file-input {
  display: none;
}