    <div class="desktop-16">
      <div class="rectangle-parent">
        <div class="group-child"></div>
        <div class="input-dropdown">
          <div class="input-dropdown-base">
            <div class="input-with-label">
              <div class="label">User name</div>
              <input class="input" type="text" />
            </div>
          </div>
        </div>
        <div class="input-dropdown1">
          <div class="input-dropdown-base">
            <div class="input-with-label">
              <div class="label">Password</div>
              <input class="input1" type="password" />
            </div>
          </div>
        </div>
        <div class="kraft-construction-parent">
          <div class="kraft-construction">Kraft Construction</div>
          <img
            class="microsoftteams-image-28-2"
            alt=""
            src="../../../assets/logimg/MicrosoftTeams-image (28) 2.png"
          />
        </div>
        <button class="group-item"></button>
        <button class="login-now">Login now</button>
        <a class="request-for-id">Request for Id</a>
      </div>
    </div>
 
