
.btn {
  display: inline-block;
  background-color: var(--kraft-d-green);
  border-radius: 5px;
}
.root {
  background-color: var(--kraft-light-green);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-fluid {
  width: 100%;
  max-width: 100%;
}
.col-lg-5.justify-content-center.align-items-center {
  background-color: white;
  margin-left: 30%;
}

@media (max-width:576px)
{
  h2 {
    font-size: 14px;
  }  
  .form-label {
    font-size: 14px;
  }
  .form-control {
    padding: 0.375rem 0.5rem;
    font-size: 14px;
  }
  .col-lg-5.justify-content-center.align-items-center {
    background-color: white;
    margin-left: 0;
  }
}