<app-header></app-header>
<main>
    <!-- Banner Section -->
    <section class="banner-section">
      <div class="headline">
        <p>NOW HIRING!!! VISIT OUR CAREER PAGE TO APPLY TODAY!! This is a great chance to get a start in the
          industry.We
          will teach you the skills you need!</p>
      </div>
      <div class="slider">
        <h1 class="construction-solution">
         Remodeling for<br>your home
        </h1>
        <a class="button" href=";">
          <div class="learn-more">Learn more</div>
          <div class="long-arrow-alt-right"><img class="img-logo" src="../../../assets/long-arrow-alt-right.png" alt="">
          </div> 
        
        </a>
      </div>
    </section>
    <!-- Construct Section -->
    <section class="Construct-section">
      <div class="new-container">
        <div class="main-construct-wrap">
          <div class="content5">
            <h2 class="div3">+2005</h2>
            <h3 class="completed-projects">Completed Projects</h3>
          </div>
          <div class="content5">
            <h2 class="div3">50+</h2>
            <h3 class="completed-projects">Years of Expirience</h3>
          </div>
        
        </div>
      </div>


    </section>
    <!-- About Section -->
    <section class="About-section">
      <div class="new-container">
        <!-- about section content -->
        <div class="dream-home">
          <div class="content">
            <h2 class="About-heading">
              LET'S BEGIN DESIGNING <br>
              YOUR DREAM HOME ... TODAY!
            </h2>
            <h3>About us</h3>
            <p>
              Kraft Construction is a family-owned business that was founded in Cincinnati, Ohio in 1971.
              Over the years we have evolved into a residential remodeling company dedicated to helping
              homeowners create their dream spaces with our individualized design approach and our dedicated 
             employees working in your homes that have a combined 106 years of experience.
             
            </p>
            <a id="btn" class="button" routerLink="./about-us">
              <div class="learn-more">Learn more</div>
              <div class="long-arrow-alt-right"><img class="img-logo" src="../../../assets/long-arrow-alt-right.png" alt="">
              </div>
            </a>



          </div>
          <!-- about section image -->
          <div class="images-icon">
            <img class="img-logo" alt="" src="../../../assets/doubleImg.png" />
          </div>
        </div>
        <!-- green box -->
        <div class="rectangle-parent1">
          <div class="green-box-wrape">
          <p class="let-begin-designing">
            Looking for a affordable and reliable construction
            company for your project?
          </p>
          <a href="#" class="get-a-quote">Get a Quote</a>
        </div>
      </div>
      </div>
    </section>
    <!-- Services Section -->

    <section class="services-section">
      <div class="new-container">
        <!-- Our services section -->
        <div class="services-parent">
          <h2 class="our-services-include">Our Services Include</h2>
          <div class="services-wrap">
            <div class="component">
              <div class="kitchen-1-icon"><img class="img-logo" alt="" src="../../../assets/kitchen 1 (1).png" /></div>
              <h3 class="custom-kitchens">Custom Kitchens</h3>
              <p class="simply-dummy-text">
                simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the industry's standard
              </p>
              <a href="#" class="rectangle-group">
                <div class="read-more">Read more</div>
              </a>
            </div>
            <div class="component">
              <div class="kitchen-1-icon"><img class="img-logo1" alt="" src="../../../assets/newAddtion.png" /></div>
              <h3 class="custom-kitchens">New Additions</h3>
              <p class="simply-dummy-text">
                simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the industry's standard
              </p>
              <a routerLink="/new-additions" class="rectangle-group">
                <div class="read-more">Read more</div>
              </a>
            </div>
            <div class="component">
              <div class="kitchen-1-icon"><img class="img-logo" alt="" src="../../../assets/Decks-and-Patioss 1.png" />
              </div>
              <h3 class="custom-kitchens">Decks and Patios</h3>
              <p class="simply-dummy-text">
                simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the industry's standard
              </p>
              <a href="#" class="rectangle-group">
                <div class="read-more">Read more</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Our Client Section -->
    <section class="client-section">
      <div class="new-container">
        <h2 class="our-clients-say">Our Clients Say</h2>
        <div class="component-13">
          <div class="img-icon"><img class="img-logo" alt="" src="../../../assets/client3.png" /></div>
          <div class="client-content">
            <div class="bg6"><img id="eyes-img" class="img-logo" src="../../../assets/eyes.png" alt=""></div>
            <p class="client-Sec-Para">
              <strong class="strong-text">Suspendisse tortor enim, varius et porttitor sit amet,</strong>
              Suspendisse tortor enim, varius et porttitor sit amet, posuere vitae
              massa. Proin ac quam eu erat semper sagittis in vitae elit. Nam
              neque erat, semper vel ultrices in, finibus eu magna. Pellentesque
              habitant morbi tristique
            </p>
            <h3 class="katy-grey">Katy Grey</h3>
            <p class="ceo-grey-industries">CEO Grey Industries</p>
            <div class="rating">
              <input type="radio" id="option1" name="rating" value="1">
              <label for="option1"></label>
              <input type="radio" id="option2" name="rating" value="2">
              <label for="option2"></label>
              <input type="radio" id="option3" name="rating" value="3">
              <label for="option3"></label>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- special project Section -->
    <section class="special-project-section">
      <div class="new-container">
        <h2 class="our-special-projects">Our Special Projects</h2>
        <div class="rows-wrape">
        <div class="project-row">
          <div class="project-img"><img class="img-logo-project" alt="" src="../../../assets/kitchen 1 (1).png" /></div>
          <div class="project-img"><img class="img-logo-project" alt="" src="../../../assets/round-building-2.png" /></div>
          <div class="project-img"><img class="img-logo-project" alt="" src="../../../assets/office-building-3.png" /></div>
        </div>
        <div class="project-row">
          <div class="project-img"><img class="img-logo-project" alt="" src="../../../assets/xrdes-4.png" /></div>
          <div class="project-img"><img class="img-logo-project" alt="" src="../../../assets/Decks-5.png" /></div>
          <div class="project-img"><img class="img-logo-project" alt="" src="../../../assets/scott-webb-6.png" /></div>
        </div>
      </div>
      </div>
    </section>
    <!-- map Section -->
    <section class="map-section">
    </section>
    <!-- Contact section -->
    <section class="contact-section">
      <div class="new-container">
        <div class="contact-wrape">
          <div class="contact-box">
            <h3 class="address-heading">Our Address</h3>
            <p class="contact-para">
              Kraft Construction Company,<br>
              1437 Compton Road Cincinnati,
              OH 45231
            </p>
          </div>
          <div class="contact-res">
          <div class="icon"><img class="img-logo-phone" alt="" src="../../../assets/phone-icon.PNG" /></div>
          <div class="company-phones">
            <ul>
              <li> Company Phones</li>
              <li class="contact-details">513.522.2414</li>
              <li class="contact-details">Fax:513.522.2411</li>
            </ul>
          </div>
        </div>
        <div class="contact-res">
          <div class="icon"><img class="img-logo-phone" alt="" src="../../../assets/msg-icon.PNG" /></div>
          <div class="company-phones">
            <ul>
              <li>kraft construction Emails</li>
              <li class="dustrogmailcom">www.kraftconstructionco.com</li>
            </ul>
          </div>
          </div>
        </div>
      </div>
    </section>
  </main>
<app-footer></app-footer>