/* @import "~bootstrap/dist/css/bootstrap.css"; */

body {
    margin: 0;
    line-height: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    color: #fff;
}



.nav-bar {
    background-color: black;
}

.nav-bar a {
    color: white;
}

.nav-links li,
a {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

.logo {
    width: 11%;
}

.img-logo {
    width: 100%;
}

.img-logofor {
    width: 100%;
    height: 200px;
}

.img-test {
    width: 100%;
}

.img-logo-project {
    width: 100%;
    height: 300px;
}

.img-logo1 {
    width: 100%;
    height: 8em;
}

.img-logo-phone {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

p {
    color: #91C490;
    font-size: 12px;
}

.nav-bar {
    padding: 10px 0px;
}

.new-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-container {
    width: 100%;
    padding: 0px 10%;
}

.nav-links {
    list-style: none;
    margin: 0px;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.cta {
    padding: 10px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.cta a {
    color: white;
    text-decoration: none;
}

.cta-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pad {
    padding: 0px 5px;
}

.black {
    color: black;
}

.logo {
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
}

/* for 2nd section */

.nav-bar-2 {
    padding: 10px 0px;
    background-color: whitesmoke;
}

.nav-links-2 {
    display: flex;
    align-items: center;
    list-style: none;
}

.drop-down {
    padding: 0px;
    margin-left: -20px;
}

a {
    cursor: pointer;
}

.nav-links-2 a {
    cursor: pointer;
    padding: 0px 13px;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.drop-down {
    position: relative;
}

.drop-down-content {
    width: 241px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #fff;
    padding: 0.5rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.drop-down:hover .drop-down-content {
    display: block;
}

.drop-down-content a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: #333;
}

.drop-down-content a:hover {
    background-color: #f1f1f1;
}

/* Banner Section*/

.banner-section {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 87vh;

}

.headline {
    margin-top: -10px;
    z-index: 1;
}

.headline marquee {
    font-size: var(--font-size-sm);
    margin: 0px;
    padding: 0px;
}

.slider {
    padding: 110px 0px 0px 80px;
}

.reliable {
    font-size: 50px;
    font-weight: 500;
    font-family: var(--h2-semibold);
}

.construction-solution {
    font-size: 62px;
    font-weight: 600;
    line-height: 60px;
    margin-bottom: 39px;
    font-family: sans-serif;
    color: #fff;
}

.span {
    font-weight: 600;
}

.with-our-knowledge-container {
    /* position: absolute; */
    width: 95%;
    font-size: var(--font-size-26xl);
    line-height: 64px;
    text-transform: capitalize;
    font-weight: 600;
    display: inline-block;
}

.learn-more {
    margin-right: 10px;
    top: calc(50% - 12px);
    line-height: 24px;
    display: inline-block;
    text-decoration: none;
    color: #fff
}

.learn-more:hover {
    color: #fff
}

.button,
.content1 {
    background-color: var(--kraft-d-green);
}

.content1 {
    height: 100%;
    width: 100%;
}

.button {
    padding: 15px 10px;
    font-size: var(--font-size-xl);
    color: var(--colors-white);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    text-decoration: none;
}

#btn {
    width: 28%;
    border-radius: 6px;
}

.button:hover {
    text-decoration: none;
    color: var(--colors-white);
}

/* about-section */
.About-section {
    padding: 83px 0px 57px 0px;
}

.dream-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.About-heading {
    font-family: sans-serif;
    color: var(--colors-primary-black);
    font-size: 41px;
    line-height: 64px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 10%;
}

.content {
    width: 50%;
}

.img-dyn {
    width: 85%;
    height: 235px;
}

.content p {
    font-family: var(--paragraph-regular);
    font-weight: 400;
    line-height: 28px;
    font-size: 17px;
    display: inline-block;
    font-family: var(--paragraph-regular);
    color: var(--color-darkslateblue);
    width: 75%;
}

.content h3 {
    font-family: var(--paragraph-regular);
    line-height: 28px;
    font-weight: 700;
    font-size: 17px;
}

.line {
    height: 1.48%;
    width: 100%;
    right: 0;
    bottom: 98.52%;
    background-color: var(--kraft-d-green);
}

/* Construct Section */
.Construct-section {
    margin-bottom: 0em;
}

.main-construct-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.completed-projects {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    font-family: var(--h2-semibold);
    color: #fff;
}

.div3 {
    font-size: 68px;
    line-height: 60px;
    font-weight: 700;
    color: #fff;
}

.content5 {
    background-color: var(--kraft-light-green);
    width: 300px;
    height: 175px;
    padding: 31px 46px 45px 51px;
}

.content5:first-child {
    background-color: var(--kraft-d-green);
}

.bg3,
.projects {
    position: absolute;
    width: 290px;
    height: 182px;
}

.projects {
    top: 747px;
    left: 200px;
    font-size: var(--font-size-3xl);
    color: var(--color-whitesmoke-100);
}

.bg3 {
    top: 0;
    left: 0;
    background-color: var(--kraft-light-green);
}


/* section construct content */
.construct-content {
    border-top: 6px solid var(--kraft-d-green);
    background-color: #fff;
    padding: 10px;
    box-shadow: 5px 10px 18px lightgrey;
    width: 42%;
    margin-top: -14em;
}

.construct-content h2 {
    font-size: 30px;
    line-height: 38px;
    font-weight: 600;
    font-family: var(--h2-semibold);
    color: var(--kraft-d-green);
    text-align: center;
    width: 95%;
    margin-bottom: 15px;
}

.construct-text {
    width: 67%;
    ;
}

.construct-img {
    margin-right: 23.65px;
}

.construct-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.construct-text h3 {
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    font-family: var(--h2-semibold);
    color: var(--kraft-d-green);
    margin: 0px;
}

.construct-text p {
    font-size: 17px;
    line-height: 21.5px;
    font-weight: 500;
    font-family: var(--h2-semibold);
    color: var(--primary-dark);
}

.images-icon {
    width: 40%;
}

.rectangle-parent1 {
    font-size: var(--font-size-xl);
    background-color: var(--kraft-d-green);
    border-radius: var(--br-8xs);
    padding: 24px 0px;
    margin-top: 8%;
    display: flex;
    justify-content: center;
}

.green-box-wrape {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 850px;
}

.let-begin-designing {

    font-family: var(--h2-semibold);
    color: var(--colors-white);
    font-size: 20px;
    padding-top: 1.2%;
    margin-right: 2rem;
}

.get-a-quote {
    color: var(--colors-white);
    line-height: 24px;
    font-weight: 600;
    border-radius: var(--br-8xs);
    background-color: var(--kraft-d-green);
    border: 1px solid var(--colors-white);
    box-sizing: border-box;
    padding: 1.7% 4%;
    text-decoration: none;
}

.get-a-quote:hover {
    color: #fff;
    text-decoration: none;
}

/* our services section */
.services-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kitchen-1-icon {
    width: 100%;
}

.services-section {
    width: 100%;
    background-color: #EFF2F5;

}

.services-parent {
    text-align: center;
    font-size: var(--font-size-5xl);
    color: var(--kraft-d-green);
}

.custom-kitchens,
.our-services-include {
    line-height: 40px;
    padding: 3% 0px;
}

.our-services-include {
    font-size: var(--font-size-26xl);
    font-weight: 700;
    text-transform: capitalize;
    color: var(--color-black);
    font-family: sans-serif;
}

.custom-kitchens {
    font-size: 24px;
}

.simply-dummy-text {
    height: 25%;
    width: 96.57%;
    font-size: var(--paragraph-regular-size);
    line-height: 25px;
    font-family: var(--paragraph-regular);
    color: var(--color-darkslategray);
    overflow: hidden;
}

.read-more {
    font-size: 85%;
    font-weight: 400;
    font-family: var(--h2-semibold);
    text-align: center;
    width: 40%;
    line-height: 40px;
    border-radius: var(--br-8xs);
    background-color: var(--kraft-d-green);
    padding: 1.5% 3%;
    text-decoration: none;
    color: #fff
}

.read-more:hover {
    color: #fff;

}

.rectangle-group {
    font-size: var(--font-size-xl);
    color: var(--colors-white);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

}

.rectangle-group:hover {
    color: #fff;
    text-decoration: none;

}

.component {
    width: 30%;
    height: 600px;
}

/* our client section */
.client-section {
    padding: 3% 0px;
}

.our-clients-say {
    font-weight: 700;
    text-align: center;
    font-size: var(--font-size-26xl);
    color: var(--color-black);
    margin-bottom: 4%;
    font-family: sans-serif;
}

.img-icon {
    box-shadow: 5px 10px 22px lightgrey;
    border: 19px solid white;
    width: 37.86%;
}

.bg6 {
    width: 15%;
    margin-bottom: 10%;
    background-color: var(--kraft-light-green);
}

#eyes-img {
    height: 15%;
    width: 50%;
    margin: 26%;
}

.client-content {
    display: block;
    width: 55%;
    padding-top: 10%;
}

.client-Sec-Para {
    width: 80%;
    font-size: var(--paragraph-regular-size);
    line-height: 20px;
    color: var(--color-darkslategray);
    margin-top: 10%;
}

.ceo-grey-industries,
.katy-grey {
    font-family: var(--h2-semibold);
}

.katy-grey {
    width: 22%;
    font-size: var(--font-size-3xl);
    line-height: 30px;
    font-weight: 500;
    color: var(--kraft-d-green);
}

.ceo-grey-industries {
    width: 25%;
    font-size: var(--font-size-sm);
    line-height: 10px;
    color: var(--kraft-light-green);
}

.rating {
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    width: 12%;
}

.rating input[type="radio"] {
    display: none;
}

.rating label {
    width: 18%;
    height: 15px;
    margin-right: 5px;
    background-color: var(--kraft-d-green);
    ;
    border-radius: 50%;
    cursor: pointer;
}

.rating input[type="radio"]:checked+label {
    background-color: var(--kraft-light-green);
}

.rating {
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    width: 12%;
}

.rating input[type="radio"] {
    display: none;
}

.rating label {
    width: 18%;
    height: 15px;
    margin-right: 5px;
    background-color: var(--kraft-d-green);
    ;
    border-radius: 50%;
    cursor: pointer;
}

.rating input[type="radio"]:checked+label {
    background-color: var(--kraft-light-green);
}


.strong-text {
    font-size: var(--font-size-xl);
    line-height: 35px;
    font-weight: 600;
    color: var(--primary-dark);
}

.component-13 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
    width: 100%;
    font-size: var(--font-size-13xl);
    color: var(--colors-white);
    font-family: var(--paragraph-regular);
}

/* special project section */
.special-project-section {
    padding: 2% 0px;
}

.project-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 0px;
}

.our-special-projects {
    width: 100%;
    text-align: center;
    font-size: var(--font-size-26xl);
    color: var(--color-black);
    line-height: 64px;
    font-weight: 700;
    margin-bottom: 1.5%;
    font-family: sans-serif;
}

.project-img {
    height: 290px;
    width: 32%;
}

/* map */
.map-section {
    width: 100%;
    background-image: url(../../../assets/map.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}


/* contact section */
.contact-res {
    display: flex;
    align-items: center;
}

.contact-wrape {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-box {
    border-top: 6px solid var(--kraft-d-green);
    background-color: #fff;
    padding: 10px;
    box-shadow: 5px 10px 18px lightgrey;
    width: 400px;
    padding: 45px 0px 45px 40px;
    margin-top: -8em;
}

.address-heading {
    font-size: 32px;
    font-weight: 600;
    font-family: var(--h2-semibold);
    color: #41444B;
    line-height: 25px;
}

.icon {
    width: 20%;
    margin: 0px 4%;
}

.company-phones {
    font-size: var(--font-size-xs);
    line-height: 15px;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--color-darkslategray);
}

.company-phones ul {
    list-style: none
}

.dustrogmailcom {
    font-weight: 600;
    text-decoration: underline;
    line-height: 25px;
    text-transform: uppercase;
    color: var(--color-darkslategray);
}

.contact-wrap {
    position: absolute;
    top: 4433px;
    left: 214px;
    width: 1000px;
    height: 285px;
    font-size: var(--font-size-5xl);
    color: var(--color-black);
    font-family: var(--font-font-awesome-5-free);
}

.contact-para {
    font-family: var(--h2-semibold);
    color: var(--color-black);
    font-size: var(--font-size-xl);
}

.contact-details {
    font-family: var(--h2-semibold);
    color: var(--color-black);
    font-size: 20px;
    text-transform: capitalize;
    padding-top: 10px;
}

.contact-section {
    padding: 0px 0px 90px 0px;
}

/* footer */
.footer-section {
    padding: 5% 0px 10% 0px;
}

.footer-bacground {
    background-color: var(--kraft-d-green);
    width: 100%;
    height: 290px;
}

.about-us-wrape {
    display: flex;
    justify-content: center;
    gap: var(--gap-13xl);
}

.footer-detail-wrape {
    display: flex;
    justify-content: flex-start;
    gap: 49%;
}

.footer-links-wrape {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.about-us {
    font-family: var(--h2-semibold);
    font-size: var(--font-size-xl);
    color: var(--colors-white)
}

.footer-line {
    width: 100%;
    border-top: 1px solid var(--colors-white);
    margin: 2% 0px;
}

.footer-side,
.footer-text {
    font-family: var(--text-md-regular);
    font-size: var(--text-md-regular-size);
    color: var(--colors-white);
    font-weight: 400;
    line-height: 24px;
    color: var(--colors-white);
}

.footer-text {
    width: 35%;
}

.group {
    width: 13%;
    margin: 15px 43%;
    padding: 10px 0px 0px 0px;

}

.slide-container {
    position: relative;
    width: 55%;
    height: 300px;
}

.slide {
    /* display: flex; */
    transition: transform 0.3s ease-in-out;
}

.slide-item {
    width: 80%;
}

.dot-indicators {
    display: flex;
    margin-top: 50px;
}

.dot-indicators span {
    width: 15px;
    height: 15px;
    background-color: #aaa;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.dot-indicators span.active {
    background-color: #333;
}

.heading {
    font-size: 19;
    font-weight: 600;
}

/* media queries */
@media (max-width: 72.5em) {
    .button {
        width: 23%;
    }

    #btn {
        width: 35%;
    }

    .rectangle-parent1 {
        padding: 15px 0px;
    }

    .green-box-wrape {
        justify-content: center;
        padding: 10px;
    }

    .let-begin-designing {
        margin-right: 10px;
    }

    .get-a-quote {
        padding: 12px 10px;
        width: 115px;
    }

    .read-more {
        padding: 0px;
    }
}

@media (max-width: 59em) {
    .banner-section {
        padding-top: 7.4em;
    }

    .logo {
        width: 160px;
    }

    .nav-bar,
    .nav-bar-2 {
        display: none;
    }

    .services-wrap {
        display: flex;
        flex-direction: column;
    }

    .component {
        width: 100%;
    }

    .component-13 {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }

    .img-icon {
        width: 80%;
    }

    .img-logo1 {
        width: 80%;
        height: 11em;
    }

    .client-content {
        width: 80%;
    }

    .project-row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .project-img {
        width: 90%;
        margin-bottom: 5%;
    }

    .img-logo-project {
        width: 100%;
    }

    .contact-wrape {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .contact-box {
        width: 310px;
        padding: 26px 5px 25px 25px;
        margin-top: -5em;
    }

    .contact-res {
        padding: 3% 0px 1% 0px;
    }

    .footer-res {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

    }

    .footer-detail-wrape {
        direction: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .about-us-wrape {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

    }

    .footer-links-wrape {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .construct-content {
        width: 80%;
        margin-top: 10em;
        margin-left: -29em;
    }

    .content5 {
        width: 45%;
    }

    .dream-home {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content {
        width: 100%;
    }

    .images-icon {

        width: 100%;
        padding: 5%;

    }

    .button {
        width: 35%;
    }

    .span {
        font-weight: 600;
        line-height: 62px;
        width: 60%;
    }

    .banner-section {
        height: 70vh;
    }

}

@media (max-width: 52em) {
    .footer-bacground {
        height: 264px;
    }

    .get-a-quote {
        width: 182px;
    }

    .contact-wrape {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .green-box-wrape {
        padding: 0px 20px
    }

    .contact-box {
        width: 310px;
        padding: 26px 5px 25px 25px;
        margin-top: -5em;
    }

    .contact-res {
        padding: 3% 0px 1% 0px;
    }

    .map-section {
        background-size: cover;
        height: 28vh;
    }
}

@media (max-width: 47em) {
    .headline marquee {
        font-size: 10px;
    }

    .slider {
        padding: 110px 0px 0px 0px;
    }

    .construction-solution {
        font-size: 36px;
    }

    .button {
        width: 42%;
        font-size: 16px;
    }

    .div3 {
        font-size: 50px;
    }

    .content5 {
        width: 55%;
        padding: 30px 15px 0px 15px;
        height: 155px;
    }

    #btn {
        width: 42%;
    }

    .About-heading {
        font-size: 32px;
        line-height: 50px;
    }

    .let-begin-designing {
        font-size: 14px;
    }

    .get-a-quote {
        font-weight: 500;
        font-size: 15px;
        padding: 6px 4px;
    }

    .our-services-include {
        font-size: 28px;
        font-weight: 600;
    }

    .our-clients-say {
        font-size: 28px;
        font-weight: 600;
    }

    .our-special-projects {
        font-size: 28px;
        font-weight: 600;
    }

    .rating {
        width: 15%;
    }

    .img-logo1 {
        width: 100%;
        height: 8em;
    }

    .img-logo-project {

        height: 250px;
    }

    .content p {
        width: 100%;
        font-size: 14px;
    }

    .client-Sec-Para {
        width: 100%;
    }

    .simply-dummy-text {
        font-size: 13px;
    }

    .client-Sec-Para {
        font-size: 14;
    }

    .katy-grey {
        width: 40%;
        font-size: 16px;
    }

    .completed-projects {
        font-size: 13px;
    }

    .address-heading {
        font-size: 25px;
    }

    .contact-para {
        font-size: 16px;
    }

    .contact-details {
        font-size: 15px;
    }

}