<div class="home">
    <img class="map-icon" alt="" src="../assets/conusimg/map@2x.png" />
    <form class="container">
      <div class="content">
        <div class="content1">
          <div class="heading-and-supporting-text">
            <div class="supporting-text">
              Our friendly team would love to hear from you.
            </div>
          </div>
          <div class="form">
            <div class="form-fields">
              <div class="row">
                <div class="input-field">
                  <div class="input-field-base">
                    <div class="input-field-base">
                      <div class="label">First name </div>
                      <input class="input" type="text" placeholder="First Name"/>
                    </div>
                    <div class="hint-text">
                      This is a hint text to help user.
                    </div>
                  </div>
                </div>
                <div class="input-field">
                  <div class="input-field-base">
                    <div class="input-field-base">
                      <div class="label">Last name</div>
                      <input class="input" type="text" placeholder="Last Name" />
                    </div>
                    <div class="hint-text">
                      This is a hint text to help user.
                    </div>
                  </div>
                </div>
              </div>
              <div class="heading-and-supporting-text">
                <div class="input-field-base">
                  <div class="input-field-base">
                    <div class="label">Email</div>
                    <input class="input" type="email" placeholder="you@company.name"/>
                  </div>
                  <div class="hint-text">
                    This is a hint text to help user.
                  </div>
                </div>
              </div>
              <div class="heading-and-supporting-text">
                <div class="input-field-base">
                  <div class="input-field-base">
                    <div class="label">Phone number</div>
                    <div class="input3">
                       <div class="dropdown"> 
                        <select class="dropdown-text">
                          <option value="dropdown-text">US</option>
                      
                      </select>
                      </div>
                    
                      <input class="text-input" type="number" placeholder="+1(555) 000-000" />
                    </div>
                  </div>
        
                </div>
              </div>
            
            <div class="input-field-base">
              <div class="label">Message</div>
              <textarea class="textarea-input-field"></textarea>
            </div>
            </div>
          
            <button class="actions">
              <div class="button">
                <div class="button-base">
                  <div class="text">Send message</div>
                </div>
              </div>
            </button>
          </div>
        </div>
      </div>
      <img class="image-icon" alt="" src="../assets/conusimg/image@2x.png" />
    </form>
    <div class="home-inner">
      <div class="emails-parent">
        <div class="emails">
          <div class="content2">
            <div class="dustrogmailcom">www.kraftconstructionco.com</div>
            <div class="dustro-emails">kraft construction Emails</div>
          </div>
          <img class="icon" alt="" src="../assets/conusimg/icon.svg" />
        </div>
        <div class="address-wrapper">
          <div class="address">
            <div class="bg"></div>
            <div class="line"></div>
            <div class="content3">
              <div class="themeforest-envato">
                <p class="kraft-construction-company">
                  Kraft Construction Company
                </p>
                <p class="kraft-construction-company">
                  1437 Compton Road Cincinnati, OH 45231
                </p>
              </div>
              <div class="company-address">
                <span class="our">Our</span><span class="a"> A</span
                ><span class="our">ddress</span>
              </div>
            </div>
          </div>
        </div>
        <div class="phone">
          <img class="icon1" alt="" src="../assets/conusimg/icon1.svg" />
          <div class="content4">
            <div class="div">+ 1 234 5678 098</div>
            <div class="div1">+ 1 634 7638 654</div>
            <div class="company-phones">Company Phones</div>
            <div class="themeforest-envato1">
              <p class="kraft-construction-company">513.522.2414</p>
              <p class="kraft-construction-company">Fax: 513.522.2411</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="our-location">Our Location</div>
    <div class="component-8">
      <img class="top-bar-icon" alt="" src="../assets/conusimg/top-bar.svg" />
      <div class="component-8-child"></div>
      <div class="microsoftteams-image-28-2-wrapper">
        <img
          class="microsoftteams-image-28-2"
          alt=""
          src="../assets/conusimg/microsoftteamsimage-28-2@2x.png"
        />
      </div>
      
      <img class="vector-icon1" alt="" src="../assets/conusimg/vector-9.svg" />
    </div>
    <img class="home-child" alt="" src="../assets/conusimg/group-78@2x.png" />
    <div class="contact-us-parent">
      <div class="contact-us2">Contact us</div>
      <div class="home-contact-us-parent">
        <div class="home-contact-us">Home Contact us</div> 
         <img class="group-item" alt="" src="../assets/conusimg/vector-9.svg" />
      </div>
    </div>
  </div>