.map-icon {
  position: absolute;
  top: 1161px;
  left: 214px;
  width: 1188px;
  height: 353px;
  object-fit: cover;
}
.supporting-text {
  position: relative;
  font-size: var(--text-xl-regular-size);
  line-height: 30px;
  font-family: var(--text-md-regular);
  color: var(--primary-dark);
  text-align: left;
  display: inline-block;
  width: 448px;
}
.heading-and-supporting-text {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.hint-text,
.input,
.label {
  font-family: var(--text-md-regular);
}
.label {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 20px;
  font-weight: 500;
  color: var(--primary-dark);
  text-align: left;
}
.hint-text,
.input {
  align-self: stretch;
}
.input {
  border: 1px solid var(--color-lightgray);
  font-size: var(--text-md-regular-size);
  background-color: var(--colors-white);
  border-radius: var(--br-5xs);
  box-shadow: var(--shadow-xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-base);
  align-items: center;
  justify-content: flex-start;
}
.hint-text {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 20px;
  color: var(--color-slategray);
  text-align: left;
  display: none;
}
.input-field-base {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-7xs);
}
.input-field,
.input-field-base,
.row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-field {
  flex: 1;
  flex-direction: column;
}
.row {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-13xl);
}
.dropdown-text {
  position: relative;
  font-size: var(--text-md-regular-size);
  line-height: 24px;
  font-family: var(--text-md-regular);
  /* color: var(--gray-900); */
  text-align: left;
  
}

.dropdown,
.text-input {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dropdown {
  align-self: stretch;
  overflow: hidden;
  padding: var(--padding-xs) var(--padding-xs) var(--padding-xs)
    var(--padding-base);
  justify-content: space-between;
}
.text-input {
  border: 0;
  font-family: var(--text-md-regular);
  font-size: var(--text-md-regular-size);
  background-color: transparent;
  flex: 1;
  padding: var(--padding-xs) var(--padding-base) var(--padding-xs) 0;
  justify-content: flex-start;
}
.form-fields,
.input3,
.textarea-input-field {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input3 {
  border-radius: var(--br-5xs);
  background-color: var(--colors-white);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--color-lightgray);
  overflow: hidden;
  flex-direction: row;
}
.form-fields,
.textarea-input-field {
  flex-direction: column;
}
.textarea-input-field {
  background-color: transparent;
  font-weight: 500;
  font-family: var(--text-md-regular);
  font-size: var(--font-size-sm);
}
.form-fields {
  gap: 24px;
}
.text {
  position: relative;
  font-size: var(--text-md-regular-size);
  line-height: 24px;
  font-weight: 600;
  font-family: var(--text-md-regular);
  color: var(--colors-white);
  text-align: left;
}
.button,
.button-base {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
}
.button-base {
  flex: 1;
  background-color: var(--kraft-d-green);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--kraft-d-green);
  overflow: hidden;
  padding: var(--padding-xs) 20px;
  align-items: center;
  justify-content: center;
}
.button {
  align-items: flex-start;
}
.actions,
.button,
.form {
  align-self: stretch;
  justify-content: flex-start;
}
.actions {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form {
  gap: var(--gap-13xl);
}
.content,
.content1,
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.content1 {
  width: 480px;
  justify-content: flex-start;
  gap: 48px;
}
.content {
  align-self: stretch;
  justify-content: center;
}
.image-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  display: none;
}
.container {
  position: absolute;
  top: 339px;
  left: 185px;
  width: 550px;
  height: 724px;
  display: flex;
  flex-direction: row;
  padding: 0 32px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 64px;
}
.dustro-emails,
.dustrogmailcom {
  position: absolute;
  left: 0;
  display: inline-block;
}
.dustrogmailcom {
  width: 93.16%;
  top: calc(50% - 6.5px);
  text-decoration: underline;
  line-height: 50.5px;
}
.dustro-emails {
  width: 76.09%;
  top: calc(50% - 24.5px);
  font-size: var(--font-size-sm);
  line-height: 15px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: var(--font-kanit);
  color: var(--color-darkslategray);
}
.content2 {
  position: absolute;
  height: 56.32%;
  width: 81.62%;
  top: 11.49%;
  right: -5.16%;
  bottom: 32.18%;
  left: 23.53%;
  overflow: hidden;
}
.icon {
  height: 74.71%;
  width: 19.69%;
  top: 12.64%;
  right: 80.31%;
  bottom: 12.64%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bg,
.emails,
.icon,
.line {
  position: absolute;
  left: 0;
}
.emails {
  height: 16.17%;
  width: 67.54%;
  top: 83.83%;
  right: 32.46%;
  bottom: 0;
}
.bg,
.line {
  width: 100%;
  top: 0;
  right: 0;
}
.bg {
  height: 100%;
  bottom: 0;
  background-color: var(--colors-white);
  box-shadow: 0 2px 25px rgba(0, 33, 91, 0.2);
}
.line {
  height: 2.46%;
  bottom: 97.54%;
  background-color: var(--kraft-d-green);
}
.kraft-construction-company {
  margin: 0;
}
.themeforest-envato {
  position: absolute;
  width: 100%;
  top: calc(50% - 37.5px);
  left: 0.08%;
  line-height: 34.5px;
  display: inline-block;
  height: 144px;
}
.our {
  text-transform: capitalize;
}
.a {
  text-transform: uppercase;
}
.company-address {
  position: absolute;
  width: 100%;
  top: calc(50% - 69.5px);
  left: 0;
  font-size: 32px;
  line-height: 15px;
  font-weight: 600;
  font-family: var(--font-kanit);
  color: var(--color-darkslategray);
  display: inline-block;
}
.content3 {
  position: absolute;
  height: 55.09%;
  width: 81.25%;
  top: 22.46%;
  right: 8.27%;
  bottom: 22.46%;
  left: 10.48%;
  overflow: hidden;
}
.address {
  position: absolute;
  height: 100%;
  width: 99.8%;
  top: 0;
  right: 0.2%;
  bottom: 0;
  left: 0;
}
.address-wrapper {
  top: 0;
  width: 497px;
  height: 285px;
  font-size: 24px;
}
.address-wrapper,
.div,
.div1,
.icon1 {
  position: absolute;
  left: 0;
}
.icon1 {
  height: 74.71%;
  width: 24.63%;
  top: 0;
  right: 75.37%;
  bottom: 25.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div,
.div1 {
  width: 100%;
  top: calc(50% - 13.5px);
  line-height: 26px;
  display: none;
}
.div1 {
  top: calc(50% + 17.5px);
}
.company-phones,
.themeforest-envato1 {
  position: absolute;
  left: 0;
  display: inline-block;
}
.company-phones {
  width: 83.33%;
  top: calc(50% - 43.5px);
  font-size: var(--font-size-sm);
  line-height: 15px;
  text-transform: uppercase;
  font-weight: 300;
  color: var(--color-darkslategray);
}
.themeforest-envato1 {
  width: 96.97%;
  top: calc(50% - 24.5px);
  font-size: var(--text-md-regular-size);
  line-height: 25.5px;
  font-family: var(--font-font-awesome-5-free);
  color: #00215b;
  height: 56px;
}
.content4 {
  position: absolute;
  height: 100%;
  width: 75.03%;
  top: 0;
  right: -6.11%;
  bottom: 0;
  left: 31.07%;
  overflow: hidden;
}
.emails-parent,
.phone {
  position: absolute;
  left: 0;
}
.phone {
  height: 16.17%;
  width: 53.1%;
  top: 64.68%;
  right: 46.9%;
  bottom: 19.14%;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-100);
  font-family: var(--font-kanit);
}
.emails-parent {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.home-inner,
.our-location {
  position: absolute;
  color: var(--color-black);
}
.home-inner {
  height: 23.22%;
  width: 31.06%;
  top: 16.66%;
  right: 16.81%;
  bottom: 60.12%;
  left: 52.13%;
  font-family: var(--font-font-awesome-5-free);
}
.our-location {
  top: 1090px;
  left: 668px;
  font-size: var(--font-size-26xl);
  line-height: 40px;
  text-transform: capitalize;
  font-weight: 500;
  text-align: center;
}
.top-bar-icon {
  position: absolute;
  height: 0.65%;
  width: 73.69%;
  top: 30.72%;
  right: 10.72%;
  bottom: 68.63%;
  left: 15.59%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component-8-child,
.microsoftteams-image-28-2 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.component-8-child {
  height: 49.67%;
  bottom: 50.33%;
  background-color: var(--color-black);
}

.angle-down,
.angle-down1 {
  position: absolute;
  top: 76.47%;
  left: 45.56%;
  font-size: var(--text-md-regular-size);
  line-height: 14px;
  font-family: var(--font-font-awesome-5-free);
  color: var(--primary-dark);
}
.angle-down1 {
  left: 55.69%;
}
.about-us {
  position: relative;
  line-height: 24px;
}
.about-us-parent {
  position: absolute;
  height: 15.69%;
  width: 60.13%;
  top: 71.24%;
  right: 13.44%;
  bottom: 13.07%;
  left: 26.44%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-14xl);
  font-size: var(--text-xl-regular-size);
  color: var(--colors-primary-black);
}


.best-price-in,
.request-estimate {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
}
.best-price-in {
  top: 75%;
  font-size: var(--font-size-xs);
  color: var(--color-darkseagreen);
  display: none;
}
.group-parent,
.request-estimate-parent {
  position: absolute;
  height: 64.86%;
  width: 77.9%;
  top: 0;
  right: 0;
  bottom: 35.14%;
  left: 22.1%;
}
.group-parent {
  height: 24.18%;
  width: 11.31%;
  top: 11.11%;
  right: 44.94%;
  bottom: 64.71%;
  left: 43.75%;
}
.kraftconstructioncokraftconst {
  position: absolute;
  top: 41.46%;
  left: 0;
  font-size: var(--font-size-xs);
  line-height: 24px;
  color: var(--color-darkseagreen);
}
.email-us-parent {
  position: absolute;
  height: 26.8%;
  width: 15.44%;
  top: 10.46%;
  right: 23.5%;
  bottom: 62.75%;
  left: 61.06%;
}
.component-8-inner,
.component-8-item {
  position: absolute;
  height: 20.92%;
  width: 1.81%;
  top: 14.38%;
  right: 39.81%;
  bottom: 64.71%;
  left: 58.38%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component-8-inner {
  width: 0%;
  right: 18.56%;
  left: 81.44%;
}
.sign-in {
  position: absolute;
  top: 17px;
  left: 1317px;
  line-height: 24px;
}
.vector-icon1 {
  position: absolute;
  height: 13.07%;
  width: 1.25%;
  top: 17.65%;
  right: 19.19%;
  bottom: 69.28%;
  left: 79.56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component-8 {
  position: absolute;
  top: 0;
  left: -5px;
  width: 1600px;
  height: 153px;
  display: none;
}
.about-us-group {
  position: absolute;
  top: 53px;
  left: 254px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-14xl);
}
.container1 {
  position: absolute;
  top: 80px;
  left: 100px;
  width: 1280px;
  height: 88px;
}
.divider {
  align-self: stretch;
  position: relative;
  background-color: var(--colors-white);
  height: 1px;
  flex-shrink: 0;
}

.container2,
.content5 {
  gap: var(--gap-13xl);
}
.content5 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
}
.container2 {
  position: absolute;
  top: 186px;
  left: 174px;
  width: 1280px;
  flex-direction: column;
  padding: 0 43px 0 67px;
  box-sizing: border-box;
  align-items: flex-start;
  font-size: var(--text-md-regular-size);
  font-family: var(--text-md-regular);
}
.microsoftteams-image-28-21 {
  position: absolute;
  top: 16px;
  left: 753px;
  width: 173px;
  height: 99px;
  object-fit: cover;
}
.home-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 1619px;
  height: 198px;
  object-fit: cover;
}
.contact-us2,
.home-contact-us {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 25.5px;
  text-transform: capitalize;
}
.contact-us2 {
  font-weight: 600;
}
.home-contact-us {
  display: inline-block;
  width: 243px;
}
.group-item {
  position: absolute;
  height: 41.18%;
  width: 2.49%;
  top: 33.26%;
  right: 76.66%;
  bottom: 25.56%;
  left: 20.84%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home-contact-us-parent {
  position: absolute;
  top: 41px;
  left: 1px;
  width: 243px;
  height: 26px;
  font-size: 15px;
  font-family: var(--text-md-regular);
}
.contact-us-parent {
  position: absolute;
  top: 51px;
  left: 213px;
  width: 244px;
  height: 67px;
  font-size: var(--font-size-26xl);
}
 .home {
  position: relative;
  background-color: var(--colors-white);
   width: 100%; 
   height: 2313px; 
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--colors-white);
  font-family: var(--font-kanit);
} 