
<!-- <div class="whole-wrape">
<div class="sidenav">
<app-admin-sidenav></app-admin-sidenav>
</div>
<div class="whole-content">
<app-admin-header></app-admin-header>
<div class="admin-home">
    <section class="about-us">
        <div class="new-container">
            <h2 class="main-head">Home</h2>

            <div class="card   card-shade">
                <div class="card-head">About us</div>

                <div class="card-body">
                    <div class="card-body-wrape">
                        <div class="card-content">
                            <h3 class="card-head2">About us</h3>
                            <div class="card">
                                <div class="card-body">
                                    <div class="img-wrape">
                                        <div class="drop-input"><input class="form-control form-control-sm" type="text"
                                                placeholder="Normal text"></div>
                                        <img src="../../../assets/Icon.png" alt="">
                                        <img src="../../../assets/Icon (1).png" alt="">
                                        <img src="../../../assets/Icon (2).png" alt="">
                                        <img src="../../../assets/Icon (3).png" alt="">
                                        <img src="../../../assets/Icon-miss.png" alt="">
                                        <img src="../../../assets/Icon (4).png" alt="">
                                        <img src="../../../assets/Icon (5).png" alt="">
                                        <img src="../../../assets/Icon (6).png" alt="">
                                        <img src="../../../assets/Icon (7).png" alt="">
                                    </div>

                                    <h2 class="About-heading">
                                        LET'S BEGIN DESIGNING <br>
                                        YOUR DREAM HOME ... TODAY!
                                    </h2>
                                    <p class="dream-para">
                                        Kraft Construction is a family-owned business that was founded in Cincinnati,
                                        Ohio
                                        in 1971.
                                        Over the years we have evolved into a residential remodeling company dedicated
                                        to
                                        helping
                                        homeowners create their dream spaces with our individualized design approach and
                                        our
                                        dedicated
                                        employees working in your homes that have a combined 106 years of experience.
                                    </p>
                                </div>
                            </div>
                            <h3 class="card-head2">Add link</h3>
                            <input class="form-control" type="text" placeholder="add link">
                        </div>
                        <div class="file-upload cardbtn">
                            <label for="file-input" class="custom-button">Upload Image/Video</label>
                            <input type="file" id="file-input" class="input-file">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="services">
        <div class="new-container">
            <div class="card  card-shade">
                <div class="card-head">Services</div>
                <div class="card-body">
                    <h3 class="card-head-services">Select Services</h3>
                    <div id="custom-kitchen" class="drop-input"><input class="form-control form-control-sm" type="text"
                            placeholder=" columns"></div>
                    <div class="check-button-wrape">
                        <div class="check-button">
                            <input type="checkbox" id="file-input" class="input-check">
                            <label class="check-btn">Kitchen</label>
                        </div>
                        <div class="check-button">
                            <input type="checkbox" id="file-input" class="input-check">
                            <label class="check-btn">Bathroom</label>
                        </div>
                        <div class="check-button">
                            <input type="checkbox" id="file-input" class="input-check">
                            <label class="check-btn">Decks-Patios</label>
                        </div>
                        <div class="check-button">
                            <input type="checkbox" id="file-input" class="input-check">
                            <label class="check-btn">Basements</label>
                        </div>
                    </div>
                    <div id="grey-sec" class="card">
                        <div class="card-body">
                            <div class="grey-sec-wrape">
                                <div class="sel-col">
                                    <h3 class="col-head">Select column</h3>
                                    <div class="drop-input"><input class="form-control form-control-sm" type="text"
                                            placeholder="3 columns"></div>
                                </div>
                                <div class="back-color">
                                    <h3 class="col-head">Background Color</h3>
                                    <img src="../../../assets/color1.png" alt="">
                                </div>
                                <div class="services-color">
                                    <h3 class="col-head">Service Background Color</h3>
                                    <img src="../../../assets/color2.png" alt="">
                                </div>
                                <div class="text-color">
                                    <h3 class="col-head">Text Color</h3>
                                    <img src="../../../assets/color3.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="services-parent">

                        <div class="services-wrap">
                            <div class="component">
                                <div class="kitchen-1-icon"><img class="img-logo" alt=""
                                        src="../../../assets/kitchen 1 (1).png" /></div>
                                <h3 class="custom-kitchens">Custom Kitchens</h3>
                                <p class="simply-dummy-text">
                                    simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard
                                </p>
                                <a href="#" class="rectangle-group">
                                    <div class="read-more">Read more</div>
                                </a>
                            </div>
                            <div class="component">
                                <div class="kitchen-1-icon"><img class="img-logo" alt=""
                                        src="../../../assets/kitchen 1 (1).png" /></div>
                                <h3 class="custom-kitchens">New Additions</h3>
                                <p class="simply-dummy-text">
                                    simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard
                                </p>
                                <a routerLink="/new-additions" class="rectangle-group">
                                    <div class="read-more">Read more</div>
                                </a>
                            </div>
                            <div class="component">
                                <div class="kitchen-1-icon"><img class="img-logo" alt=""
                                        src="../../../assets/kitchen 1 (1).png" />
                                </div>
                                <h3 class="custom-kitchens">Decks and Patios</h3>
                                <p class="simply-dummy-text">
                                    simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard
                                </p>
                                <a href="#" class="rectangle-group">
                                    <div class="read-more">Read more</div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="testimonials">
        <div class="new-container">

            <div class="card card-shade">
                <div class="card-head">Testimonials</div>

                <div class="card-body">

                    <h3 class="card-head2">Heading</h3>
                    <input class="form-control" type="text">
                    <div class="slider-wrape">
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                        <h4 class="slider-head">Add slider</h4>
                    </div>
                    <h3 class="card-head2">Slider Count</h3>
                    <div class="slider-width"><input class="form-control form-control-lg" type="text"></div>
                </div>


            </div>
        </div>
    </section>
    <section class="our-project">
        <div class="new-container">
            <div class="card card-shade">
                <div class="card-head">Our Special Projects</div>
                <div class="card-body">
                    <h3 class="card-head2">Heading</h3>
                    <input class="form-control" type="text">
                    <div id="grey-sec" class="card">
                        <div class="card-body">
                            <div class="grey-sec-wrape2">
                                <div class="sel-col">
                                    <h3 class="col-head">Select column</h3>
                                    <div class="drop-input"><input class="form-control form-control-sm" type="text"
                                            placeholder="3 columns"></div>
                                </div>
                                <div class="sel-col">
                                    <h3 class="col-head">Select column</h3>
                                    <div class="drop-input"><input class="form-control form-control-sm" type="text"
                                            placeholder="3 columns"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="grid-wrape">
                        <div id="grey-sec2" class="card  ">
                            <div class="card-body">
                                <div id="grid-card" class="file-upload cardbtn">
                                    <label for="file-input" class="custom-button">Upload Image</label>
                                    <input type="file" id="file-input" class="input-file">
                                </div>
                                <input class="form-control" type="text" placeholder="Add link">
                            </div>
                        </div>
                        <div id="grey-sec2" class="card  ">
                            <div class="card-body">
                                <div id="grid-card" class="file-upload cardbtn">
                                    <label for="file-input" class="custom-button">Upload Image</label>
                                    <input type="file" id="file-input" class="input-file">
                                </div>
                                <input class="form-control" type="text" placeholder="Add link">
                            </div>
                        </div>
                        <div id="grey-sec2" class="card  ">
                            <div class="card-body">
                                <div id="grid-card" class="file-upload cardbtn">
                                    <label for="file-input" class="custom-button">Upload Image</label>
                                    <input type="file" id="file-input" class="input-file">
                                </div>
                                <input class="form-control" type="text" placeholder="Add link">
                            </div>
                        </div>
                        <div id="grey-sec2" class="card  ">
                            <div class="card-body">
                                <div id="grid-card" class="file-upload cardbtn">
                                    <label for="file-input" class="custom-button">Upload Image</label>
                                    <input type="file" id="file-input" class="input-file">
                                </div>
                                <input class="form-control" type="text" placeholder="Add link">
                            </div>
                        </div>
                        <div id="grey-sec2" class="card  ">
                            <div class="card-body">
                                <div id="grid-card" class="file-upload cardbtn">
                                    <label for="file-input" class="custom-button">Upload Image</label>
                                    <input type="file" id="file-input" class="input-file">
                                </div>
                                <input class="form-control" type="text" placeholder="Add link">
                            </div>
                        </div>
                        <div id="grey-sec2" class="card  ">
                            <div class="card-body">
                                <div id="grid-card" class="file-upload cardbtn">
                                    <label for="file-input" class="custom-button">Upload Image</label>
                                    <input type="file" id="file-input" class="input-file">
                                </div>
                                <input class="form-control" type="text" placeholder="Add link">
                            </div>
                        </div>
                    </div>


                </div>


            </div>
        </div>
    </section>
    <section class="map-section">
        <div class="new-container">

            <div class="card card-shade">
                <div class="card-head">Map</div>

                <div class="card-body card-pad">

                    <h3 class="card-head2">Add google location</h3>
                    <input class="form-control" type="text">
              
                </div>


            </div>
        </div>
    </section>
</div>
</div>
</div> -->

<div class="admin-home">
    <section class="about-us">
        <div class="new-container">
            <h2 class="main-head">Home</h2>

            <div class="card   card-shade">
                <div class="card-head">About us</div>

                <div class="card-body">
                    <div class="card-body-wrape">
                        <div class="card-content">
                            <h3 class="card-head2">About us</h3>
                            <div class="card">
                                <div class="card-body">
                                    <div class="img-wrape">
                                        <div class="drop-input"><input class="form-control form-control-sm" type="text"
                                                placeholder="Normal text"></div>
                                        <img src="../../../assets/Icon.png" alt="">
                                        <img src="../../../assets/Icon (1).png" alt="">
                                        <img src="../../../assets/Icon (2).png" alt="">
                                        <img src="../../../assets/Icon (3).png" alt="">
                                        <img src="../../../assets/Icon-miss.png" alt="">
                                        <img src="../../../assets/Icon (4).png" alt="">
                                        <img src="../../../assets/Icon (5).png" alt="">
                                        <img src="../../../assets/Icon (6).png" alt="">
                                        <img src="../../../assets/Icon (7).png" alt="">
                                    </div>

                                    <h2 class="About-heading">
                                        LET'S BEGIN DESIGNING <br>
                                        YOUR DREAM HOME ... TODAY!
                                    </h2>
                                    <p class="dream-para">
                                        Kraft Construction is a family-owned business that was founded in Cincinnati,
                                        Ohio
                                        in 1971.
                                        Over the years we have evolved into a residential remodeling company dedicated
                                        to
                                        helping
                                        homeowners create their dream spaces with our individualized design approach and
                                        our
                                        dedicated
                                        employees working in your homes that have a combined 106 years of experience.
                                    </p>
                                </div>
                            </div>
                            <h3 class="card-head2">Add link</h3>
                            <input class="form-control" type="text" placeholder="add link">
                        </div>
                        <div class="file-upload cardbtn">
                            <label for="file-input" class="custom-button">Upload Image/Video</label>
                            <input type="file" id="file-input" class="input-file">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="services">
        <div class="new-container">
            <div class="card  card-shade">
                <div class="card-head">Services</div>
                <div class="card-body">
                    <h3 class="card-head-services">Select Services</h3>
                    <div id="custom-kitchen" class="drop-input"><input class="form-control form-control-sm" type="text"
                            placeholder=" columns"></div>
                    <div class="check-button-wrape">
                        <div class="check-button">
                            <input type="checkbox" id="file-input" class="input-check">
                            <label class="check-btn">Kitchen</label>
                        </div>
                        <div class="check-button">
                            <input type="checkbox" id="file-input" class="input-check">
                            <label class="check-btn">Bathroom</label>
                        </div>
                        <div class="check-button">
                            <input type="checkbox" id="file-input" class="input-check">
                            <label class="check-btn">Decks-Patios</label>
                        </div>
                        <div class="check-button">
                            <input type="checkbox" id="file-input" class="input-check">
                            <label class="check-btn">Basements</label>
                        </div>
                    </div>
                    <div id="grey-sec" class="card">
                        <div class="card-body">
                            <div class="grey-sec-wrape">
                                <div class="sel-col">
                                    <h3 class="col-head">Select column</h3>
                                    <div class="drop-input"><input class="form-control form-control-sm" type="text"
                                            placeholder="3 columns"></div>
                                </div>
                                <div class="back-color">
                                    <h3 class="col-head">Background Color</h3>
                                    <img src="../../../assets/color1.png" alt="">
                                </div>
                                <div class="services-color">
                                    <h3 class="col-head">Service Background Color</h3>
                                    <img src="../../../assets/color2.png" alt="">
                                </div>
                                <div class="text-color">
                                    <h3 class="col-head">Text Color</h3>
                                    <img src="../../../assets/color3.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="services-parent">

                        <div class="services-wrap">
                            <div class="component">
                                <div class="kitchen-1-icon"><img class="img-logo" alt=""
                                        src="../../../assets/kitchen 1 (1).png" /></div>
                                <h3 class="custom-kitchens">Custom Kitchens</h3>
                                <p class="simply-dummy-text">
                                    simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard
                                </p>
                                <a href="#" class="rectangle-group">
                                    <div class="read-more">Read more</div>
                                </a>
                            </div>
                            <div class="component">
                                <div class="kitchen-1-icon"><img class="img-logo" alt=""
                                        src="../../../assets/kitchen 1 (1).png" /></div>
                                <h3 class="custom-kitchens">New Additions</h3>
                                <p class="simply-dummy-text">
                                    simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard
                                </p>
                                <a routerLink="/new-additions" class="rectangle-group">
                                    <div class="read-more">Read more</div>
                                </a>
                            </div>
                            <div class="component">
                                <div class="kitchen-1-icon"><img class="img-logo" alt=""
                                        src="../../../assets/kitchen 1 (1).png" />
                                </div>
                                <h3 class="custom-kitchens">Decks and Patios</h3>
                                <p class="simply-dummy-text">
                                    simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard
                                </p>
                                <a href="#" class="rectangle-group">
                                    <div class="read-more">Read more</div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="testimonials">
        <div class="new-container">

            <div class="card card-shade">
                <div class="card-head">Testimonials</div>

                <div class="card-body">

                    <h3 class="card-head2">Heading</h3>
                    <input class="form-control" type="text">
                    <div class="slider-wrape">
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                        <h4 class="slider-head">Add slider</h4>
                    </div>
                    <h3 class="card-head2">Slider Count</h3>
                    <div class="slider-width"><input class="form-control form-control-lg" type="text"></div>
                </div>


            </div>
        </div>
    </section>
    <section class="our-project">
        <div class="new-container">
            <div class="card card-shade">
                <div class="card-head">Our Special Projects</div>
                <div class="card-body">
                    <h3 class="card-head2">Heading</h3>
                    <input class="form-control" type="text">
                    <div id="grey-sec" class="card">
                        <div class="card-body">
                            <div class="grey-sec-wrape2">
                                <div class="sel-col">
                                    <h3 class="col-head">Select column</h3>
                                    <div class="drop-input"><input class="form-control form-control-sm" type="text"
                                            placeholder="3 columns"></div>
                                </div>
                                <div class="sel-col">
                                    <h3 class="col-head">Select column</h3>
                                    <div class="drop-input"><input class="form-control form-control-sm" type="text"
                                            placeholder="3 columns"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="grid-wrape">
                        <div id="grey-sec2" class="card  ">
                            <div class="card-body">
                                <div id="grid-card" class="file-upload cardbtn">
                                    <label for="file-input" class="custom-button">Upload Image</label>
                                    <input type="file" id="file-input" class="input-file">
                                </div>
                                <input class="form-control" type="text" placeholder="Add link">
                            </div>
                        </div>
                        <div id="grey-sec2" class="card  ">
                            <div class="card-body">
                                <div id="grid-card" class="file-upload cardbtn">
                                    <label for="file-input" class="custom-button">Upload Image</label>
                                    <input type="file" id="file-input" class="input-file">
                                </div>
                                <input class="form-control" type="text" placeholder="Add link">
                            </div>
                        </div>
                        <div id="grey-sec2" class="card  ">
                            <div class="card-body">
                                <div id="grid-card" class="file-upload cardbtn">
                                    <label for="file-input" class="custom-button">Upload Image</label>
                                    <input type="file" id="file-input" class="input-file">
                                </div>
                                <input class="form-control" type="text" placeholder="Add link">
                            </div>
                        </div>
                        <div id="grey-sec2" class="card  ">
                            <div class="card-body">
                                <div id="grid-card" class="file-upload cardbtn">
                                    <label for="file-input" class="custom-button">Upload Image</label>
                                    <input type="file" id="file-input" class="input-file">
                                </div>
                                <input class="form-control" type="text" placeholder="Add link">
                            </div>
                        </div>
                        <div id="grey-sec2" class="card  ">
                            <div class="card-body">
                                <div id="grid-card" class="file-upload cardbtn">
                                    <label for="file-input" class="custom-button">Upload Image</label>
                                    <input type="file" id="file-input" class="input-file">
                                </div>
                                <input class="form-control" type="text" placeholder="Add link">
                            </div>
                        </div>
                        <div id="grey-sec2" class="card  ">
                            <div class="card-body">
                                <div id="grid-card" class="file-upload cardbtn">
                                    <label for="file-input" class="custom-button">Upload Image</label>
                                    <input type="file" id="file-input" class="input-file">
                                </div>
                                <input class="form-control" type="text" placeholder="Add link">
                            </div>
                        </div>
                    </div>


                </div>


            </div>
        </div>
    </section>
    <section class="map-section">
        <div class="new-container">

            <div class="card card-shade">
                <div class="card-head">Map</div>

                <div class="card-body card-pad">

                    <h3 class="card-head2">Add google location</h3>
                    <input class="form-control" type="text">
              
                </div>


            </div>
        </div>
    </section>
</div>