<div class="admin-home">
    <form [formGroup]="aboutUsForm" (ngSubmit)="onSubmit()">
        <section class="home-banner">
            <div class="new-container">
                <h2 class="main-head">Home</h2>
                <div class="card   card-shade">
                    <div class="card-body">
                        <div class="slideshow">
                            <!-- <div class="slideshow-container">
                                <div *ngFor="let image of images; let i = index" class="slide"
                                    [ngClass]="{ 'active': i === activeIndex }">
                                    <img [src]="image.url" alt="Slide {{i}}">
                                </div>
                            </div> -->
                            <div class="slideshow-container">
                                <div *ngFor="let image of images; let i = index" class="slide" [ngClass]="{ 'active': i === activeIndex }">
                                  <img [src]="getPreviewURL(image)" alt="Slide {{i}}">
                                </div>
                              </div>

                            <div class="slide-dots">
                                <span *ngFor="let image of images; let i = index" class="dot"
                                    [ngClass]="{ 'active': i === activeIndex }" (click)="setActiveIndex(i)"></span>
                            </div>
                            <div class="d-flex gap-3 mt-4">
                            <button class="video-btn">
                                <label class="img-upld" for="file-inputt">+</label>
                                <input type="file" id="file-inputt" class="input-file"
                                    (change)="onFileSelected1($event)" accept="image/*" multiple>
                            </button>
                            <!-- Display thumbnail images -->
                            <!-- <div class="slideshow-thumbnails d-flex gap-3 ">
                                <div *ngFor="let image of images; let i = index" class="thumbnail-item"
                                    [class.active]="activeIndex === i">
                                    <img class="thumbnail-image" [src]="images" alt="Thumbnail Image"
                                        (click)="setActiveIndex(i)">
                                </div>
                            </div> -->
                            <div class="slideshow-thumbnails d-flex gap-3">
                                <div *ngFor="let image of images; let i = index" class="thumbnail-item" [class.active]="activeIndex === i">
                                  <img class="thumbnail-image" [src]="getPreviewURL(image)" alt="Thumbnail Image" (click)="setActiveIndex(i)">
                                </div>
                              </div>
                        </div>
                        </div>
                        <div>
                            <h3 class="card-head2 mt-2">Add Description</h3>
                            <input class="form-control" type="text" placeholder="add description"
                                formControlName="addLink">
                            <div class="slider-wrape  ">
                                <label class="switch  ">
                                    <input type="checkbox" (click)="toggleCardBody()">
                                    <span class="slider round"></span>
                                </label>
                                <h4 class="slider-head">Add Link</h4>
                            </div>
                            <input class="form-control" type="text" placeholder="add link"
                                formControlName="addLink">
                        </div>
                        <div class="saveBtn  mb-3 mt-5">
                            <button class="save-btn">save</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="about-us">
            <div class="new-container">
                <!-- <h2 class="main-head">Home</h2> -->
                <div class="card   card-shade">
                    <div class="card-head">About us</div>
                    <div class="card-body">
                        <div class="card-body-wrape">
                            <div class="card-content">
                                <h3 class="card-head2">About us</h3>
                                <header class="inverted">
                                </header>
                                <div class="content" role="main">
                                    <ckeditor [editor]="Editor" formControlName="textEditor"
                                        data="<h1><b>LET'S BEGIN DESIGNING <br>YOUR DREAM HOME ... TODAY!</b></h1>
                                  <p>Kraft Construction is a family-owned business that was founded in Cincinnati, Ohio in 1971. Over the years we have evolved into a residential remodeling company dedicated to helping homeowners create their dream spaces with our individualized design approach and our dedicated employees working in your homes that have a combined 106 years of experience.</p>"
                                        (ready)="onReady($event)" (change)="onChange($event)">
                                    </ckeditor>
                                </div>
                                <h3 class="card-head2 mt-2">Add link</h3>
                                <input class="form-control" type="text" placeholder="add link"
                                    formControlName="addLink">
                            </div>

                            <div class="img-content">
                                <div class="img-box mb-3">
                                    <video *ngIf="fileURL" class="img-dyn" src="{{this.videoLink}}"></video>
                                </div>
                                <div class="file-upload cardbtn">
                                    <button class="video-btn">
                                        <label for="file-input" class="custom-button">Upload Video</label>
                                        <input type="file" id="file-input" class="input-file" (change)="
                                    onFileSelected($event)" accept="image/*,video/*">
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="saveBtn  mb-3 mt-5">
                            <button class="save-btn" type="submit">save</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
    <section class="services">
        <div class="new-container">
            <div class="card  card-shade">
                <div class="card-head">Services</div>
                <div class="card-body">
                    <!-- <h3 class="card-head-services">Select Services</h3> -->
                    <!-- <div id="custom-kitchen" class="drop-input"> -->
                    <div class="drop-1 mb-3 mt-3">
                        <label class="card-head-services" for="inputField">Select Service</label> <br>
                        <select class="inputField mt-3 mb-3" [(ngModel)]="selectedOption">
                            <option *ngFor="let option of options" [value]="option">{{ option }}</option>
                        </select>
                    </div>
                    <div class="check-button-wrape">
                        <div class="check-button">
                            <input type="checkbox" id="file-input" class="input-check">
                            <label class="check-btn">Kitchen</label>
                        </div>
                        <div class="check-button">
                            <input type="checkbox" id="file-input" class="input-check">
                            <label class="check-btn">Bathroom</label>
                        </div>
                        <div class="check-button">
                            <input type="checkbox" id="file-input" class="input-check">
                            <label class="check-btn">Decks-Patios</label>
                        </div>
                        <div class="check-button">
                            <input type="checkbox" id="file-input" class="input-check">
                            <label class="check-btn">Basements</label>
                        </div>
                    </div>

                    <div class="services-parent">

                        <div class="services-wrap ">
                            <div class="component">
                                <div class="kitchen-1-icon"><img class="img-logo" alt=""
                                        src="../../../assets/kitchen 1 (1).png" /></div>
                                <h3 class="custom-kitchens">Custom Kitchens</h3>
                                <p class="simply-dummy-text">
                                    simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard
                                </p>
                                <a href="#" class="rectangle-group">
                                    <div class="read-more">Read more</div>
                                </a>
                            </div>
                            <div class="component">
                                <div class="kitchen-1-icon"><img class="img-logo" alt=""
                                        src="../../../assets/kitchen 1 (1).png" /></div>
                                <h3 class="custom-kitchens">New Additions</h3>
                                <p class="simply-dummy-text">
                                    simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard
                                </p>
                                <a routerLink="/new-additions" class="rectangle-group">
                                    <div class="read-more">Read more</div>
                                </a>
                            </div>
                            <div class="component">
                                <div class="kitchen-1-icon"><img class="img-logo" alt=""
                                        src="../../../assets/kitchen 1 (1).png" />
                                </div>
                                <h3 class="custom-kitchens">Decks and Patios</h3>
                                <p class="simply-dummy-text">
                                    simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard
                                </p>
                                <a href="#" class="rectangle-group">
                                    <div class="read-more">Read more</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="saveBtn  mb-3 mt-5">
                        <button class="save-btn">save</button>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="testimonials">
        <div class="new-container">

            <div class="card card-shade">
                <div class="test-bord">
                    <div class="card-head">Testimonials</div>
                    <div class="slider-wrape  ">
                        <label class="switch  ">
                            <input type="checkbox" (click)="toggleCardBody()">
                            <span class="slider round"></span>
                        </label>
                        <h4 class="slider-head">Show</h4>
                    </div>
                </div>


                <div class="card-body" *ngIf="isCardBodyVisible">
                    <h2 class="our-clients-say">Our Clients Say</h2>
                    <div class="client-wrap  d-flex  gap-3 mb-4">
                        <div class="img-clientSec">
                            <img class="img-client" src="../../../assets/clientImg.png" alt="">
                        </div>
                        <div class="clientSec-cont">
                            <form class="form-test" [formGroup]="myForm">
                                <label class="mb-2">Heading</label>
                                <input type="text" class="form-control mb-3" formControlName="name">

                                <label class="mb-2">Description</label>
                                <!-- <input type="email" class="form-control form-control-lg  mb-3" formControlName="email"> -->
                                <textarea class="form-control form-control-lg  mb-3" formControlName="email"
                                    placeholder="Enter a description"></textarea>
                                <label class="mb-2">Name</label>
                                <input type="text" class="form-control" formControlName="name">
                                <div class="btn-wrap mt-3"><button class="add-btn"
                                        (click)="addForm()">Duplicate</button></div>
                            </form>



                            <ng-container *ngFor="let form of forms; let i = index">
                                <form class="form-test" [formGroup]="myForm">

                                    <label class="mb-2">Heading</label>
                                    <input type="text" class="form-control mb-3" formControlName="name">

                                    <label class="mb-2">Description</label>
                                    <!-- <input type="email" class="form-control form-control-lg  mb-3" formControlName="email"> -->
                                    <textarea class="form-control form-control-lg  mb-3" formControlName="email"
                                        placeholder="Enter a description..."></textarea>
                                    <label class="mb-2">Name</label>
                                    <input type="text" class="form-control" formControlName="name">
                                    <div class="btn-wrap mt-3">
                                        <button class="add-btn" (click)="deleteForm(i)">Delete</button>
                                        <button class="add-btn" (click)="addForm()">Duplicate</button>
                                    </div>
                                </form>
                            </ng-container>
                        </div>
                    </div>
                    <div class="saveBtn  mb-5 mt-3">
                        <button class="save-btn">save</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>