.home {
  background-color: #e8ecf3;
  width: 100%;
   height: 465px;
  overflow: hidden;
  text-align: left;
  font-size: var(--fonts-peragraph-reguler-size);
  color: var(--color-black);
  font-family: var(--fonts-peragraph-reguler);
}
.home1 {
  
  background-color: #e8ecf3;
  width: 100%;
  height: 865px;
  margin-top: -210px;
  overflow: hidden;
  text-align: left;
  font-size: var(--fonts-peragraph-reguler-size);
  color: var(--color-black);
  font-family: var(--fonts-peragraph-reguler);
}
.desktop-3-item {
  position: relative;
  left: 21px;
  background-color: var(--colors-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  width: 60%;
  height: 40%;
 
}
.desktop-4-item {
  position: relative;
  left: 21px;
  background-color: var(--colors-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  width: 60%;
  height: 30%;
 
  
}
.desktop-11-inner {
  position: absolute;
  top: 97px;
  left: 271px; 
  background-color: #f4f4f4;
  border-bottom: 1px solid var(--body-color);
  box-sizing: border-box;
  width: 80%;
  height: 54px; 
}
.heading {
  background-color: white;
  width: 60%;
  left: 10px;
  margin-left: 20px;
  border-bottom: 1px solid #DDDDDD;
}
.navbar-brand {
  font-size: 18px;
  font-weight: 600;
  font-family: sans-serif;
  padding: 8px 0px 22px;
}

.saveBtn {

  width: 100%;
  
  display: flex;
  
   justify-content: flex-end;
  
  }

  .save-btn {

      border: none;
      
       width: 150px;
      
      background-color: #025A00;
      
     text-decoration: none;
      
      color: #fff;
      
       border-radius: 4px;
      
     padding: 8px 29px;
      

      
     text-align: center;
    margin-right: 2rem;
      }
      .rectangle-parent {
        cursor: pointer;
        border: 0;
        padding: 0;
        background-color: transparent;
        position: absolute;
        top: 480px;
        left: 849px;
        width: 172px;
        height: 40px;
      }
      .image-icon,
      .instance-child {
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
      }
      .instance-child {
        width: 100%;
        left: 0;
        background-color: var(--colors-white);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
      .image-icon {
        width: 29.25%;
        left: 70.75%;
        border-radius: 47px;
        max-width: 100%;
        overflow: hidden;
        max-height: 100%;
        object-fit: cover;
      }
      .image-parent,
      .koray-okumus {
        position: absolute;
        top: 29.55%;
        left: 0;
      }
      .image-parent {
        height: 61.11%;
        width: 13.28%;
        top: 19.44%;
        right: 1.99%;
        bottom: 19.44%;
        left: 84.73%;
      }
      .group-item,
      .rectangle-group {
        position: absolute;
        top: 1px;
        left: 250px;
        width: 1107px;
        height: 72px;
      }
      .group-item {
        top: 125px;
        left: 10.06px;
        border-radius: var(--br-8xs);
        background-color: var(--colors-white);
        border: 1px solid var(--color-gainsboro-100);
        box-sizing: border-box;
        width: 713.94px;
        height: 69px;
      }
      .simply-dummy-text {
        position: absolute;
        top: 134px;
        left: 13.39px;
        line-height: 21px;
        font-family: var(--text-sm-regular);
        display: inline-block;
        width: 690.24px;
        height: 46px;
      }
      .group-inner {
        position: absolute;
        top: 10px;
        left: 10px;
        border-radius: var(--br-8xs);
        background-color: var(--colors-buttun-gray-10);
        width: 179.26px;
        height: 62px;
      }
      .email,
      .oliverjohngmailcom {
        position: absolute;
        top: 0;
        left: 0;
        line-height: 20px;
        display: inline-block;
        width: 32.97px;
      }
      .oliverjohngmailcom {
        top: 20px;
        width: 137.02px;
      }
      .email-parent,
      .group-div {
        position: absolute;
        top: 9px;
        left: 24.73px;
        width: 137.02px;
        height: 40px;
      }
      .group-div {
        top: 45px;
        left: 154.53px;
        width: 179.26px;
        height: 62px;
      }
      .group-child1,
      .name {
        position: absolute;
        top: 0;
      }
      .group-child1 {
        left: 10px;
        top:10px;
        border-radius: var(--br-8xs);
        background-color: var(--colors-buttun-gray-10);
        width: 145.26px;
        height: 62px;
      }
      .name {
        left: 2.06px;
        line-height: 20px;
        display: inline-block;
        width: 36.06px;
      }
      .name-parent,
      .oliver-john {
        position: absolute;
        width: 66.96px;
      }
      .oliver-john {
        top: 20px;
        left: 0;
        line-height: 20px;
        display: inline-block;
      }
      .name-parent {
        top: 9px;
        left: 20.33px;
        height: 40px;
      }
      .rectangle-parent1 {
        position: absolute;
        top: 45px;
        left: 0;
        width: 145.26px;
        height: 62px;
      }
      .group-child2,
      .group-child3 {
        position: absolute;
        top: 10px;
        left: 10px;
        border-radius: var(--br-8xs);
        background-color: var(--colors-buttun-gray-10);
        width: 716px;
        height: 36px;
      }
      .group-child3 {
        left: 201.62px;
        width: 179.26px;
        height: 62px;
      }
      .div {
        top: 17px;
        left: 0;
        line-height: 24px;
        display: inline-block;
        width: 130.84px;
      }
      .div,
      .parent,
      .phone {
        position: absolute;
      }
      .phone {
        top: 0;
        left: 1.03px;
        line-height: 24px;
        display: inline-block;
        width: 43.27px;
      }
      .parent {
        top: 9px;
        left: 209.13px;
        width: 130.84px;
        height: 41px;
      }
      .country,
      .group-child4,
      .usa {
        position: absolute;
        top: 0;
        left: 0;
      }
      .group-child4 {
        border-radius: var(--br-8xs);
        background-color: var(--colors-buttun-gray-10);
        width: 180.29px;
        height: 62px;
      }
      .country,
      .usa {
        line-height: 20px;
        display: inline-block;
        width: 49.45px;
      }
      .usa {
        top: 20px;
        left: 1.03px;
        width: 25.76px;
      }
      .country-parent {
        position: absolute;
      
        left: 17.51px;
        width: 49.45px;
        height: 40px;
      }
      .rectangle-parent2,
      .rectangle-parent3 {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 180.29px;
        height: 62px;
        color: var(--color-black);
        font-family: var(--fonts-peragraph-reguler);
      }
      .rectangle-parent2 {
        top: 45px;
        left: 345.12px;
        width: 370.88px;
        color: var(--primary-dark);
        font-family: var(--text-sm-regular);
      }
      .delete,
      .pm {
        position: absolute;
        top: 15px;
        left: 14.42px;
        line-height: 20px;
        display: inline-block;
      
      }
      .delete {
        cursor: pointer;
        border: 0;
        padding: 0;
        background-color: transparent;
        top: 200px;
        left: 664.49px;
        font-size: var(--font-size-base);
        line-height: 24px;
        font-family: var(--text-sm-regular);
        color: var(--color-red);
        text-align: left;
        width: 51.51px;
      }

   

@media only screen and (max-width: 576px) {
  .home {
      width: 100%;
     
    }
    .home1 {
      width: auto;
       
    }
    .desktop-3-item {
      position: relative;
      left: 0; 
      height: auto ;
      width: auto;
    }
    .desktop-4-item {
      position: relative;
      left: 0; 
      height: auto ;
      width: auto;
    }
    .desktop-11-inner {
      position: static;
      top: 0;
      left: 0; 
      width: auto;
      height: auto; 
    }
    .heading {
    
      width: auto;
      height: auto;
      left: 1px;
      margin-left: 0;
      border-bottom: 1px solid #DDDDDD;
    }
    .navbar-brand {
      font-size: 12px;
      font-weight: 600;
      font-family: sans-serif;
      padding: 8px 0px 9px 22px;

    }
    .btn.btn-primary {
      width: auto;
    }
    .rectangle-parent {
   
      position: absolute;
      top: 0;
      left: 0;
      width: auto;
      height: auto;
      display: inline-block;
    }
    .image-icon,
    .instance-child {
      position: absolute;
      height: auto;
      top: 0;
      right: 0;
      bottom: 0;
    }
    .instance-child {
      width: auto;
      
    }
    .image-icon {
      width: 0;
      left: 0;
      border-radius: auto;
      max-width: auto;
      max-height: auto;

    }
    .image-parent,
    .koray-okumus {
      position: absolute;
      top: 0;
      left: 0;
    }
    .image-parent {
      height: auto;
      width: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .group-item,
    .rectangle-group {
      position: static;
      top: 0;
      left: 0;
      width: auto;
      height: auto;
      display: inline-block;
    }
    .group-item {
      position: static;
      top: 0;
      left: 0;
      width: auto;
      height: auto;
      display: inline-block;
    }
    .simply-dummy-text {
      position: static;
      top: 0;
      left: 0;
      font-family: var(--text-sm-regular);
      width: auto;
      height: auto;
      display: inline-block;
    }
    .group-inner {
      position: static;
      top: 0;
      left: 0;
      width: auto;
      height: auto;
    }
    .email,
    .oliverjohngmailcom {
      position: static;
      top: 0;
      left: 0;
      line-height: auto;
      width: auto;
      background-color: var(--colors-buttun-gray-10);
    }
    .oliverjohngmailcom {
      top: 0;
      width: auto;
    }
    .email-parent,
    .group-div {
      position: static;
      top: 0;
      left: 0;
      width: auto;
      height: auto;
    }
    .group-div {
      top: 0;
      left: 0;
      width: auto;
      height: auto;
    }
    .group-child1,
    .name {
      position: static;
      top: 0;
    
    }
    .group-child1 {
      left: 0;
      background-color: var(--colors-buttun-gray-10);
      width: auto;
      height: auto;
    }
    .name {
      left: 0;
      line-height: auto;
      width: auto;
      background-color: var(--colors-buttun-gray-10);
    }
    .name-parent,
    .oliver-john {
      position: static;
      width: auto;
    }
    .oliver-john {
      top: 0;
      left: 0;
      line-height: auto;
      display: inline-block;
      background-color: var(--colors-buttun-gray-10);
    }
    .name-parent {
      top: 0;
      left: 0;
      height: auto;
    }
    .rectangle-parent1 {
      position: static;
      top: 0;
      left: 0;
      width: auto;
      height: auto;
    }
    .group-child2,
    .group-child3 {
      position: static;
      top: 0;
      left: 0;
      width: auto;
      height: auto;

    }
    .group-child3 {
      left: 0;
      width: auto;
      height: auto;
  
    }
    .div {
      top: 0;
      left: 0;
      
      display: inline-block;
      width: auto;
      background-color: var(--colors-buttun-gray-10);
    }
    .div,
    .parent,
    .phone {
      position: static;
    }
    .phone {
      position: static;
      top: 0;
      left: 0;
      width: auto;
      background-color: var(--colors-buttun-gray-10);
    }
    .parent {
      top: 0;
      left: 0;
      width: auto;
      height: auto;
    }
    .country,
    .group-child4,
    .usa {
      position: static;
      top: 0;
      left: 0;
    }
    .group-child4 {
  
      width: auto;
      height: auto;
      background-color: var(--colors-buttun-gray-10);
    }
    .country,
    .usa {
      line-height: auto;
      width: auto;
      background-color: var(--colors-buttun-gray-10);
    }
    .usa {
      top: 0;
      left: 0;
      width: auto;
     
    }
    .country-parent {
      position: static;
      top: 0;
      left: 0;
      width: auto;
      height: auto;
     
    }
    .rectangle-parent2,
    .rectangle-parent3 {
      position: static;
      top: 0;
      left: 0;
      width: 0;
      height: auto;
    }
    .rectangle-parent2 {
      top: 0;
      left: 0;
      width: auto;
    }
    
    .pm {
      position: static;
      top: 0;
      left: 0;
      line-height: auto;
      width: auto;
      background-color: var(--colors-buttun-gray-10);
    }
    .delete {
   
      top: 0;
      left: 0;
      line-height: auto;
      width: auto;
      position: static;
    }

  }
 @media only screen and (max-width: 768px) {
    .home {
        width: 100%;
       
      }
      .home1 {
        width: auto;
         
      }
      .desktop-3-item {
        position: relative;
        left: 0; 
        height: auto ;
        width: auto;
      }
      .desktop-4-item {
        position: relative;
        left: 0; 
        height: auto ;
        width: auto;
      }
      .desktop-11-inner {
        position: static;
        top: 0;
        left: 0; 
        width: auto;
        height: auto; 
      }
      .heading {
      
        width: auto;
        height: auto;
        left: 1px;
        margin-left: 0;
        border-bottom: 1px solid #DDDDDD;
      }
      .navbar-brand {
        font-size: 12px;
        font-weight: 600;
        font-family: sans-serif;
        padding: 8px 0px 9px 22px;
  
      }
      .btn.btn-primary {
        width: auto;
      }
      .rectangle-parent {
     
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        height: auto;
        display: inline-block;
      }
      .image-icon,
      .instance-child {
        position: absolute;
        height: auto;
        top: 0;
        right: 0;
        bottom: 0;
      }
      .instance-child {
        width: auto;
        
      }
      .image-icon {
        width: 0;
        left: 0;
        border-radius: auto;
        max-width: auto;
        max-height: auto;
  
      }
      .image-parent,
      .koray-okumus {
        position: absolute;
        top: 0;
        left: 0;
      }
      .image-parent {
        height: auto;
        width: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
      .group-item,
      .rectangle-group {
        position: static;
        top: 0;
        left: 0;
        width: auto;
        height: auto;
        display: inline-block;
      }
      .group-item {
        position: static;
        top: 0;
        left: 0;
        width: auto;
        height: auto;
        display: inline-block;
      }
      .simply-dummy-text {
        position: static;
        top: 0;
        left: 0;
        font-family: var(--text-sm-regular);
        width: auto;
        height: auto;
        display: inline-block;
      }
      .group-inner {
        position: static;
        top: 0;
        left: 0;
        width: auto;
        height: auto;
      }
      .email,
      .oliverjohngmailcom {
        position: static;
        top: 0;
        left: 0;
        line-height: auto;
        width: auto;
        background-color: var(--colors-buttun-gray-10);
      }
      .oliverjohngmailcom {
        top: 0;
        width: auto;
      }
      .email-parent,
      .group-div {
        position: static;
        top: 0;
        left: 0;
        width: auto;
        height: auto;
      }
      .group-div {
        top: 0;
        left: 0;
        width: auto;
        height: auto;
      }
      .group-child1,
      .name {
        position: static;
        top: 0;
      
      }
      .group-child1 {
        left: 0;
        background-color: var(--colors-buttun-gray-10);
        width: auto;
        height: auto;
      }
      .name {
        left: 0;
        line-height: auto;
        width: auto;
        background-color: var(--colors-buttun-gray-10);
      }
      .name-parent,
      .oliver-john {
        position: static;
        width: auto;
      }
      .oliver-john {
        top: 0;
        left: 0;
        line-height: auto;
        display: inline-block;
        background-color: var(--colors-buttun-gray-10);
      }
      .name-parent {
        top: 0;
        left: 0;
        height: auto;
      }
      .rectangle-parent1 {
        position: static;
        top: 0;
        left: 0;
        width: auto;
        height: auto;
      }
      .group-child2,
      .group-child3 {
        position: static;
        top: 0;
        left: 0;
        width: auto;
        height: auto;
  
      }
      .group-child3 {
        left: 0;
        width: auto;
        height: auto;
    
      }
      .div {
        top: 0;
        left: 0;
        
        display: inline-block;
        width: auto;
        background-color: var(--colors-buttun-gray-10);
      }
      .div,
      .parent,
      .phone {
        position: static;
      }
      .phone {
        position: static;
        top: 0;
        left: 0;
        width: auto;
        background-color: var(--colors-buttun-gray-10);
      }
      .parent {
        top: 0;
        left: 0;
        width: auto;
        height: auto;
      }
      .country,
      .group-child4,
      .usa {
        position: static;
        top: 0;
        left: 0;
      }
      .group-child4 {
    
        width: auto;
        height: auto;
        background-color: var(--colors-buttun-gray-10);
      }
      .country,
      .usa {
        line-height: auto;
        width: auto;
        background-color: var(--colors-buttun-gray-10);
      }
      .usa {
        top: 0;
        left: 0;
        width: auto;
       
      }
      .country-parent {
        position: static;
        top: 0;
        left: 0;
        width: auto;
        height: auto;
       
      }
      .rectangle-parent2,
      .rectangle-parent3 {
        position: static;
        top: 0;
        left: 0;
        width: 0;
        height: auto;
      }
      .rectangle-parent2 {
        top: 0;
        left: 0;
        width: auto;
      }
      
      .pm {
        position: static;
        top: 0;
        left: 0;
        line-height: auto;
        width: auto;
        background-color: var(--colors-buttun-gray-10);
      }
      .delete {
     
        top: 0;
        left: 0;
        line-height: auto;
        width: auto;
        position: static;
      }
  
    } 
    @media only screen and (max-width: 992px) {
      .home {
          width: 100%;
         
        }
        .home1 {
          width: auto;
           
        }
        .desktop-3-item {
          position: relative;
          left: 0; 
          height: auto ;
          width: auto;
        }
        .desktop-4-item {
          position: relative;
          left: 0; 
          height: auto ;
          width: auto;
        }
        .desktop-11-inner {
          position: static;
          top: 0;
          left: 0; 
          width: auto;
          height: auto; 
        }
        .heading {
        
          width: auto;
          height: auto;
          left: 1px;
          margin-left: 0;
          border-bottom: 1px solid #DDDDDD;
        }
        .navbar-brand {
          font-size: 12px;
          font-weight: 600;
          font-family: sans-serif;
          padding: 8px 0px 9px 22px;
    
        }
        .btn.btn-primary {
          width: auto;
        }
        .rectangle-parent {
       
          position: absolute;
          top: 0;
          left: 0;
          width: auto;
          height: auto;
          display: inline-block;
        }
        .image-icon,
        .instance-child {
          position: absolute;
          height: auto;
          top: 0;
          right: 0;
          bottom: 0;
        }
        .instance-child {
          width: auto;
          
        }
        .image-icon {
          width: 0;
          left: 0;
          border-radius: auto;
          max-width: auto;
          max-height: auto;
    
        }
        .image-parent,
        .koray-okumus {
          position: absolute;
          top: 0;
          left: 0;
        }
        .image-parent {
          height: auto;
          width: auto;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
        .group-item,
        .rectangle-group {
          position: static;
          top: 0;
          left: 0;
          width: auto;
          height: auto;
          display: inline-block;
        }
        .group-item {
          position: static;
          top: 0;
          left: 0;
          width: auto;
          height: auto;
          display: inline-block;
        }
        .simply-dummy-text {
          position: static;
          top: 0;
          left: 0;
          font-family: var(--text-sm-regular);
          width: auto;
          height: auto;
          display: inline-block;
        }
        .group-inner {
          position: static;
          top: 0;
          left: 0;
          width: auto;
          height: auto;
        }
        .email,
        .oliverjohngmailcom {
          position: static;
          top: 0;
          left: 0;
          line-height: auto;
          width: auto;
          background-color: var(--colors-buttun-gray-10);
        }
        .oliverjohngmailcom {
          top: 0;
          width: auto;
        }
        .email-parent,
        .group-div {
          position: static;
          top: 0;
          left: 0;
          width: auto;
          height: auto;
        }
        .group-div {
          top: 0;
          left: 0;
          width: auto;
          height: auto;
        }
        .group-child1,
        .name {
          position: static;
          top: 0;
        
        }
        .group-child1 {
          left: 0;
          background-color: var(--colors-buttun-gray-10);
          width: auto;
          height: auto;
        }
        .name {
          left: 0;
          line-height: auto;
          width: auto;
          background-color: var(--colors-buttun-gray-10);
        }
        .name-parent,
        .oliver-john {
          position: static;
          width: auto;
        }
        .oliver-john {
          top: 0;
          left: 0;
          line-height: auto;
          display: inline-block;
          background-color: var(--colors-buttun-gray-10);
        }
        .name-parent {
          top: 0;
          left: 0;
          height: auto;
        }
        .rectangle-parent1 {
          position: static;
          top: 0;
          left: 0;
          width: auto;
          height: auto;
        }
        .group-child2,
        .group-child3 {
          position: static;
          top: 0;
          left: 0;
          width: auto;
          height: auto;
    
        }
        .group-child3 {
          left: 0;
          width: auto;
          height: auto;
      
        }
        .div {
          top: 0;
          left: 0;
          
          display: inline-block;
          width: auto;
          background-color: var(--colors-buttun-gray-10);
        }
        .div,
        .parent,
        .phone {
          position: static;
        }
        .phone {
          position: static;
          top: 0;
          left: 0;
          width: auto;
          background-color: var(--colors-buttun-gray-10);
        }
        .parent {
          top: 0;
          left: 0;
          width: auto;
          height: auto;
        }
        .country,
        .group-child4,
        .usa {
          position: static;
          top: 0;
          left: 0;
        }
        .group-child4 {
      
          width: auto;
          height: auto;
          background-color: var(--colors-buttun-gray-10);
        }
        .country,
        .usa {
          line-height: auto;
          width: auto;
          background-color: var(--colors-buttun-gray-10);
        }
        .usa {
          top: 0;
          left: 0;
          width: auto;
         
        }
        .country-parent {
          position: static;
          top: 0;
          left: 0;
          width: auto;
          height: auto;
         
        }
        .rectangle-parent2,
        .rectangle-parent3 {
          position: static;
          top: 0;
          left: 0;
          width: 0;
          height: auto;
        }
        .rectangle-parent2 {
          top: 0;
          left: 0;
          width: auto;
        }
        
        .pm {
          position: static;
          top: 0;
          left: 0;
          line-height: auto;
          width: auto;
          background-color: var(--colors-buttun-gray-10);
        }
        .delete {
       
          top: 0;
          left: 0;
          line-height: auto;
          width: auto;
          position: static;
        }
    
      } 