<div class="desktop-3">
  <div class="desktop-3-child"></div>
  <div class="desktop-3-item"></div>
  <div class="rectangle-div"></div>
  <div class="contact-us">Contact us</div>
  <div class="line-div"></div>
  <div class="input-field">
    <div class="input-field-base">
      <div class="input-field-base">
        <div class="label">Address</div>
        <input class="input" type="text" />
      </div>
      <div class="hint-text">This is a hint text to help user.</div>
    </div>
  </div>
  <div class="input-field1">
    <div class="input-field-base">
      <div class="input-field-base">
        <div class="label">Company Phones</div>
        <input class="input1" type="text" />
      </div>
      <div class="hint-text">This is a hint text to help user.</div>
    </div>
  </div>
  <div class="input-field2">
    <div class="input-field-base">
      <div class="input-field-base">
        <div class="label">Fax</div>
        <input class="input1" type="text" />
      </div>
      <div class="hint-text">This is a hint text to help user.</div>
    </div>
  </div>
  <div class="input-field3">
    <div class="input-field-base">
      <div class="input-field-base">
        <div class="label">Email</div>
        <input class="input1" type="text" />
      </div>
      <div class="hint-text3">This is a hint text to help user.</div>
    </div>
  </div>

  <button class="rectangle-parent">
    <div class="group-child"></div>
    <div class="edit">Edit</div>
  </button>
  <!-- <div class="rectangle-group">
        <div class="instance-child"></div>
        <div class="image-parent">
          <img class="image-icon" alt="" src="./public/image@2x.png" />

          <div class="koray-okumus">Koray Okumus</div>
        </div>
      </div> -->
     
  <div class="rectangle-container">
    <div class="group-item"></div>
    <div class="simply-dummy-text">
      {{message}}
    </div>
    <div class="group-div">
      <div class="group-inner"></div>
      <div class="email-parent">
        <div class="email">Email</div>
        <div class="oliverjohngmailcom">{{email}}</div>
      </div>
    </div>
    <div class="check-button">
      <div class="rectangle-parent1">
        <div class="group-child1"></div>
        <div class="name-parent">
          <div class="name">Name</div>
          <div class="oliver-john">{{firstname}}</div>
        </div>
      </div>
    </div>
    <div class="group-child2"></div>
    <div class="rectangle-parent2">
      <div class="group-child3"></div>
      <div class="parent">
        <div class="div">{{phone}}</div>
        <div class="phone">Phone</div>
      </div>
      <div class="rectangle-parent3">
        <div class="group-child4"></div>
        <div class="country-parent">
          <div class="country">Country</div>
          <div class="usa">USA</div>
        </div>
      </div>
    </div>
    <div class="pm">25-12-2022 1:52 pm</div>
    <button class="delete">Delete</button>
    
  </div>
  
</div>

