<header>
    <div class="nav-bar">
      <div class="new-container">
        <div class="new-head">
          <nav>
            <ul class="nav-links">
              <li><a href = "https://www.facebook.com/KraftConstructionremodels"><img class="icon-nav"  src="../../../assets/facebook.png" alt=""></a></li>
              <li><a href ="https://www.instagram.com/kraftremodels"><img class="icon-nav" src="../../../assets/insta.png" alt=""></a></li>
            </ul>
          </nav>
          <div class="cta">
            <div class="cta-links">
              <a href="#" class="pad"> <img class="cta-icon"  src="../../../assets/Vector.png" alt=""></a>
              <div class="pad"><img src="../../../assets/Line 1.png"></div>
              <div class="pad">
              <a class="pad" routerLink="/request-estimate">Request Estimate</a>
              <p class="black">tes</p>
            </div>
          </div>
            <div class="cta-links">
              <a class="pad" href="#"><img class="cta-icon" src="../../../assets/Vector (1).png" alt=""></a>
              <div class="pad"><img src="../../../assets/Line 1.png"></div>
              <div class="email   pad">
                <a href="Kraftconstruction@kraftconstructioco.com">Email Us</a>
                <p>Kraftconstruction@kraftconstructioco.com</p>
              </div>
            </div>
            <div class="cta-links">
              <a class="pad"  href="#"><img class="cta-icon"  src="../../../assets/login.png" alt=""></a>
              <div class="pad"><img src="../../../assets/Line 1.png"></div>
              <div class="pad">
              <a class="marg"  routerLink="/login">Sign in</a>
              <p class="black">test</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>




  <!-- for 2nd sec -->
  <div class="nav-bar-2">
    <div class="new-container">
      <div class="new-head">
        <div class="logo">
          <a routerLink="/home"><img class="img-logo" src="../../../assets/logo.png"></a>
        </div>

        <div>
          <div class="nav-links-2">
            <a routerLink="/about-us"> About Us </a>
            <a routerLink="/interior-remodelling">Interior Remodeling</a>
            <div class="drop-down">
              <a href="#"><img src="../../../assets/dropDown.png" alt=""></a>
              <div class="drop-down-content">
                <a href="#">Decks-Patios</a>
                <a href="#">Bathroom</a>
                <a href="#">Kitchen</a>
                <a href="#">Basement</a>

              </div>
            </div>
            <a routerLink="/new-additions">New Additions</a>
            <div class="drop-down">
              <a href="#"><img src="../../../assets/dropDown.png" alt=""></a>
              <div class="drop-down-content">
                <a href="#">Sunrooms </a>
                <a href="#">Second story addition</a>
                <a href="#">Other additions</a>
              </div>
            </div>
            <a routerLink="/careers">Careers</a>
            <a routerLink="/testimonials">Testimonials</a>
            <a routerLink="/payment">Payments</a>
            <a routerLink="/contact-us">Contact us</a>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div id="mobile-nav">
    <div class="new-container">
      <div class="logo">
        <a routerLink="/home"><img class="img-logo" src="../../../assets/logo.png"></a>
      </div>
      <div class="nav-links-2">
        <a routerLink="/about-us"> About Us </a>
        <div class="drop-down-wrape">
          <a routerLink="./interior-remodelling">Interior Remodeling</a>
          <div class="drop-down">
            <a href="#"><img src="../../../assets/dropDown.png" alt=""></a>
            <div class="drop-down-content">
              <a href="#">Decks-Patios</a>
              <a href="#">Bathroom</a>
              <a href="#">Kitchen</a>
              <a href="#">Basement</a>

            </div>
          </div>
        </div>
        <div class="drop-down-wrape">
          <a routerLink="/new-additions">New Additions</a>
          <div class="drop-down">
            <a href="#"><img src="../../../assets/dropDown.png" alt=""></a>
            <div class="drop-down-content">
              <a href="#">Sunrooms </a>
              <a href="#">Second story addition</a>
              <a href="#">Other additions</a>
            </div>
          </div>
        </div>
        <a routerLink="/careers">Careers</a>
        <a routerLink="/testimonials">Testimonials</a>
        <a href="#">Payments</a>
        <a routerLink="./contact-us">Contact us</a>
        <a href="#">Request Estimate</a>
      </div>


    </div>
  </div>
</header>