body *,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


h1 {
    color: #fff;
}



.nav-bar {
    background-color: black;
    padding: 5px;
}

.nav-bar a {
    color: white;
}

.nav-links li,
a {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

.logo {
    width: 161px;
}

.img-logo {
    /* width: 100%; */
    height: auto;
}

.img-logo-project {
    width: 100%;
    height: 300px;
}

.img-logo1 {
    width: 100%;
    height: 8em;
}

.img-logo-phone {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

p {
    margin: 0px;
    padding: 0px;
}

#email-style {
    color: #91C490;
    font-size: 12px;
}

.new-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-container {
    width: 100%;
    padding: 0px 10%;
}

.nav-links {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.icon-nav {
    width: 20px;
    height: 17px;
}

.cta-icon {
    margin-bottom: 6px;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.cta {
    /* display: inline-block; */
    padding: 10px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.cta a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
}

.cta-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pad {
    padding: 0px 5px;
}

.black {
    color: black;
    margin: 0px;
}

.logo {
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
}

/* for 2nd section */
#mobile-nav {
    padding: 10px 0px;
    background-color: whitesmoke;
    height: 90px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}


.menu-items {
    position: absolute;
    padding: 4rem 0em 0em 0.5em;
    top: 0;
    left: 0;
    list-style: none;
    opacity: 0;
    font-size: 2rem;
    border: 4px solid whitesmoke;
    background-color: whitesmoke;
    border-radius: 0.25em;
    transform: translateX(-10%);
    transition: transform 100ms ease-in-out, opacity 200ms;
    height: 1100px;
    width: 40%;
}

.menu-items li {
    color: black;
    padding: 0.5rem;
}

.menu-items li a {
    color: black;
    text-decoration: none;
}

.menu-items li a:hover {
    color: rgb(174, 174, 174);
}

.check {
    position: absolute;
    top: 1rem;
    left: 0;
    height: 3rem;
    width: 3rem;
    opacity: 0;
    z-index: 3;
}

.check:hover {
    cursor: pointer;
}

.check:checked~.menu-items {
    display: block;
    transform: translateX(0%);
    opacity: 1;
}

.ham-menu {
    height: 3rem;
    width: 3rem;
    position: absolute;
    top: 1rem;
    left: 0;
    padding: 0.5rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: whitesmoke;
    border-radius: 0.25em;
}

.ham-menu .line {
    background-color: darkgrey;
    border-radius: 1em;
    width: 2rem;
    height: 0.25rem;
}

.ham-menu .line1 {
    transform-origin: 0% 0%;
    transition: transform 100ms ease-in-out;
}

.ham-menu .line3 {
    transform-origin: 0% 100%;
    transition: transform 100ms ease-in-out;
}

.check:checked~.ham-menu .line1 {
    display: block;
    transform: rotate(45deg);
}

.check:checked~.ham-menu .line2 {
    opacity: 0;
}

.check:checked~.ham-menu .line3 {
    display: block;
    transform: rotate(-45deg);
}

.nav-bar-2 {
    padding: 8px 0px;
    background-color: whitesmoke;
}

.nav-links-2 {
    display: flex;
    align-items: center;
    list-style: none;
}

.drop-down {
    padding: 0px;
    margin-left: -20px;
}

a {
    cursor: pointer;
}

.nav-links-2 a {
    cursor: pointer;
    padding: 0px 13px;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;

}

.drop-down {
    position: relative;
}

.drop-down-content {
    width: 175px;
    display: none;
    position: absolute;
    top: 100%;
    left: -100px;
    z-index: 1;
    background-color: #fff;
    padding: 0.5rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropbtn {
    border: none;
    padding: 0px;
    margin-left: 12px;
}

.drop-down:hover .drop-down-content {
    display: block;
}

.drop-down-content a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: #333;
}

.drop-down-content a:hover {
    background-color: #f1f1f1;
}

.drop-down-content1 {
    width: 175px;
    display: none;
    position: absolute;
    top: 100%;
    left: -140px;
    z-index: 1;
    background-color: #fff;
    padding: 0.5rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.drop-down:hover .drop-down-content1 {
    display: block;
}

.drop-down-content1 a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: #333;
}

.drop-down-content1 a:hover {
    background-color: #f1f1f1;
}

.drop-down1 {
    display: flex;
    gap: 25px;
    align-items: center;
}

.drop-down2 {
    display: flex;
    gap: 63px;
    align-items: center;
}

.login-img {
    width: 30px;
}

.signIn {
    text-decoration: none;
    font-size: 14px;
    color: black;
    padding-right: 5px;
}

/* media queries */
@media (max-width: 72.5em) {
    .cta {
        width: 78%;
    }

    .nav-links-2 a {
        font-size: 14px;
    }

    .img-logo {
        width: 130px;
        height: auto;
    }
}

@media (max-width: 59em) {
    .drop-down1 {
        justify-content: space-between;
    }

    .drop-down2 {
        justify-content: space-between;
    }



    .nav-bar,
    .nav-bar-2 {
        display: none;
    }

    .nav-links-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
    }

    .logo {
        margin: auto;
        margin-left: 36%;
    }

    .drop-down-wrape {
        display: flex;
        justify-content: flex-start;
    }

    .cta {
        width: 78%;
    }
}

@media (min-width: 59em) {

    #mobile-nav {
        display: none;
    }
}

@media (max-width: 47em) {
    .logo {
        width: 110px;
    }

    .img-logo {
        width: 100%;
        height: auto;
    }

    .menu-items {
        width: 60%;
    }


}