.aboutus2-1-icon {
  margin-top: 50px ;
  color: var(--kraft-light-green);
}
  .get-a-quote {
  
    font-family: var(--font-lato); 
     font-size: 35px; 
  }

  .design-your-home {
   
    font-size: var(--h2-semibold-size);
    font-weight: 600; 
     font-family: var(--h2-semibold);
  }

  .aboutus2-1-icon {
    margin-top: 1rem ;
    color: var(--kraft-light-green);
  }
  .abc {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 15.25rem;
    color: #fff;
    text-align: center;
}
p {
  line-height: 1rem;
}
.about-text {
  margin-top: 6rem;
 
}

#my-img {
  filter: brightness(40%);
}
#img-up {
  background-color: var(--kraft-light-green);
}
h2 {
  font-size: 44px;
  margin-left: 10rem;
}

   @media (max-width: 576px) {
      h2 {
         font-size: 24px;
         margin-left: 0;
      }
   }

@media screen and (max-width:768px) {
  .abc {
    position: static;
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
  }
  .get-a-quote {
    font-size: 25px;
  }
  .design-your-home {
    font-size: 20px;
  }
}
