.aboutus2-1-icon {
  margin-top: 50px ;
  
  
}
.a {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
}

  .get-a-quote {
  
    font-family: var(--font-lato); 
     font-size: 35px; 
  }
  .test-nav {
   margin-left: 10rem;
   margin-top: 1rem;
   width: 160px;
  }
  .test-nav a {
    color: var(--colors-white);
    text-decoration: none;
    padding: 0px 3px;
 
 }

  .design-your-home {
   
    font-size: var(--h2-semibold-size);
    font-weight: 600; 
     font-family: var(--h2-semibold);
     margin-top: 1rem;
  }
  .rect {
    margin-top: 10px;
  }

  .aboutus2-1-icon {
    margin-top: 1rem ;
    color: var(--kraft-light-green);
    font-family: kanit;
    font-style: bold;
  }
  .abc {
    position: absolute;
    right: 15%;
    top: 12.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 15.25rem;
    color: #fff;
    text-align: center;
}
p {
  line-height: 1rem;
}
.about-text {
  margin-top: 6rem;
  font-family: Kanit;
 
}
h1 {
  font-family: kanit;
}
.btn {
  display: inline-block;
  background-color: var(--kraft-d-green); 
  width: 15%;
  height: 20%;
  border:none;

}
.card-img {
    background-image:  linear-gradient(rgba(2, 90, 0, 0.6), rgba(2, 90, 0, 0.6)),url("../../../assets/images/aboutus2 1 (1).png");
     background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 20vh; 
}
#my-img {
  filter: brightness(40%);

}
  #img-up {
  background-color: var(--kraft-light-green);
}
.abtus {
  font-size: 44px;
  margin-left: 10rem;
}
.h2 {
  
    font-size: 24px;
  
}
.card-body p {
  line-height: 0.2rem;
}
.mainImage {
  width: 70%;
  height: 100%;
}


   @media (max-width: 576px) {
      .abtus, h2 {
         font-size: 24px;
         margin-left: 0;
      }
      #my-img {
        width: auto;
      }
      .abc {
        position: absolute;
        right: auto;
        top: auto;
        left: auto;
        padding-top: auto;
        padding-bottom: auto;
        color: #fff;
        text-align: auto;
    }
    .mainImage {
      width: 70%;
      height: 100%;
    }
    .design-your-home {
   
      font-size: 25;
      font-weight: 600; 
       font-family: var(--h2-semibold);
    }
    .get-a-quote {
  
      font-family: var(--font-lato); 
       font-size: 25px; 
    }
    p {
      line-height: auto;
    }
    .about-text {
      margin-top: auto;
     
    }
    .btn {
 
      display: inline-block;
      background-color: var(--kraft-d-green);
      width: auto;
      height: auto;
  }
  .test-nav {
    margin-left:0;
    width: 100%;
   }
   .card-body p {
    line-height: 0.1rem;
  }
  .card2.sm-2 {
    max-width: 100%;
    margin-left: 0; 
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .image {
    max-width: 100%;
    margin-left: 0;
  }

   }
   @media (max-width: 768px) {
    .abtus, h2 {
       font-size: 24px;
       margin-left: 0;
    }
    #my-img {
      width: auto;
    }
    .mainImage {
      width: 70%;
      height: auto;
    }
    .abc {
      position: absolute;
      right: 0;
      top: 0;
      left: 0;
      padding-top: auto;
      padding-bottom: auto;
      color: #fff;
      text-align: auto;
  }
  .design-your-home {
 
    font-size: 25;
    font-weight: 600; 
     font-family: var(--h2-semibold);
  }
  .get-a-quote {

    font-family: var(--font-lato); 
     font-size: 25px; 
  }
  p {
    line-height: auto;
  }
  .about-text {
    margin-top: auto;
   
  }
  .btn {

    display: inline-block;
    background-color: var(--kraft-d-green);
    width: auto;
    height: auto;
}
.test-nav {
  margin-left:0;
  width: 100%;
 }
 .card-body p {
  line-height: 0.1rem;
}
.card2.sm-2 {
  max-width: 100%;
  margin-left: 0; 
  margin-top: 1em;
  margin-bottom: 1em;
}
.image {
  max-width: 100%;
  margin-left: 0;
}

 }
 @media (max-width: 992px) {
  .abtus, h2 {
     font-size: 24px;
     margin-left: 0;
  }
  #my-img {
    width: auto;
  }
  .abc {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    padding-top: auto;
    padding-bottom: auto;
    color: #fff;
    text-align: auto;
}
.design-your-home {

  font-size: 25;
  font-weight: 600; 
   font-family: var(--h2-semibold);
}
.get-a-quote {

  font-family: var(--font-lato); 
   font-size: 25px; 
}
p {
  line-height: auto;
}
.mainImage {
  width: 70%;
  height: auto;
}
.about-text {
  margin-top: auto;
 
}
.btn {

  display: inline-block;
  background-color: var(--kraft-d-green);
  width: auto;
  height: auto;
}
.test-nav {
margin-left:0;
width: 100%;
}
.card-body p {
line-height: 0.1rem;
}
.card2.sm-2 {
max-width: 100%;
margin-left: 0; 
margin-top: 1em;
margin-bottom: 1em;
}
.image {
max-width: 100%;
margin-left: 0;
}

}
