<div class="desktop-24">
     <img class="icon"/> 
    <div class="frame">
        <div class="column">
            <div class="table-header-cell">
                <div class="checkbox">
                    <input type="checkbox" input class="text" />

                </div>
                <div class="table-header">
                    <div class="text">Name</div>
                </div>
            </div>
            <div class="table-cell">
                <div class="checkbox">

                    <input type="checkbox" input class="text1" />

                </div>



                <div class="text-and-supporting-text">
                    <div class="text1">Oliver john</div>
                    <div class="supporting-text">200 KB</div>
                </div>
            </div>
            <div class="table-cell1">

                <div class="checkbox">
                    <input type="checkbox" input class="text1" />

                </div>

                <div class="text-and-supporting-text">
                    <div class="text1">Eve Leroy</div>
                    <div class="supporting-text">720 KB</div>
                </div>
            </div>
            <div class="table-cell">

                <div class="checkbox">
                    <input type="checkbox" input class="text1" />


                </div>


                <div class="text-and-supporting-text">
                    <div class="text1">Koray Okumus</div>
                    <div class="supporting-text">16 MB</div>
                </div>
            </div>
            <div class="table-cell1">

                <div class="checkbox">
                    <input type="checkbox" input class="text1" />


                </div>


                <div class="text-and-supporting-text">
                    <div class="text1">Noah Pierre</div>
                    <div class="supporting-text">4.2 MB</div>
                </div>
            </div>
            <div class="table-cell">

                <div class="checkbox">
                    <input type="checkbox" input class="text1" />

                </div>



                <div class="text-and-supporting-text">
                    <div class="text1">Lyle Kauffman</div>
                    <div class="supporting-text">400 KB</div>
                </div>
            </div>
            <div class="table-cell1">

                <div class="checkbox">
                    <input type="checkbox" input class="text1" />


                </div>


                <div class="text-and-supporting-text">
                    <div class="text1">Koray Okumus</div>
                    <div class="supporting-text">12 MB</div>
                </div>
            </div>
            <div class="table-cell">

                <div class="checkbox">
                    <input type="checkbox" input class="text1" />


                </div>


                <div class="text-and-supporting-text">
                    <div class="text1">Oliver john</div>
                    <div class="supporting-text">800 KB</div>
                </div>
            </div>
        </div>
        <div class="column1">
            <div class="table-header-cell1">
                <div class="table-header">
                    <div class="text">County/state</div>
                </div>
            </div>
            <div class="table-cell7">
                <div class="careers">Ny, United state</div>
            </div>
            <div class="table-cell8">
                <div class="careers">Ny, United state</div>
            </div>
            <div class="table-cell7">
                <div class="careers">Ny, United state</div>
            </div>
            <div class="table-cell8">
                <div class="careers">Ny, United state</div>
            </div>
            <div class="table-cell7">
                <div class="careers">Ny, United state</div>
            </div>
            <div class="table-cell8">
                <div class="careers">Ny, United state</div>
            </div>
            <div class="table-cell7">
                <div class="careers">Ny, United state</div>
            </div>
        </div>
        <div class="column1">
            <div class="table-header-cell1">
                <div class="table-header">
                    <div class="text">Experience</div>
                </div>
            </div>
            <div class="table-cell7">
                <div class="careers">5 years</div>
            </div>
            <div class="table-cell8">
                <div class="careers">4 years</div>
            </div>
            <div class="table-cell7">
                <div class="careers">4 years</div>
            </div>
            <div class="table-cell8">
                <div class="careers">3 years</div>
            </div>
            <div class="table-cell7">
                <div class="careers">3 years</div>
            </div>
            <div class="table-cell8">
                <div class="careers">2 years</div>
            </div>
            <div class="table-cell7">
                <div class="careers">2 years</div>
            </div>
        </div>
        <div class="column3">
            <div class="table-header-cell1">
                <div class="table-header">
                    <div class="text">Education</div>
                </div>
            </div>
            <div class="table-cell7">
                <div class="careers">Civil Engineer</div>
            </div>
            <div class="table-cell8">
                <div class="careers">Civil Engineer</div>
            </div>
            <div class="table-cell7">
                <div class="careers">Civil Engineer</div>
            </div>
            <div class="table-cell8">
                <div class="careers">Civil Engineer</div>
            </div>
            <div class="table-cell7">
                <div class="careers">Civil Engineer</div>
            </div>
            <div class="table-cell8">
                <div class="careers">Civil Engineer</div>
            </div>
            <div class="table-cell7">
                <div class="careers">Civil Engineer</div>
            </div>
        </div>
        <div class="column6">
            <div class="table-header-cell1">
                <!-- <div class="table-header">
                </div> -->
            </div>
            <div class="table-cell5">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button">View Complete Info</button>
                        <button class="dropdown-item" type="button">Download CV</button>
                        <button class="dropdown-item" type="button">Delete</button>
                      </div>
                  </div>
            </div>
            <div class="table-cell8">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                      <button class="dropdown-item" type="button">View Complete Info</button>
                      <button class="dropdown-item" type="button">Download CV</button>
                      <button class="dropdown-item" type="button">Delete</button>
                    </div>
                  </div>
        </div>
        <div class="table-cell5">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <button class="dropdown-item" type="button">View Complete Info</button>
                  <button class="dropdown-item" type="button">Download CV</button>
                  <button class="dropdown-item" type="button">Delete</button>
                </div>
              </div>
        </div>
        <div class="table-cell8">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <button class="dropdown-item" type="button">View Complete Info</button>
                  <button class="dropdown-item" type="button">Download CV</button>
                  <button class="dropdown-item" type="button">Delete</button>
                </div>
              </div>
    </div>
    <div class="table-cell5">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button">View Complete Info</button>
              <button class="dropdown-item" type="button">Download CV</button>
              <button class="dropdown-item" type="button">Delete</button>
            </div>
          </div>
    </div>
    <div class="table-cell8">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button">View Complete Info</button>
              <button class="dropdown-item" type="button">Download CV</button>
              <button class="dropdown-item" type="button">Delete</button>
            </div>
          </div>
</div>
<div class="table-cell5">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button">View Complete Info</button>
          <button class="dropdown-item" type="button">Download CV</button>
          <button class="dropdown-item" type="button">Delete</button>
        </div>
      </div>
</div>
    </div>
    <div class="rectangle-parent">
        <div class="career">Career</div>
    </div>
    <div class="pagination-button-group">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">6</a></li>
                <li class="page-item"><a class="page-link" href="#">7</a></li>
                <li class="page-item"><a class="page-link" href="#">8</a></li>
                <li class="page-item"><a class="page-link" href="#">9</a></li>
                <li class="page-item"><a class="page-link" href="#">10</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
</div>