      <div class="desktop-24">
      <img class="icon" alt="" src="./public/icon.svg" />

      <div class="desktop-24-child"></div>
      <div class="desktop-24-item"></div>
      <div class="frame">
        <div class="column">
          <div class="table-header-cell">
            <div class="checkbox">
              <div class="checkbox-base"></div>
            </div>
            <div class="table-header">
              <div class="text">Name</div>
            </div>
          </div>
          <div class="table-cell">
            <div class="checkbox">
              <div class="checkbox-base"></div>
            </div>
            <img
              class="featured-icon"
              alt=""
              src="./public/featured-icon.svg"
            />

            <div class="text-and-supporting-text">
              <div class="text1">Oliver john</div>
              <div class="supporting-text">200 KB</div>
            </div>
          </div>
          <div class="table-cell1">
            <div class="checkbox">
              <div class="checkbox-base"></div>
            </div>
            <img
              class="featured-icon"
              alt=""
              src="./public/featured-icon1.svg"
            />

            <div class="text-and-supporting-text">
              <div class="text1">Eve Leroy</div>
              <div class="supporting-text">720 KB</div>
            </div>
          </div>
          <div class="table-cell">
            <div class="checkbox">
              <div class="checkbox-base"></div>
            </div>
            <img
              class="featured-icon"
              alt=""
              src="./public/featured-icon2.svg"
            />

            <div class="text-and-supporting-text">
              <div class="text1">Koray Okumus</div>
              <div class="supporting-text">16 MB</div>
            </div>
          </div>
          <div class="table-cell1">
            <div class="checkbox">
              <div class="checkbox-base"></div>
            </div>
            <img
              class="featured-icon"
              alt=""
              src="./public/featured-icon3.svg"
            />

            <div class="text-and-supporting-text">
              <div class="text1">Noah Pierre</div>
              <div class="supporting-text">4.2 MB</div>
            </div>
          </div>
          <div class="table-cell">
            <div class="checkbox">
              <div class="checkbox-base"></div>
            </div>
            <img
              class="featured-icon"
              alt=""
              src="./public/featured-icon.svg"
            />

            <div class="text-and-supporting-text">
              <div class="text1">Lyle Kauffman</div>
              <div class="supporting-text">400 KB</div>
            </div>
          </div>
          <div class="table-cell1">
            <div class="checkbox">
              <div class="checkbox-base"></div>
            </div>
            <img
              class="featured-icon"
              alt=""
              src="./public/featured-icon4.svg"
            />

            <div class="text-and-supporting-text">
              <div class="text1">Koray Okumus</div>
              <div class="supporting-text">12 MB</div>
            </div>
          </div>
          <div class="table-cell">
            <div class="checkbox">
              <div class="checkbox-base"></div>
            </div>
            <img
              class="featured-icon"
              alt=""
              src="./public/featured-icon1.svg"
            />

            <div class="text-and-supporting-text">
              <div class="text1">Oliver john</div>
              <div class="supporting-text">800 KB</div>
            </div>
          </div>
        </div>
        <div class="column1">
          <div class="table-header-cell1">
            <div class="table-header">
              <div class="text">County/state</div>
            </div>
          </div>
          <div class="table-cell7">
            <div class="careers">Ny, United state</div>
          </div>
          <div class="table-cell8">
            <div class="careers">Ny, United state</div>
          </div>
          <div class="table-cell7">
            <div class="careers">Ny, United state</div>
          </div>
          <div class="table-cell8">
            <div class="careers">Ny, United state</div>
          </div>
          <div class="table-cell7">
            <div class="careers">Ny, United state</div>
          </div>
          <div class="table-cell8">
            <div class="careers">Ny, United state</div>
          </div>
          <div class="table-cell7">
            <div class="careers">Ny, United state</div>
          </div>
        </div>
        <div class="column1">
          <div class="table-header-cell1">
            <div class="table-header">
              <div class="text">Experience</div>
            </div>
          </div>
          <div class="table-cell7">
            <div class="careers">5 years</div>
          </div>
          <div class="table-cell8">
            <div class="careers">4 years</div>
          </div>
          <div class="table-cell7">
            <div class="careers">4 years</div>
          </div>
          <div class="table-cell8">
            <div class="careers">3 years</div>
          </div>
          <div class="table-cell7">
            <div class="careers">3 years</div>
          </div>
          <div class="table-cell8">
            <div class="careers">2 years</div>
          </div>
          <div class="table-cell7">
            <div class="careers">2 years</div>
          </div>
        </div>
        <div class="column3">
          <div class="table-header-cell1">
            <div class="table-header">
              <div class="text">Education</div>
            </div>
          </div>
          <div class="table-cell7">
            <div class="careers">Civil Engineer</div>
          </div>
          <div class="table-cell8">
            <div class="careers">Civil Engineer</div>
          </div>
          <div class="table-cell7">
            <div class="careers">Civil Engineer</div>
          </div>
          <div class="table-cell8">
            <div class="careers">Civil Engineer</div>
          </div>
          <div class="table-cell7">
            <div class="careers">Civil Engineer</div>
          </div>
          <div class="table-cell8">
            <div class="careers">Civil Engineer</div>
          </div>
          <div class="table-cell7">
            <div class="careers">Civil Engineer</div>
          </div>
        </div>
        <div class="column4">
          <div class="table-header-cell4">
            <div class="table-header">
              <div class="text">Column</div>
            </div>
          </div>
          <div class="table-cell7">
            <div class="careers">Text</div>
          </div>
          <div class="table-cell8">
            <div class="careers">Text</div>
          </div>
          <div class="table-cell7">
            <div class="careers">Text</div>
          </div>
          <div class="table-cell8">
            <div class="careers">Text</div>
          </div>
          <div class="table-cell7">
            <div class="careers">Text</div>
          </div>
          <div class="table-cell8">
            <div class="careers">Text</div>
          </div>
          <div class="table-cell7">
            <div class="careers">Text</div>
          </div>
        </div>
        <div class="column4">
          <div class="table-header-cell4">
            <div class="table-header">
              <div class="text">Column</div>
            </div>
          </div>
          <div class="table-cell7">
            <div class="careers">Text</div>
          </div>
          <div class="table-cell8">
            <div class="careers">Text</div>
          </div>
          <div class="table-cell7">
            <div class="careers">Text</div>
          </div>
          <div class="table-cell8">
            <div class="careers">Text</div>
          </div>
          <div class="table-cell7">
            <div class="careers">Text</div>
          </div>
          <div class="table-cell8">
            <div class="careers">Text</div>
          </div>
          <div class="table-cell7">
            <div class="careers">Text</div>
          </div>
        </div>
        <div class="column4">
          <div class="table-header-cell4">
            <div class="table-header">
              <div class="text">Column</div>
            </div>
          </div>
          <div class="table-cell7">
            <div class="careers">Text</div>
          </div>
          <div class="table-cell8">
            <div class="careers">Text</div>
          </div>
          <div class="table-cell7">
            <div class="careers">Text</div>
          </div>
          <div class="table-cell8">
            <div class="careers">Text</div>
          </div>
          <div class="table-cell7">
            <div class="careers">Text</div>
          </div>
          <div class="table-cell8">
            <div class="careers">Text</div>
          </div>
          <div class="table-cell7">
            <div class="careers">Text</div>
          </div>
        </div>
        <div class="text-and-supporting-text">
          <div class="table-header-cell7"></div>
          <div class="table-cell7">
            <div class="text-and-supporting-text">
              <img
                class="more-vertical-icon"
                alt=""
                src="./public/morevertical.svg"
              />
            </div>
          </div>
          <div class="table-cell8">
            <div class="text-and-supporting-text">
              <img
                class="more-vertical-icon"
                alt=""
                src="./public/morevertical1.svg"
              />
            </div>
          </div>
          <div class="table-cell7">
            <div class="text-and-supporting-text">
              <img
                class="more-vertical-icon"
                alt=""
                src="./public/morevertical1.svg"
              />
            </div>
          </div>
          <div class="table-cell8">
            <div class="text-and-supporting-text">
              <img
                class="more-vertical-icon"
                alt=""
                src="./public/morevertical2.svg"
              />
            </div>
          </div>
          <div class="table-cell7">
            <div class="text-and-supporting-text">
              <img
                class="more-vertical-icon"
                alt=""
                src="./public/morevertical2.svg"
              />
            </div>
          </div>
          <div class="table-cell8">
            <div class="text-and-supporting-text">
              <img
                class="more-vertical-icon"
                alt=""
                src="./public/morevertical2.svg"
              />
            </div>
          </div>
          <div class="table-cell7">
            <div class="text-and-supporting-text">
              <img
                class="more-vertical-icon"
                alt=""
                src="./public/morevertical2.svg"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="rectangle-parent">
        <div class="instance-child"></div>
        <div class="image-parent">
          <img class="image-icon" alt="" src="./public/image@2x.png" />

          <div class="koray-okumus">Koray Okumus</div>
        </div>
      </div>
      <div class="component-8">
        <div class="component-8-child"></div>
        <div class="component-8-item"></div>
        <div class="component-8-inner"></div>
        <div class="rectangle-div"></div>
        <div class="dashboard">Dashboard</div>
        <div class="group-parent">
          <div class="rectangle-group">
            <div class="group-child"></div>
            <div class="pages">Pages</div>
            <img
              class="arrow-drop-left-icon"
              alt=""
              src="./public/arrow-drop-left.svg"
            />
          </div>
          <div class="component-1-parent">
            <div class="component-1">
              <div class="careers">Careers</div>
              <div class="careers">Contact us</div>
              <div class="careers">Testimonials</div>
            </div>
            <div class="about-us">About us</div>
            <div class="add-careers-news">Add Careers News</div>
            <div class="home">Home</div>
            <div class="request-estimate">Request Estimate</div>
          </div>
          <div class="group-container">
            <div class="rectangle-container">
              <div class="group-child"></div>
              <img
                class="arrow-drop-left-icon1"
                alt=""
                src="./public/arrow-drop-left1.svg"
              />

              <div class="services">Services</div>
            </div>
            <div class="add-service">Add Service</div>
            <div class="pages1">Pages</div>
          </div>
        </div>
        <img
          class="microsoftteams-image-28-2"
          alt=""
          src="./public/microsoftteamsimage-28-2@2x.png"
        />

        <div class="add-portfolio-parent">
          <div class="add-portfolio">Add portfolio</div>
          <div class="view-all-portfolio">View All portfolio</div>
          <div class="group-div">
            <div class="group-child"></div>
            <div class="portfolio">Portfolio</div>
            <img
              class="arrow-drop-left-icon2"
              alt=""
              src="./public/arrow-drop-left1.svg"
            />
          </div>
        </div>
        <div class="add-new-user-parent">
          <div class="add-new-user">Add new user</div>
          <div class="all-users">All users</div>
          <div class="rectangle-parent1">
            <div class="group-child"></div>
            <div class="portfolio">User</div>
            <img
              class="arrow-drop-left-icon2"
              alt=""
              src="./public/arrow-drop-left1.svg"
            />
          </div>
        </div>
      </div>
      <div class="rectangle-parent2">
        <div class="group-child2"></div>
        <div class="careers1">Careers</div>
      </div>
      <div class="career">Career</div>
      <div class="pagination-button-group">
        <div class="pagination-button-group-base">
          <img class="more-vertical-icon" alt="" src="./public/arrowleft.svg" />

          <div class="text1">Previous</div>
        </div>
        <div class="pagination-button-group-base1">
          <div class="top-line"></div>
          <div class="content">
            <div class="text1">1</div>
          </div>
          <div class="top-line"></div>
        </div>
        <img class="divider-icon" alt="" src="./public/divider.svg" />

        <div class="pagination-button-group-base2">
          <div class="top-line"></div>
          <div class="content">
            <div class="text1">2</div>
          </div>
          <div class="top-line"></div>
        </div>
        <img class="divider-icon" alt="" src="./public/divider.svg" />

        <div class="pagination-button-group-base2">
          <div class="top-line"></div>
          <div class="content">
            <div class="text1">3</div>
          </div>
          <div class="top-line"></div>
        </div>
        <img class="divider-icon" alt="" src="./public/divider.svg" />

        <div class="pagination-button-group-base2">
          <div class="top-line"></div>
          <div class="content">
            <div class="text1">...</div>
          </div>
          <div class="top-line"></div>
        </div>
        <img class="divider-icon" alt="" src="./public/divider.svg" />

        <div class="pagination-button-group-base2">
          <div class="top-line"></div>
          <div class="content">
            <div class="text1">8</div>
          </div>
          <div class="top-line"></div>
        </div>
        <img class="divider-icon" alt="" src="./public/divider.svg" />

        <div class="pagination-button-group-base2">
          <div class="top-line"></div>
          <div class="content">
            <div class="text1">9</div>
          </div>
          <div class="top-line"></div>
        </div>
        <img class="divider-icon" alt="" src="./public/divider.svg" />

        <div class="pagination-button-group-base2">
          <div class="top-line"></div>
          <div class="content">
            <div class="text1">10</div>
          </div>
          <div class="top-line"></div>
        </div>
        <div class="pagination-button-group-base8">
          <div class="text1">Next</div>
          <img
            class="more-vertical-icon"
            alt=""
            src="./public/arrowright.svg"
          />
        </div>
      </div>
    </div>
 
