<div class="flex-container">
<div class="home">
    <div class="heading">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand">Careers</a>
  
        </div>
      
    </nav>
    </div>
    <div class="desktop-3-item" >
    
      <form class="row g-3" *ngIf="show">
        <div class="col-md-4">
          <label for="inputEmail4" class="form-label">First Name</label>
          <input type="name" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-4">
          <label for="inputPassword4" class="form-label">Last Name</label>
          <input type="name" class="form-control" id="inputPassword4">
        </div>
        <div class="col-md-4">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-4">
          <label for="inputEmail4" class="form-label">Phone Number</label>
          <input type="text" class="form-control" id="inputEmail4">
        </div>
        <div class="col-10">
          <label for="inputAddress" class="form-label">Address</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="col-md-3">
          <label for="inputCity" class="form-label">City</label>
          <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="col-md-3">
          <label for="inputState" class="form-label">State</label>
          <select id="inputState" class="form-select">
            <option selected>New York City</option>
            <option>...</option>
          </select>
        </div>
        <div class="col-md-3">
          <label for="inputZip" class="form-label">Zip</label>
          <input type="text" class="form-control" id="inputZip">
        </div>
        
        <div class="col-md-6">
          <label for="exampleFormControlTextarea1" class="form-label">Breifly Describe your project?</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="col-10">
            <label for="inputState" class="form-label">How did you hear about us?</label>
            <select id="inputState" class="form-select">
              <option selected>simply-dummy-text</option>
              <option>...</option>
            </select>
          </div>
        <div class="col-md-3">
            <label for="inputState" class="form-label">Position applying for?</label>
            <select id="inputState" class="form-select">
              <option disabled>Select</option>
              <option>Administrator</option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="inputState" class="form-label">Highest level of education Completed?</label>
            <select id="inputState" class="form-select">
              <option selected>Masters</option>
              <option>...</option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="inputState" class="form-label">Do you have a driving license?</label>
            <select id="inputState" class="form-select">
              <option selected>Yes</option>
              <option>No</option>
            </select>
          </div>
          <div class="row g-3">
          <div class="col-md-2">
            <label for="inputYears" class="form-label">Years of Experience?</label>
            <input type="text" class="form-control" id="inputYears">
          </div>
        
          <div class="col-md-2">
            <label for="inputCompensation" class="form-label" aria-required="true">Desired Compensation</label>
            <input type="text" class="form-control" id="inputCompensation">
          </div>
          <div class="col-md-2">
            <label for="inputEmployement" class="form-label">Are You Currently Employed?</label>
            <input type="text" class="form-control" id="inputEmployement">
          </div>
        </div>
          <div class="col-md-6">
            <label for="exampleFormControlTextarea1" class="form-label">Work Experience</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          
      </form>
  
      <table class="table" *ngIf="ahide">
      
        <thead>   
             <tr>
                <th scope="col">Name</th>
                <th scope="col">County/State</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Budget</th>
              </tr>
              
            </thead>
            <tbody>
            
              <tr class = table-cell>
                <td>Oliver John</td>
                <td>Ny,United States</td>
                <td>01-213565</td>
                <td>$50,000 to $100,000</td>
              <td> 
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="content()">View Complete Info</button>
                     <button mat-menu-item>Download CV</button>
                     <button mat-menu-item>Delete</button>
                    
                  </mat-menu>
                  
                  
            </td>
              </tr>
              <tr class = table-cell1>
                <td>Oliver John</td>
                <td>Ny,United States</td>
                <td>01-213565</td>
                <td>$50,000 to $100,000</td>
              <td> <div class="table-cell1">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item>View Complete Info</button>
                    <button mat-menu-item>Download CV</button>
                    <button mat-menu-item>Delete</button>
                    
                  </mat-menu>
                  
                  
            </div></td>
              </tr>
              <tr class = table-cell>
                <td>Oliver John</td>
                <td>Ny,United States</td>
                <td>01-213565</td>
                <td>$50,000 to $100,000</td>
              <td> <div class="table-cell">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item>View Complete Info</button>
                    <button mat-menu-item>Download CV</button>
                    <button mat-menu-item>Delete</button>
                    
                  </mat-menu>
                  
                  
            </div></td>
              </tr>
          
            </tbody>
   
          </table>
       
        
   </div>
  
    </div>
</div>