
    <div class="desktop-27">
      
      <div class="desktop-27-item"></div>
      <div class="input">
        <div class="simply-dummy-text">
          simply dummy text of the printing and typesetting industry.
        </div>
        <div class="content">
         

          <div class="text">olivia@untitledui.com</div>
        </div>
        

        <div class="angle-down"></div>
      </div>
      <div class="uibutton">
        <div class="content1">
          <div class="bg"></div>
          <div class="learn-more">Reply</div>
          <div class="long-arrow-alt-right"></div>
        </div>
      </div>
      <div class="component-20-parent">
        <div class="component-20">
          <div class="checkbox">
            <div class="checkbox1">
              <div class="checkbox-base"></div>
            </div>
            <div class="label">Basement Remodeling</div>
          </div>
          <div class="checkbox2">
            <div class="checkbox1">
             
            </div>
            <div class="label">Home Remodeling</div>
          </div>
          <div class="checkbox">
            <div class="checkbox5">
              <div class="checkbox-base"></div>
            </div>
            <div class="label">Outdoor Living Spaces</div>
          </div>
          <div class="checkbox">
            <div class="checkbox1">
              <div class="checkbox-base"></div>
            </div>
            <div class="label">Bathroom Remodeling</div>
          </div>
        </div>
        <div class="what-remodeling-services">
          What remodeling services are you looking for? *
        </div>
      </div>
      <div class="rectangle-parent">
        <div class="group-child"></div>
        <div class="briefly-describe-your">Briefly describe your project?</div>
      </div>
      <div class="how-did-you">How did you hear about Kraft Constructions?</div>
      <div class="input-field">
        <div class="input-field-base">
          <div class="input-field-base">
            <div class="label">First Name</div>
            <input class="input1" type="text" />
          </div>
          <div class="hint-text">This is a hint text to help user.</div>
        </div>
      </div>
      <div class="input-field1">
        <div class="input-field-base">
          <div class="input-field-base">
            <div class="label">Last Name</div>
            <input class="input2" type="text" />
          </div>
          <div class="hint-text">This is a hint text to help user.</div>
        </div>
      </div>
      <div class="input-field2">
        <div class="input-field-base">
          <div class="input-field-base">
            <div class="label">Email</div>
            <input class="input2" type="text" />
          </div>
          <div class="hint-text">This is a hint text to help user.</div>
        </div>
      </div>
      <div class="input-field3">
        <div class="input-field-base">
          <div class="input-field-base">
            <div class="label">City</div>
            <input class="input2" type="text" />
          </div>
          <div class="hint-text">This is a hint text to help user.</div>
        </div>
      </div>
      <div class="input-field4">
        <div class="input-field-base">
          <div class="input-field-base">
            <div class="label">State</div>
            <div class="input5">
              <div class="content2">
                

                <div class="text">olivia@untitledui.com</div>
              </div>
            
            </div>
          </div>
          <div class="hint-text">This is a hint text to help user.</div>
        </div>
      </div>
      <div class="input-field5">
        <div class="input-field-base">
          <div class="input-field-base">
            <div class="label">Zip/postal</div>
            <input class="input2" type="text" />
          </div>
          <div class="hint-text">This is a hint text to help user.</div>
        </div>
      </div>
      <div class="input-field6">
        <div class="input-field-base">
          <div class="input-field-base">
            <div class="label">Phone number</div>
            <input class="input2" type="text" />
          </div>
          <div class="hint-text">This is a hint text to help user.</div>
        </div>
      </div>
      <div class="input-field7">
        <div class="input-field-base">
          <div class="input-field-base">
            <div class="label">Address</div>
            <input class="input2" type="text" />
          </div>
          <div class="hint-text">This is a hint text to help user.</div>
        </div>
      </div>
      <div class="simply-dummy-text1">
        Simply dummy text of the printing and typesetting industry the
        industry's standard dummy text ever since the 1500s,
      </div>
      <div class="request-estimate2">Request Estimate</div>
      <div class="oliver">Oliver</div>
      <div class="olivergmailcom">Oliver@gmail.com</div>
      <div class="div">01-213565</div>
      <div class="john">John</div>
      <div class="what-is-your-budget-for-this-p-parent">
        <div class="briefly-describe-your">
          What is your budget for this project? *
        </div>
        <div class="checkbox8">
          <div class="checkbox1">
          </div>
          <div class="label">$50,000 to $100,000</div>
        </div>
      </div>
      <div class="simply-dummy-text2">
        simply dummy text of the printing and typesetting industry. Lorem Ipsum
        has been the industry's standard dummy text ever since the 1500s, when
        an unknown printer took a galley of type and scrambled it to make a type
        specimen book. It has survived not only five centuries,
      </div>
      <div class="div1">23584</div>
      <div class="new-york-city">New York City</div>
      <div class="new-york-city1">New York City</div>
    </div>

