.icon {
    position: absolute;
    height: 0.12%;
    width: 0.74%;
    top: 50.23%;
    right: -30.81%;
    bottom: 49.65%;
    left: 130.07%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .desktop-27-child,
  .desktop-27-item {
    position: absolute;
    height: 100.05%;
    width: 18.52%;
    top: -0.05%;
    right: 81.48%;
    bottom: 0;
    left: 0;
  }
  .desktop-27-item {
    height: 60.54%;
    width: 89.93%;
    top: 3.33%;
    right: 2.15%;
    bottom: 42.13%;
    left: 1.93%;
    background-color: var(--colors-white);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  }
  .simply-dummy-text {
    position: relative;
    font-size: var(--fonts-peragraph-reguler-size);
    line-height: 24px;
    display: inline-block;
    width: 437px;
    height: 27px;
    flex-shrink: 0;
  }
  .mail-icon,
  .text {
    position: relative;
    display: none;
  }
  .mail-icon {
    width: 20px;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .text {
    flex: 1;
    line-height: 24px;
  }
  .content {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
    color: var(--gray-500);
  }
  .help-icon {
    position: relative;
    width: 16px;
    height: 16px;
    display: none;
  }
  .angle-down {
    position: relative;
    line-height: 14px;
    font-family: var(--font-font-awesome-5-free);
    color: var(--primary-dark);
  }
  .input {
    height: 2.22%;
    width: 63.85%;
    top: 45.18%;
    right: 14.22%;
    bottom: 52.6%;
    left: 21.93%;
    border-radius: var(--br-5xs);
    background-color: var(--colors-white);
    box-shadow: var(--shadow-xs);
    border: 1px solid var(--color-gainsboro);
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: var(--padding-3xs) var(--padding-sm);
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
    font-size: var(--font-size-base);
  }
  .bg,
  .input,
  .learn-more {
    position: absolute;
  }
  .bg {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-8xs);
    background-color: var(--kraft-d-green);
  }
  .learn-more {
    width: 33.15%;
    top: calc(50% - 14px);
    left: 31.46%;
    line-height: 24px;
    display: inline-block;
    height: 23px;
  }
  .long-arrow-alt-right {
    position: absolute;
    top: calc(50% - 5px);
    left: 68.46%;
    font-size: var(--text-sm-medium-size);
    line-height: 14px;
    font-family: var(--font-font-awesome-5-free);
    text-align: center;
    display: none;
  }
  .content1 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }
  .uibutton {
    position: absolute;
    height: 3.03%;
    width: 13.19%;
    top: 52.06%;
    right: 33.56%;
    bottom: 44.92%;
    left: 43.26%;
    border-radius: var(--br-8xs);
    text-align: right;
    font-size: 20px;
    color: var(--colors-white);
    font-family: var(--font-kanit);
  }
  .checkbox-base {
    position: relative;
    border-radius: var(--br-9xs);
    background-color: var(--colors-white);
    border: 1px solid var(--color-gray-100);
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .checkbox,
  .checkbox1 {
    flex-direction: row;
    align-items: center;
  }
  .checkbox1 {
    display: flex;
    justify-content: center;
  }
  .checkbox {
    display: none;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  .checkbox-base-icon {
    position: relative;
    border-radius: var(--br-9xs);
    width: 16px;
    height: 16px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .checkbox2,
  .checkbox5 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .checkbox2 {
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  .checkbox5 {
    border-radius: var(--br-9xs);
    background-color: var(--colors-white);
    border: 1px solid var(--color-gray-100);
    justify-content: center;
  }
  .component-20 {
    position: absolute;
    height: 39.22%;
    width: 45.79%;
    top: 60.78%;
    right: 53.27%;
    bottom: 0;
    left: 0.93%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
  }
  .what-remodeling-services {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 20px;
    font-weight: 500;
    color: var(--color-black);
  }
  .component-20-parent {
    position: absolute;
    height: 2.41%;
    width: 23.78%;
    top: 26.38%;
    right: 54.3%;
    bottom: 71.21%;
    left: 21.93%;
    color: var(--gray-700);
  }
  .group-child {
    position: absolute;
    height: 80.77%;
    width: 99.88%;
    top: 19.23%;
    right: 0;
    bottom: 0;
    left: 0.12%;
    border-radius: var(--br-8xs);
    background-color: var(--colors-white);
    border: 1px solid #eee;
    box-sizing: border-box;
  }
  .briefly-describe-your {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 20px;
    font-weight: 500;
  }
  .rectangle-parent {
    position: absolute;
    height: 7.38%;
    width: 63.7%;
    top: 35.13%;
    right: 14.44%;
    bottom: 57.49%;
    left: 21.85%;
  }
  .how-did-you,
  .label {
    line-height: 20px;
    font-weight: 500;
  }
  .how-did-you {
    position: absolute;
    top: 43.55%;
    left: 21.85%;
  }
  .label {
    position: relative;
  }
  .input1 {
    border: 1px solid var(--color-gainsboro);
    background-color: var(--gray-50);
    align-self: stretch;
    border-radius: var(--br-5xs);
    box-shadow: var(--shadow-xs);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: var(--padding-3xs) var(--padding-sm);
    align-items: center;
    justify-content: flex-start;
  }
  .hint-text {
    align-self: stretch;
    position: relative;
    line-height: 20px;
    color: var(--gray-500);
    display: none;
  }
  .input-field-base {
    align-self: stretch;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-7xs);
  }
  .input-field,
  .input-field-base,
  .input2 {
    display: flex;
    justify-content: flex-start;
  }
  .input-field {
    position: absolute;
    height: 3.31%;
    width: 31.41%;
    top: 8.65%;
    right: 46.67%;
    bottom: 88.04%;
    left: 21.93%;
    flex-direction: column;
    align-items: flex-start;
    color: var(--gray-700);
  }
  .input2 {
    border: 1px solid var(--color-gainsboro);
    background-color: var(--colors-white);
    align-self: stretch;
    border-radius: var(--br-5xs);
    box-shadow: var(--shadow-xs);
    overflow: hidden;
    flex-direction: row;
    padding: var(--padding-3xs) var(--padding-sm);
    align-items: center;
  }
  .input-field1,
  .input-field2 {
    position: absolute;
    height: 3.31%;
    width: 31.41%;
    flex-direction: column;
    align-items: flex-start;
    color: var(--gray-700);
  }
  .input-field1 {
    top: 8.65%;
    right: 14.22%;
    bottom: 88.04%;
    left: 54.37%;
    display: flex;
    justify-content: flex-start;
  }
  .input-field2 {
    top: 13.05%;
    right: 46.67%;
    bottom: 83.64%;
    left: 21.93%;
  }
  .content2,
  .input-field2,
  .input-field3,
  .input5 {
    display: flex;
    justify-content: flex-start;
  }
  .input-field3 {
    position: absolute;
    height: 3.31%;
    width: 20.81%;
    top: 21.84%;
    right: 57.26%;
    bottom: 74.85%;
    left: 21.93%;
    flex-direction: column;
    align-items: flex-start;
    color: var(--gray-700);
  }
  .content2,
  .input5 {
    flex-direction: row;
    align-items: center;
    gap: var(--gap-5xs);
  }
  .content2 {
    flex: 1;
  }
  .input5 {
    align-self: stretch;
    border-radius: var(--br-5xs);
    background-color: var(--colors-white);
    box-shadow: var(--shadow-xs);
    border: 1px solid var(--color-gainsboro);
    overflow: hidden;
    padding: var(--padding-3xs) var(--padding-sm);
    font-size: var(--font-size-base);
    color: var(--gray-500);
  }
  .input-field4,
  .input-field5,
  .input-field6,
  .input-field7 {
    position: absolute;
    height: 3.31%;
    width: 20.74%;
    top: 21.84%;
    right: 35.78%;
    bottom: 74.85%;
    left: 43.48%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: var(--gray-700);
  }
  .input-field5,
  .input-field6,
  .input-field7 {
    width: 20.81%;
    right: 14.22%;
    left: 64.96%;
  }
  .input-field6,
  .input-field7 {
    width: 31.41%;
    top: 13.05%;
    bottom: 83.64%;
    left: 54.37%;
  }
  .input-field7 {
    width: 63.85%;
    top: 17.45%;
    bottom: 79.24%;
    left: 21.93%;
  }
  .simply-dummy-text1 {
    position: absolute;
    width: 61.78%;
    top: 19.15%;
    left: 22.96%;
    line-height: 20px;
    font-weight: 500;
    display: inline-block;
  }
  .icon1 {
    position: absolute;
    height: 0.32%;
    width: 0.86%;
    top: 23.98%;
    right: 36.38%;
    bottom: 75.71%;
    left: 62.75%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .image-icon,
  .instance-child {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
  }
  .instance-child {
    width: 100%;
    left: 0;
    background-color: var(--colors-white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .image-icon {
    width: 29.25%;
    left: 70.75%;
    border-radius: 47px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .koray-okumus {
    position: absolute;
    top: 29.55%;
    left: 0;
  }
  .image-parent,
  .rectangle-group {
    position: absolute;
    height: 61.11%;
    width: 13.28%;
    top: 19.44%;
    right: 1.99%;
    bottom: 19.44%;
    left: 84.73%;
  }
  .rectangle-group {
    height: 3.4%;
    width: 82%;
    top: 0.05%;
    right: -0.52%;
    bottom: 96.55%;
    left: 18.52%;
    font-size: var(--fonts-peragraph-reguler-size);
    font-family: var(--fonts-peragraph-reguler);
  }
  .component-8-child {
    position: absolute;
    height: 71.05%;
    width: 100%;
    top: 15.18%;
    right: 0;
    bottom: 13.77%;
    left: 0;
    background-color: var(--color-darkolivegreen);
  }
  .component-8-item {
    position: absolute;
    height: 0.1%;
    width: 100.4%;
    top: 6.93%;
    right: -0.2%;
    bottom: 92.97%;
    left: -0.2%;
    border-top: 1px solid #ececec;
    box-sizing: border-box;
  }
  .component-8-inner,
  .rectangle-div {
    position: absolute;
    height: 4.05%;
    width: 100%;
    top: 6.98%;
    right: 0;
    bottom: 88.97%;
    left: 0;
    background-color: var(--color-seagreen);
  }
  .rectangle-div {
    height: 6.98%;
    top: 6.88%;
    bottom: 86.13%;
    background-color: var(--color-darkolivegreen);
  }
  .dashboard {
    position: absolute;
    top: 8.1%;
    left: 10.4%;
    font-weight: 600;
  }
  .group-item {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-seagreen);
  }
  .pages {
    position: absolute;
    top: 22.5%;
    left: 10.4%;
    font-weight: 600;
  }
  .arrow-drop-left-icon {
    position: absolute;
    height: 40%;
    width: 6.4%;
    top: 25%;
    right: 5.2%;
    bottom: 35%;
    left: 88.4%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .rectangle-container {
    position: absolute;
    height: 10.31%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 89.69%;
    left: 0;
  }
  .careers {
    position: relative;
    line-height: 20px;
  }
  .component-1 {
    position: absolute;
    height: 41.55%;
    width: 67.83%;
    top: 43.48%;
    right: 31.3%;
    bottom: 14.98%;
    left: 0.87%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 13px;
  }
  .about-us,
  .add-careers-news,
  .home {
    position: absolute;
    top: 30px;
    left: 1px;
    line-height: 20px;
  }
  .add-careers-news,
  .home {
    top: 60px;
  }
  .home {
    top: 0;
  }
  .request-estimate {
    position: absolute;
    top: 91.3%;
    left: 0;
  }
  .component-1-parent {
    position: absolute;
    height: 53.35%;
    width: 46%;
    top: 12.63%;
    right: 36%;
    bottom: 34.02%;
    left: 18%;
  }
  .arrow-drop-left-icon1 {
    position: absolute;
    height: 40%;
    width: 6.4%;
    top: 32.5%;
    right: 5.2%;
    bottom: 27.5%;
    left: 88.4%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .services {
    position: absolute;
    top: 27.5%;
    left: 10.4%;
    font-weight: 600;
  }
  .group-div {
    position: absolute;
    height: 40%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 60%;
    left: 0;
  }
  .add-service,
  .pages1 {
    position: absolute;
    top: 50px;
    left: 48px;
    line-height: 20px;
  }
  .pages1 {
    top: 80px;
  }
  .group-container,
  .group-parent {
    position: absolute;
    height: 25.77%;
    width: 100%;
    top: 74.23%;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .group-parent {
    height: 39.27%;
    top: 11.13%;
    bottom: 49.6%;
  }
  .microsoftteams-image-28-2 {
    position: absolute;
    height: 6.38%;
    width: 44%;
    top: -0.51%;
    right: 48.4%;
    bottom: 94.13%;
    left: 7.6%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .add-portfolio,
  .view-all-portfolio {
    position: absolute;
    top: 49.11%;
    left: 19.2%;
    line-height: 20px;
  }
  .view-all-portfolio {
    top: 82.14%;
  }
  .portfolio {
    position: absolute;
    top: 30%;
    left: 10.4%;
    font-weight: 600;
  }
  .arrow-drop-left-icon2 {
    position: absolute;
    height: 40%;
    width: 6.4%;
    top: 30%;
    right: 4.4%;
    bottom: 30%;
    left: 89.2%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .add-portfolio-parent,
  .rectangle-parent1 {
    position: absolute;
    height: 35.71%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 64.29%;
    left: 0;
  }
  .add-portfolio-parent {
    height: 11.34%;
    top: 51.52%;
    bottom: 37.15%;
  }
  .add-new-user,
  .all-users {
    position: absolute;
    top: 47.22%;
    left: 19.2%;
    line-height: 20px;
  }
  .all-users {
    top: 81.48%;
  }
  .add-new-user-parent,
  .component-8,
  .rectangle-parent2 {
    position: absolute;
    height: 37.04%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 62.96%;
    left: 0;
  }
  .add-new-user-parent,
  .component-8 {
    height: 10.93%;
    top: 63.97%;
    bottom: 25.1%;
  }
  .component-8 {
    height: 46.71%;
    width: 18.52%;
    top: 1.09%;
    right: 81.48%;
    bottom: 52.2%;
    font-size: var(--fonts-peragraph-reguler-size);
    color: var(--colors-white);
    font-family: var(--fonts-peragraph-reguler);
  }
  .group-child3 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #014700;
  }

  .rectangle-parent3,
  .request-estimate2 {
    position: absolute;
    font-family: var(--fonts-peragraph-reguler);
  }
  .rectangle-parent3 {
    height: 1.56%;
    width: 18.52%;
    top: 17.16%;
    right: 81.56%;
    bottom: 81.28%;
    left: -0.07%;
    font-size: var(--fonts-peragraph-reguler-size);
    color: var(--colors-white);
  }
  .request-estimate2 {
     top: 0.30%; 
    left: 1.93%;
    font-size: 35px;
    font-weight: 600;
  }
  .div,
  .john,
  .oliver,
  .olivergmailcom {
    position: absolute;
    top: 10.4%;
    left: 22.67%;
    line-height: 20px;
    font-weight: 500;
  }
  .div,
  .john,
  .olivergmailcom {
    top: 14.75%;
  }
  .div,
  .john {
    top: 14.8%;
    left: 55.04%;
  }
  .john {
    top: 10.45%;
    left: 55.56%;
  }
  .checkbox-base-icon1 {
    position: relative;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .checkbox8 {
    position: absolute;
    height: 36.36%;
    width: 68.36%;
    top: 63.64%;
    right: 30.86%;
    bottom: 0;
    left: 0.78%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    color: var(--gray-700);
  }
  .what-is-your-budget-for-this-p-parent {
    position: absolute;
    height: 2.6%;
    width: 18.96%;
    top: 30.78%;
    right: 58.89%;
    bottom: 66.62%;
    left: 22.15%;
  }
  .simply-dummy-text2 {
    position: absolute;
    height: 4.07%;
    width: 59.85%;
    top: 37.3%;
    left: 23.33%;
    font-size: var(--fonts-peragraph-reguler-size);
    line-height: 24px;
    display: inline-block;
  }
  .div1,
  .new-york-city,
  .new-york-city1 {
    position: absolute;
    top: 23.64%;
    left: 65.78%;
    line-height: 20px;
    font-weight: 500;
  }
  .new-york-city,
  .new-york-city1 {
    left: 22.74%;
  }
  .new-york-city1 {
    top: 23.59%;
    left: 44.44%;
  }
  .desktop-27 {
    position: relative;
    background-color: #e8ecf3;
    width: 100%;
    height: 2115px;
    overflow: hidden;
    text-align: left;
    font-size: var(--text-sm-medium-size);
    color: var(--color-black);
    font-family: var(--text-sm-medium);
  }
  