.home {
  background-color: #e8ecf3;
  width: 100%;
  height: 2365px;
  overflow: hidden;
  text-align: left;
  font-size: var(--fonts-peragraph-reguler-size);
  color: var(--color-black);
  font-family: var(--fonts-peragraph-reguler);
}
.desktop-3-item {
  position: relative;
  /* top: 135px; */
  left: 21px;
  background-color: var(--colors-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  width: 65rem ;
  height: 50% ;
}

.navbar-brand {
  font-size: 18px;
  font-weight: 600;
  font-family: sans-serif;
  padding: 8px 0px 22px;

}
.heading {
  width: 82%;
  height: 75px;
  left: 10px;
  margin-left: 20px;
  border-bottom: 1px solid #DDDDDD;
}
.col-md-4, .col-mb-2 , .col-md-6 .col-10 , .form-check , .form-label .inputtxt, .dropdown, .dropdown-menu, .form-check-label, .form-check-input, .form-label 
 , #inputAddress , #inputCity , #inputState , #InputZip, #inputtxt {
  margin-top: 20px;
  margin-left: 20px;
}
#exampleFormControlTextarea1 {
  margin-top: 10px;
  margin-left: 20px;
}
.table-cell {
  background-color: var(--gray-50);
  flex-shrink: 0;
}
.table-cell,
.table-cell1 {
  align-self: stretch;
  /* border-bottom: 1px solid var(--gray-200); */
  box-sizing: border-box;
  height: 42px;
  flex-direction: row;
  /* padding: var(--padding-base) var(--padding-5xl); */
  align-items: center;
  gap: var(--gap-xs);
}

/* .table-cell1
 {
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start;
  gap: 2px;
} */
.frame {
  display: flex;
} 
.paginations {
  display: flex;
  justify-content: center;
  top: 20%;
}
.page-link {
  color: #1D2939;
  font-style: arial;

}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* or any other option that suits your layout */
}

/* Responsive properties */
@media screen and (max-width: 768px) {
  .flex-container {
    flex-direction: column;
    align-items: center;
  }

}
@media only screen and (max-width: 375px) {
  .flex-container {
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 576px) {
  .flex-container {
    flex-direction: column;
    align-items: center;
  }
  .home {
    
    width: 100%;
    height: 100%;
   
  }
  .desktop-3-item {
    position: static;
  
    left: 0;
    background-color: var(--colors-white);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
      width: 100% ; 
    height: auto ;
  }
  .navbar-brand {
    font-size: 18px;
    font-weight: 600;
    font-family: sans-serif;
    padding: 8px 0px 22px;
  
  }
  .heading {
    width: auto;
    height: auto;
    left: 0;
    margin-left: 0;
    border-bottom: 1px solid #DDDDDD;
  }
  .col-md-4, .col-mb-2 , .col-md-6 .col-10 , .form-check , .form-label .inputtxt, .dropdown, .dropdown-menu, .form-check-label, .form-check-input, .form-label 
 , #inputAddress , #inputCity , #inputState , #InputZip, .inputtxt #inputYears  {
  margin-top: 0;
  margin-left: 0p;
}
#exampleFormControlTextarea1 {
  margin-top: 0;
  margin-left: 0;
}
.table-cell,
.table-cell1 {
  height: auto;
  
 
}

  .paginations {
    display: flex;
    justify-content: center;
    top: 0;
    margin-left: 20px;
  }
.col-md-2 {
  margin-left: 0;
  margin-top: 0;
}
}
