
    <div class="desktop-11">
       <div class="desktop-11-item"></div>
      <div class="desktop-11-inner"></div> 
      <div class="rectangle-parent3">
        <div class="group-child3"></div> 
        <img
          class="decks-and-patioss-3-icon"
          alt=""
          src="../../../assets/Decks-and-Patioss 2 (4).png"
        />

        <div class="ali">Ali</div>
        <div class="ruffner">Ruffner</div>
        <div class="simply-dummy-text">
          Simply dummy text of the printing and typesetting industry.
        </div>
        <div class="published-20230407-at-1247-container">
          <p class="published">Published</p>
          <p class="published">2023/04/07 at 12:47 pm</p>
        </div>
      </div>
      <div class="rectangle-parent4">
         <div class="group-child3"></div>
    
      </div>
      <div class="image">Image</div>
      <div class="title">Title</div>
      <div class="description">Description</div>
      <div class="date">Date</div>
      <div class="author">Author</div>
       <div class="decks-and-patioss-2-parent">
        <img
          class="decks-and-patioss-3-icon"
          alt=""
          src="../../../assets/Decks-and-Patioss 2 (4).png"
        />

        <div class="ali2">Ali</div>
        <div class="ruffner2">Ruffner</div>
        <div class="simply-dummy-text2">
          Simply dummy text of the printing and typesetting industry.
        </div>
        <div class="published-20230407-at-1247-container2">
          <p class="published">Published</p>
          <p class="published">2023/04/07 at 12:47 pm</p>
        </div>
      </div>
       <div class="decks-and-patioss-5-parent">

      </div> 
      <!-- <table class="table">
        <thead>
          <tr>
            <th scope="col">Username</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <th>Name</th>
            <td>ABC</td>
            <td>AAA</td>
            <td>AAAA</td>   
          </tr>
        </tbody>
      </table> -->


      </div>


