
.side-menu{
    background-color: var(--kraft-d-green);
    display: flex;
    flex-direction: column;
    width: 250px;
    min-height: 100%; /* Use min-height instead of height */
}
.logo {
    width: 55%;
    padding: 5%;
}
.img-logo {
    width: 100%;
    height: auto;
}
.dropdown-content {
    display: none;
    z-index: 1;
    width: 100%;
    background-color: #3D6B3D;
  }
  .dropdown {
    position: relative;
  }
  
  .dropdown-content.show {
    display: block;
  }
  .dropdown-content a{
    display: block;
    color: #FFFFFF;
    padding: 4% 0px 4% 15%;
    font-size:15px;
    font-weight:400;
    font-family: sans-serif
  }
  .dashboard{
    display: block;
    color: #FFFFFF;
    padding:4% 0px 4% 7%;
    background-color: #3D6B3D;
    font-size:16px;
    font-weight:600;
    font-family: sans-serif;
    text-decoration: none;
  }
  .dashboard:hover{
    text-decoration: none;
    color: #FFFFFF;
  }
  .dropdown-content a:hover{
    background-color: #014700;
    text-decoration: none;
   
  }
  /* Show the dropdown menu */
  .show {
    display: block;
  }
  .dropbtn{
  background-color: #3D6B3D;
  width: 100%;
  text-align: left;
  color: #FFFFFF;
  padding: 3% 0px 3% 7%;
  border: none;
  }
  .dropbtn.dropdown-open {
    background-color: #518350;
  }
  .btn-wrape{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }
  .btn-wrape p{
    margin: 0px;
    padding: 0px;
    font-size:16px;
    font-weight:600;
    font-family: sans-serif;
  }
  .drop-icon{
    width: 4%;
    height: 1.5vh;
  }
.drop-head{
    margin: 0px;
    padding: 0px;
}

.dropdown-content a{
  text-decoration: none;
}


/* w3 scool */
body {
    font-family: "Lato", sans-serif;
  }
  
  /* Fixed sidenav, full height */
  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
  }
  /* Main content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    background-color: green;
    color: #FFFFFF;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }
  
  .show {
    display: block !important;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  
