<div class="side-menu">
    <div class="logo">
        <a routerLink="#"><img class="img-logo" src="../../../../assets/logo.png"></a>
      </div>
     
      <a class="dashboard" href="#">Dashboard</a>
      <button class="dropbtn"[ngClass]="{'dropdown-open': isDropdownOpen}"  (click)="toggleDropdown()">
        <div class="btn-wrape">
          <p class="">Pages</p>
          <img class="drop-icon" src="../../../assets/icon-drop.png" alt="">
        </div>
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content" [ngClass]="{'show': isDropdownOpen}">
        <a [routerLink]="['./admin-home']">Home</a>
        <a href="#">About us</a>
        <a href="#">Add Careers News</a>
        <a href="#">Careers</a>
        <a routerLink="/admin-contact-us">Contact us</a>
        <a href="#">Testmonials</a>
        <a href="#">Request Estimate</a>
      </div>
      <!-- button2 -->
      <button class="dropbtn"[ngClass]="{'dropdown-open': isDropdown2Open}"  (click)="toggleDropdown2()">
        <div class="btn-wrape">
          <p class="">Services</p>
          <img class="drop-icon" src="../../../assets/icon-drop.png" alt="">
        </div>
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content" [ngClass]="{'show': isDropdown2Open}">
        <a href="#">Add Service</a>
        <a href="#">Pages</a>
      </div>
      <!-- button3 -->
      <button class="dropbtn"[ngClass]="{'dropdown-open': isDropdown3Open}"  (click)="toggleDropdown3()">
        <div class="btn-wrape">
          <p class="">Portfolio</p>
          <img class="drop-icon" src="../../../assets/icon-drop.png" alt="">
        
        </div>
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content" [ngClass]="{'show': isDropdown3Open}">
        <a href="#">Add portfolio</a>
        <a href="#">View all portfolio</a>
      </div>
      <!-- button4 -->
      <button class="dropbtn"[ngClass]="{'dropdown-open': isDropdown4Open}"  (click)="toggleDropdown4()">
        <div class="btn-wrape">
          <p class="">User</p>
          <img class="drop-icon" src="../../../assets/icon-drop.png" alt="">
        </div>
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content" [ngClass]="{'show': isDropdown4Open}">
        <a href="#">Add new user</a>
        <a routerLink="/add-user" >All users</a>
      </div>
      
      

      
      
      
      
</div>

