
    <div class="desktop-19">
      <div class="desktop-19-child"></div>
      <div class="desktop-19-item"></div>
      <div class="rectangle-parent">
         <div class="group-child"></div>
        <div class="testimonials-parent">
          <div class="testimonials">Testimonials</div>
          <div class="group-item"></div>
        </div>
        <div class="rectangle-group">
          <div class="instance-child"></div>
          <div class="rectangle-container">
            <div class="group-inner"></div>
            <img class="user-icon" alt="" src="../../../assets/admin-testimg/Group 160.png" />
          </div>
          <div class="text-of-the">
            Text of the printing and typesetting industry. Lorem Ipsum has been
          </div>
          <div class="simply-dummy-text">
            Simply dummy text of the printing and typesetting industry. Lorem
            Ipsum has been the industry's standard dummy text ever since the
            1500s, when an unknown printer took a galley of type and scrambled
            it to make a type specimen book. It has survived not only five
            centuries,
          </div>
          <div class="instance-item"></div>
          <div class="tes-06">tes-06</div>
          <div class="pm">15-02-2023 10:22pm</div>
          <button class="group-div">
            <button class="rectangle-button"></button>
            <div class="approve">Approve</div>
          </button>
          <button class="group-button">
            <div class="rectangle-div"></div>
            <div class="delete">Delete</div>
          </button>
        </div>
        <div class="rectangle-parent1">
          <div class="instance-child"></div>
          <div class="rectangle-container">
            <div class="group-inner"></div>
            <img class="user-icon" alt="" src="../../../assets/admin-testimg/Group 160.png" />
          </div>
          <div class="text-of-the">
            Text of the printing and typesetting industry. Lorem Ipsum has been
          </div>
          <div class="simply-dummy-text">
            Simply dummy text of the printing and typesetting industry. Lorem
            Ipsum has been the industry's standard dummy text ever since the
            1500s, when an unknown printer took a galley of type and scrambled
            it to make a type specimen book. It has survived not only five
            centuries,
          </div>
          <div class="instance-item"></div>
          <div class="tes-06">tes-06</div>
          <div class="pm">15-02-2023 10:22pm</div>
          <button class="group-div">
            <button class="group-child2"></button>
            <div class="approve">Approve</div>
          </button>
          <button class="rectangle-parent4">
            <button class="rectangle-div"></button>
            <div class="delete1">Delete</div>
          </button>
        </div>
         <div class="pagination-button-group"> 
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                  <li class="page-item"><a class="page-link" href="#">5</a></li>
                  <li class="page-item"><a class="page-link" href="#">6</a></li>
                  <li class="page-item"><a class="page-link" href="#">7</a></li>
                  <li class="page-item"><a class="page-link" href="#">8</a></li>
                  <li class="page-item"><a class="page-link" href="#">9</a></li>
                  <li class="page-item"><a class="page-link" href="#">10</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
              </nav>
         </div> 
        <div class="component-18">
          <div class="rectangle-parent5">
            <div class="group-child4"></div>
            <div class="checkbox">
                <input class="checkbox1" type="checkbox" />
            <div class="text">Hide</div>
              </div>
            <div class="checkbox2">
                <input class="checkbox1" type="checkbox" />
                <div class="text">Delete</div>
                  
            </div>
            <div class="text-of-the2">
              Text of the printing and typesetting industry. Lorem Ipsum has
              been
            </div>
            <div class="simply-dummy-text2">
              Simply dummy text of the printing and typesetting industry. Lorem
              Ipsum has been the industry's standard dummy text ever since the
              1500s, when an unknown printer took a galley of type and scrambled
              it to make a type specimen book. It has survived not only five
              centuries,
            </div>
            <div class="group-child5"></div>
            <div class="pm2">15-02-2023 10:22pm</div>
            <div class="line-div"></div>
          </div>
          <div class="tes-01">tes-01</div>
          <div class="rectangle-parent6">
            <div class="group-inner"></div>
            <img class="user-icon" alt="" src="../../../assets/admin-testimg/Group 160.png" />
          </div>
          <div class="katy-grey">Katy Grey</div>
          <div class="ceo-grey-industries">CEO Grey Industries</div>
        </div>
        <div class="component-19">
          <div class="rectangle-parent5">
            <div class="group-child4"></div>
            <div class="checkbox">
              <input class="checkbox1" type="checkbox" />
            <div class="text">Hide</div>
            </div>
            <div class="checkbox2">
                <input class="checkbox1" type="checkbox" />
                <div class="text">Delete</div>
            </div>
            <div class="text-of-the2">
              Text of the printing and typesetting industry. Lorem Ipsum has
              been
            </div>
            <div class="simply-dummy-text2">
              Simply dummy text of the printing and typesetting industry. Lorem
              Ipsum has been the industry's standard dummy text ever since the
              1500s, when an unknown printer took a galley of type and scrambled
              it to make a type specimen book. It has survived not only five
              centuries,
            </div>
            <div class="group-child5"></div>
            <div class="pm2">15-02-2023 10:22pm</div>
            <div class="line-div"></div>
          </div>
          <div class="tes-01">tes-01</div>
          <div class="rectangle-parent6">
            <div class="group-inner"></div>
            <img class="user-icon" alt="" src="../../../assets/admin-testimg/Group 160.png" />
          </div>
          <div class="katy-grey">Katy Grey</div>
          <div class="ceo-grey-industries">CEO Grey Industries</div>
        </div>
        <div class="component-20">
          <div class="rectangle-parent5">
            <div class="group-child4"></div>
            <div class="checkbox">
                <input class="checkbox1" type="checkbox" />
                <div class="text">Hide</div>
            </div>
            <div class="checkbox2">
                <input class="checkbox1" type="checkbox" />
                <div class="text">Delete </div>
            </div>
            <div class="text-of-the2">
              Text of the printing and typesetting industry. Lorem Ipsum has
              been
            </div>
            <div class="simply-dummy-text2">
              Simply dummy text of the printing and typesetting industry. Lorem
              Ipsum has been the industry's standard dummy text ever since the
              1500s, when an unknown printer took a galley of type and scrambled
              it to make a type specimen book. It has survived not only five
              centuries,
            </div>
            <div class="group-child5"></div>
            <div class="pm2">15-02-2023 10:22pm</div>
            <div class="line-div"></div>
          </div>
          <div class="tes-01">tes-01</div>
          <div class="rectangle-parent6">
            <div class="group-inner"></div>
            <img class="user-icon" alt="" src="../../../assets/admin-testimg/Group 160.png" />
          </div>
          <div class="katy-grey">Katy Grey</div>
          <div class="ceo-grey-industries">CEO Grey Industries</div>
        </div>
        <div class="component-21">
          <div class="rectangle-parent5">
            <div class="group-child4"></div>
            <div class="checkbox">
                <input class="checkbox1" type="checkbox" />
                <div class="text">Hide</div>
            </div>
            <div class="checkbox2">
                <input class="checkbox1" type="checkbox" />
                <div class="text">Delete</div>
            </div>
            <div class="text-of-the2">
              Text of the printing and typesetting industry. Lorem Ipsum has
              been
            </div>
            <div class="simply-dummy-text2">
              Simply dummy text of the printing and typesetting industry. Lorem
              Ipsum has been the industry's standard dummy text ever since the
              1500s, when an unknown printer took a galley of type and scrambled
              it to make a type specimen book. It has survived not only five
              centuries,
            </div>
            <div class="group-child5"></div>
            <div class="pm2">15-02-2023 10:22pm</div>
            <div class="line-div"></div>
          </div>
          <div class="tes-01">tes-01</div>
          <div class="rectangle-parent6">
            <div class="group-inner"></div>
            <img class="user-icon" alt="" src="../../../assets/admin-testimg/Group 160.png" />
          </div>
          <div class="katy-grey">Katy Grey</div>
          <div class="ceo-grey-industries">CEO Grey Industries</div>
        </div>
      </div>
      <div class="testimonials-image">Testimonials image</div>
      <div class="image-group">
        <img class="image-icon1" alt="" src="../../../assets/admin-testimg/Image (1).png" />

        <img class="image-icon2" alt="" src="../../../assets/admin-testimg/Image (4).png" />

        <img class="image-icon3" alt="" src="../../../assets/admin-testimg/Image (2).png" />

        <img class="image-icon4" alt="" src="../../../assets/admin-testimg/Image (3).png" />

        <img class="image-icon5" alt="" src="../../../assets/admin-testimg/Image.png" />
      </div>
      <button class="rectangle-parent14">
        <div class="group-child19"></div>
        <div class="upload-image">Upload image</div>
       
      </button>
      <button class="rectangle-parent15">
        <div class="group-child20"></div>
        <div class="add-slider"data-bs-toggle="modal" data-bs-target="#abc" (click)="Show = true">Add Slider</div>
      </button>
      <button class="delete-image">Delete image</button>


  </div>
  

