
<app-header></app-header> 
<div class="home">
    <div class="instance-parent">
      <div class="rectangle-parent">
        <div class="instance-child"></div>
        <img
          class="decks-and-patioss-2-icon"
          alt=""
          src="../assets/img/Decks-and-Patioss 2 (2).png"
        />
        <div class="simply-dummy-text">
          simply dummy text of the printing and typesetting industry.
        </div>
        <div class="ruffner">Second story addition</div>
        <button class="instance-item"></button
        ><button class="more-details">More details</button>
      </div>
      <img class="kitchen-2-icon" alt="" src="../assets/img/kitchen 2 (1).png" />
    </div>
    <div class="rectangle-group">
      <div class="instance-child"></div>
      <img
        class="decks-and-patioss-2-icon"
        alt=""
        src="../assets/img/Decks-and-Patioss 2 (2).png"
      />
      <div class="simply-dummy-text">
        simply dummy text of the printing and typesetting industry.
      </div>
      <div class="ruffner">Sunrooms</div>
      <button class="instance-item"></button
      ><button class="more-details">More details</button>
    </div>
    <img class="new1-s-2-icon" alt="" src="../assets/img/new1-s 2 (1).png" />
    <div class="rectangle-container">
      <div class="instance-child"></div>
      <img
        class="decks-and-patioss-2-icon2"
        alt=""
        src="../assets/img/Decks-and-Patioss 2 (3).png"
      />
      <div class="simply-dummy-text">
        simply dummy text of the printing and typesetting industry.
      </div>
      <div class="ruffner">Second story addition</div>
      <button class="instance-item"></button
      ><button class="more-details">More details</button>
    </div>
    <div class="group-div">
      <div class="instance-child"></div>
      <img
        class="decks-and-patioss-2-icon2"
        alt=""
        src="../assets/img/Decks-and-Patioss 2 (2).png"
      />
      <div class="simply-dummy-text">
        simply dummy text of the printing and typesetting industry.
      </div>
      <div class="ruffner">Sunrooms</div>
      <button class="instance-item"></button
      ><button class="more-details">More details</button>
    </div>
     <div class="component-21"> 
      <div class="component-12">
        <div class="component-12-child"></div>
        <div class="component-12-item"></div>
        <div class="new-additions">New Additions</div>
        <div class="component-12-inner"></div>
      </div>
      
    </div> 
    <div class="sunrooms-parent">
      <button class="sunrooms">Sunrooms</button>
      <button class="second-story-addition">Second story addition</button>
      <button class="other-additions">Other additions</button>
    </div>
    <div class="simply-dummy-text4">
      simply dummy text of the printing and typesetting industry. Lorem Ipsum
      has been the industry's standard dummy text ever since the 1500s, when
      an unknown printer took a galley of type and scrambled it to make a type
      specimen book. It has survived not only five centuries, but also the
      leap into electronic typesetting, remaining essentially unchanged. It
      was popularised in the 1960s with the release of Letraset sheets
      containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.
    </div>
    <div class="simply-dummy-text5">
      simply dummy text of the printing and typesetting industry. Lorem Ipsum
      has been the industry's standard dummy text ever since the 1500s, when
      an unknown printer took a galley of type and scrambled it to make a type
      specimen book. It has survived not only five centuries, but also the
      leap into electronic typesetting, remaining essentially unchanged. It
      was popularised in the 1960s with the release of Letraset sheets
      containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.
    </div>
    <div class="lower-electric-bills-container">
      <ul class="lower-electric-bills-lower-hea">
        <li class="lower-electric-bills">Lower electric bills</li>
        <li class="lower-electric-bills">Lower heating and cooling bills</li>
        <li class="lower-electric-bills">Lower water bills</li>
        <li class="lower-electric-bills">Better in home air quality</li>
        <li>Higher re-sale values</li>
      </ul>
    </div>
    <img class="home-item" alt="" src="../assets/img/group-94@2x.png" />
    <h1 class="new-additions2">New Additions</h1>
    <div class="home-services-sunrooms-parent">
    </div>
    <div class="component-17">
      <div class="component-17-child"></div>
      <div class="component-17-inner">
        <div class="looking-for-a-affordable-and-r-parent">
          <div class="looking-for-a-container">
            <p class="looking-for-a">
              Looking for a affordable and reliable construction company for
              your project?
            </p>
          </div>
          <div class="rectangle-parent1">
            <button class="group-child1"></button
            ><button class="get-a-quote">Get a Quote</button>
          </div>
        </div>
      </div>
    </div>
    <img class="after1-icon" alt="" src="../assets/img/after1 (1).png" />
    <div class="home-inner"></div>
    <img class="before1-icon" alt="" src="../assets/img/before1 (1).png" />
    <div class="before">Before</div>
    <div class="after">After</div>
    <div class="line-div"></div>
    <div class="home-child1"></div>
  </div>
  <app-footer></app-footer>
