<app-header></app-header>

  <div class="row">
  
  <div class="col"> 
  
        <div class="card text-bg-dark">
           <img  class="card-img">
           <div class="card-img-overlay d-flex flex-column justify-content-center ">
              <h2>Interior Remodeling</h2>
           </div>
        </div>
     </div>
    </div>
  
    <div class="row">
      
      <div class="col-lg-3 col-md-2">
        <div class="card" style="width:14em; background-color: var(--kraft-light-green); margin-top: 3rem; margin-left:12rem;">
          <div class="card-header" style="color: var(--kraft-d-green);">
            <b>New Additions</b>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Sunrooms</b></li>
            <li class="list-group-item">Second story addition</li>
            <li class="list-group-item">Other additions</li>
            
          </ul>
        </div>
      </div>
    
      <div class="col-lg-3 col-md-2">
        <div class="card" style="width: 23rem; background-color: #FFE7E7; margin-top: 3rem;margin-left: 3.5em;">
          <img src="../../../assets/images/before1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text" style="color:black; font-size: 12px;">Before.</p>
          </div>
        </div>
      </div>
    
      <div class="col-lg-3 col-md-2">
        <div class="card" style="width: 23rem; background-color:#DDFFDA; margin-top: 3rem; margin-left: 6.5em;">
          <img src="../../../assets/images/after1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text" style="color:black; font-size: 12px;">After.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-6 offset-md-4 col-lg-7 offset-lg-3">
          <p class="txt">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <ul class="lii">
            <li>Lower electric bills</li>
            <li>Lower heating and cooling bills</li>
            <li>Lower water bills</li>
            <li>Better in home air quality</li>
            <li>Higher re-sale values </li>
          </ul>
          <p class="txt">simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row ">
        <div class="col-lg-3 col-md-2 mb-3">
    <div class="card text-center" style="background-color: var(--kraft-light-green);box-sizing: border-box;
    border: 1px solid #DDDD;height: 360px;width: 240px;
    border-radius: 5px 5px 0px 0px;margin-left: 43px;">
      <img src="../../../assets/images/Decks-and-Patioss 2 (1).png" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title" style="left:5.02%; color: white">Sunrooms</h3>
        <p class="card-text" style="color: white">simply dummy text of the printing and typesetting industry..</p>
        <a href="#" class="btn btn-success">More Details</a>
      </div>
    </div>
    
    </div>
    <div class="col-lg-3 col-md-2 mb-3">
      <div class="card text-center" style="background-color: var(--kraft-light-green);box-sizing: border-box;
      border: 1px solid #DDDD;height: 360px;width: 240px;
      border-radius: 5px 5px 0px 0px;margin-left: 6px;">
        <img src="../../../assets/images/kitchen 2.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title" style="left:5.02%; color: white">Second story addition</h3>
          <p class="card-text" style="color: white">simply dummy text of the printing and typesetting industry..</p>
          <a href="#" class="btn btn-success">More Details</a>
        </div>
      </div>
      
      </div>
      <div class="col-lg-3 col-md-2 mb-3">
        <div class="card text-center" style="background-color: var(--kraft-light-green);box-sizing: border-box;
        border: 1px solid #DDDD;height: 360px;width: 240px;
        border-radius: 5px 5px 0px 0px;margin-left: -30px;">
          <img src="../../../assets/images/new1-s 2.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title" style="left:5.02%;color: white">Sunrooms</h3>
            <p class="card-text" style="color: white">simply dummy text of the printing and typesetting industry..</p>
            <a href="#" class="btn btn-success">More Details</a>
          </div>
        </div>
        
        </div>
        <div class="col-lg-3 col-md-2 mb-1"> 
          <div class="card text-center" style="background-color: var(--kraft-light-green);box-sizing: border-box;
          border: 1px solid #DDDD;height: 360px;width: 240px;
          border-radius: 5px 5px 0px 0px;margin-left: -65px;">
            <img src="../../../assets/images/Decks-and-Patioss 2 (1).png" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title" style="left:5.02%; color: white;">Second story addition</h3>
              <p class="card-text" style="color: white;">simply dummy text of the printing and typesetting industry..</p>
              <a href="#" class="btn btn-success">More Details</a>
            </div>
          </div>
          
          </div>
      
    </div>
    
    </div>
    


<div class="get-quote" style="width:93rem;margin-left:3.5rem;">
  <div class="col-12 col-lg-8 offset-lg-1">
    <div class="card align-items-center justify-content-center ">
      <div class="card-body">
        <p class="card-text" style="color: white; font-size: 20px;">
          Looking for an affordable and reliable construction company for your project? <span>
          <a routerLink="/request-estimate" class="btn btn-success" style="border-color:white;"><span>Get a Quote</span></a> </span>
        </p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>