.head {
  font-size: 32px;
  margin-top: 1rem;
  margin-left: 8rem;
 }
 #my-img {
  filter: brightness(40%);
}
h3 {
  
  font-size: 24px;
  margin-top: 2rem;
  margin-left: 1rem;
}
 .chcktxt {
  margin-top : 1rem;
  margin-bottom: 1rem;
} 
.inputtxt {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.radtxt {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.btn {
  display: inline-block;
  background-color: var(--kraft-d-green);
  border-radius: var(--br-8xs);
  margin-left: 1rem;
}
.card-img {
  background-image:  linear-gradient(rgba(2, 90, 0, 0.6), rgba(2, 90, 0, 0.6)),url("../../../assets/reuimg/requestcode1-1@2x.png");
   background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 20vh; 
}
.card.align-items-center.justify-content-center {
      
  background-color: #025A00;
  box-sizing: border-box;
  padding: 10px;
  
} 
.test-nav {
  margin-top: 1rem;
  margin-left: 8rem;
  width: 200px;
 }
 .test-nav a {
   color: var(--colors-white);
   text-decoration: none;
   padding: 0px 3px;
 }
 .card.align-items-center.justify-content-center {
  
  background-color: darkgreen;
  margin-left:2rem;
  margin-bottom: 1rem;
  width: 63rem;
}

@media (max-width: 576px) {
  h2 {
     font-size: 24px;
     margin-left: 0;
     margin-top:0;
     
  }
  h3 {
    font-size: 20px;
    margin-left: 0;
    margin-top:0;
  }

 .centre { 
  margin-top: 0;
  text-align: center;
  font-size: 24px;
  display:flex;
  justify-content: center;

}
.head {
  font-size: 24px;
  margin-top: 0;
  margin-left:0;
 }
 .chcktxt {
  margin-bottom: 0;
  margin-top: 0
 }
 .radtxt {
  margin-bottom: 0;
  margin-top: 0
 }
 .inputtxt {
  margin-top: 0;
  margin-bottom: 0;
}
.btn {
 
    display: inline-block;
    background-color: var(--kraft-d-green);
    border-radius: var(--br-8xs);
    width: auto;
    height: auto;
}
.test-nav {
  margin-top: 0;
  margin-left: 0;
  width: 100%;
 }
 .card.align-items-center.justify-content-center {
  
  background-color: darkgreen;
  margin-left:0;
  margin-bottom: 0;
  width: auto;
}
}